<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1등에 당첨된다면 | 로또팡</title>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<!-- header include -->
<header id="header"><!-- header -->
    <div class="inner_header">
        <h1 class="logo"><a href="#"><img src="../../resources/img/common/img_header_logo.png" alt="로또예상번호는로또팡"></a></h1>
        <nav id="gnb">
            <h2 class="blind">글로벌네비게이션</h2>
            <ul class="main_menu">
                <li><a href="#">로또팡 조합기</a></li>
                <li><a href="#">로또 통계 비법자료</a></li>
                <li><a href="#">로또팡 조합 서비스</a></li>
                <li><a href="#">대세 추천번호</a></li>
                <li><a href="#">연금복권520정보/분석</a></li>
            </ul>
            <ul class="all_menu"><!-- 전체메뉴 -->
                <li class="menu_block">
                    <strong class="tit">로또팡 조합기</strong>
                    <ul>
                        <li><a href="#">로또팡 조합기 안내</a></li>
                        <li><a href="#">로또팡 조합기 실행</a></li>
                        <li><a href="#">[통계]역대 그룹핑 결과</a></li>
                        <li><a href="#">[통계]그룹출현현황 분석</a></li>
                        <li><a href="#">[통계]회차별 그룹핑 현황</a></li>
                    </ul>
                </li>
                <li class="menu_block">
                    <strong class="tit">로또 통계 비법자료</strong>
                    <ul>
                        <li><a href="#">로또팡만의 비법!</a></li>
                        <li><a href="#">통계분석 비밀서랍장</a></li>
                    </ul>
                </li>
                <li class="menu_block">
                    <strong class="tit">로또팡 조합 서비스</strong>
                    <ul>
                        <li><a href="#">로또팡 조합법 전체보기</a></li>
                        <li><a href="#">추천! 조합법</a></li>
                        <li><a href="#">2등~5등 최소보장조합법</a></li>
                        <li><a href="#">1등보장완전조합법</a></li>
                        <li><a href="#">로또팡 추천조합법</a></li>
                        <li><a href="#">독점공개! 올인조합법</a></li>
                        <li><a href="#">my 조합법</a></li>
                    </ul>
                </li>
                <li class="menu_block">
                    <strong class="tit">대세 추천번호</strong>
                    <ul>
                        <li><a href="#">대세 추천번호 안내</a></li>
                        <li><a href="#">추천번호 빨리 받기</a></li>
                        <li><a href="#">사용자조건 추천번호 받기</a></li>
                        <li><a href="#">3등, 4등 보장조합(당첨보장회원전용)</a></li>
                    </ul>
                </li>
                <li class="menu_block">
                    <strong class="tit">연금복권520정보/분석</strong>
                    <ul>
                        <li><a href="#">연금복권 당첨결과 종합</a></li>
                        <li><a href="#">연금복권 빠른 당첨 조회</a></li>
                        <li><a href="#">연금복권 지난 당첨 결과</a></li>
                    </ul>
                </li>
            </ul><!-- //전체메뉴 -->
        </nav>
        <div class="util_link">
            <h2 class="blind">유틸링크메뉴</h2>
            <button type="button" class="btn_login">로그인</button>
            <a href="#">회원가입</a>
            <a href="#">플러스회원권</a>
            <a href="#">고객센터</a>
            <a href="#">즐겨찾기</a>
            <a href="#">포츈82</a>
        </div>
    </div>
</header><!-- //header -->

<div id="container">
    <div class="sub_intro"><!-- sub_intro -->
        <div class="win_info">
            <p class="win_label">
                <span class="round">742</span>회 로또 당첨 번호
            </p>
            <p class="win_number">
                <span class="ball_n1th">1</span><!-- 1부터 9까지 class="ball_n1th" -->
                <span class="ball_n10th">12</span><!-- 10부터 19까지 class="ball_n10th" -->
                <span class="ball_n20th">23</span><!-- 20부터 29까지 class="ball_n20th" -->
                <span class="ball_n30th">34</span><!-- 30부터 39까지 class="ball_n30th" -->
                <span class="ball_n40th">48</span><!-- 40부터 49까지 class="ball_n40th" -->
                <span class="plus">+</span>
                <span class="ball_n1th">6</span>
            </p>
        </div>
        <p class="path">
            <span class="home">home</span>
            &gt;
            <strong class="now">1등에 당첨된다면</strong>
        </p>
    </div><!-- //sub_intro -->
    <div class="content_section full_page">
        
        <section id="content"><!-- content -->
            <h2 class="page_title">
                <span class="desc">로또예상번호는 로또팡</span>
                <span class="tit">로또에 당첨된다면</span>
            </h2>
            

            <div class="lotto_if_win"><!-- lotto_if_win -->
                <div class="desc_if_win ">
                    <p class="win_desc">
                        <span class="cong">
                        <b class="tit_sub">축하합니다!</b>
                        회원님은 지난 <b data-color="blue">767회차</b> 에 로또1등에 당첨되셨습니다!!
                        </span>
                        <br>
                        <span class="money">1등 당첨금액은 <b >6,339,31,438원</b> 입니다.</span> 
                        
                        <span class="other">
                            <br><br>자~ 지금 마음놓고 한번 쇼핑해보세요. 
                            <br>아래 쇼핑 목록에서 사고싶은것들을 골라보시고, 쇼핑결과를 한번 보세요~

                        </span>
                        <span class="desc_sub">과연 1등 당첨된다면 한번 쇼핑에 얼마나 쓰고 얼마가 남았나요?</span>

                    </p>
                </div>


                <ul class="list_if_win">
                    <li><!-- 아이템 -->
                        <h3 class="block_title">
                            <span class="tit">차 필요하시죠?</span>
                            <span class="desc">원하는 차를 선택해주세요!</span>
                        </h3>
                        
                        <ul class="list_item">
                            <li>
                                <span class="img_list_win">
                                    <!-- 이미지크기 : 290(W) 180(H) -->
                                    <img src="" alt="">
                                </span>
                                <div class="input_custom">
                                    <input type="checkbox" id="chk01" name="">
                                    <label for="chk01"><span>BMW3 시리즈</span></label>
                                </div>
                            </li>
                            <li>
                                <span class="img_list_win"><img src="" alt=""></span>
                                <div class="input_custom">
                                    <input type="checkbox" id="chk02" name="">
                                    <label for="chk02"><span>아우디 a7</span></label>
                                </div>
                            </li>
                            <li>
                                <span class="img_list_win"><img src="" alt=""></span>
                                <div class="input_custom">
                                    <input type="checkbox" id="chk03" name="">
                                    <label for="chk03"><span>벤츠 s클래스 600</span></label>
                                </div>
                            </li>
                            <li>
                                <span class="img_list_win"><img src="" alt=""></span>
                                <div class="input_custom">
                                    <input type="checkbox" id="chk04" name="">
                                    <label for="chk04"><span>디스커버리</span></label>
                                </div>
                            </li>
                            <li>
                                <span class="img_list_win"><img src="" alt=""></span>
                                <div class="input_custom">
                                    <input type="checkbox" id="chk05" name="">
                                    <label for="chk05"><span>포르쉐 카이엔</span></label>
                                </div>
                            </li>
                            <li>
                                <span class="img_list_win"><img src="" alt=""></span>
                                <div class="input_custom">
                                    <input type="checkbox" id="chk06" name="">
                                    <label for="chk06"><span>벤틀리</span></label>
                                </div>
                            </li>    
                        </ul>
                    </li><!-- //아이템 -->


                    <li><!-- 아이템 -->

                        <h3 class="block_title">
                            <span class="tit">점심먹고 나른한 오후, 휴식을 취해보세요!</span>
                            <span class="desc">원하는 상품을 체크해주세요!</span>
                        </h3>
                        
                        <ul class="list_item">
                            <li>
                                <span class="img_list_win"><img src="" alt=""></span>
                                <div class="input_custom">
                                    <input type="checkbox" id="chk011" name="">
                                    <label for="chk011"><span>W호텔 스파</span></label>
                                </div>
                            </li>
                            <li>
                                <span class="img_list_win"><img src="" alt=""></span>
                                <div class="input_custom">
                                    <input type="checkbox" id="chk022" name="">
                                    <label for="chk022"><span>그랜드하얏트 스파</span></label>
                                </div>
                            </li>
                            <li>
                                <span class="img_list_win"><img src="" alt=""></span>
                                <div class="input_custom">
                                    <input type="checkbox" id="chk033" name="">
                                    <label for="chk033"><span>삼성동 파크하얏트 스파</span></label>
                                </div>
                            </li>    
                        </ul>
                    </li><!-- //아이템 -->
                </ul>


                 <div class="btn_wrap" data-align="center">
                    
                    <button type="button" class="btn_strong btn_if_win">하루동안 쓴 쇼핑금액은?</button>
                </div>
            </div><!-- //lotto_if_win -->


           

        </section><!-- //content -->
    </div>
</div>
<!-- footer include -->
<footer id="footer">
    <div class="inner_footer">
        <div class="util_link">
            <a href="#">회사소개</a>
            <a href="#">개인정보취급방침</a>
            <a href="#">이용약관</a>
            <a href="#">공지사항</a>
            <a href="#">FAQ</a>
            <a href="#">서비스안내</a>
            <a href="#">제휴문의</a>
            <a href="#">로또팡 무료회원가입</a>
        </div>
        <p class="company_info">
            <span class="name">|주| 테크앤조이</span>
            <span>대표자 : 서주형</span>
            <span>사업자등록번호 : 108-81-84400</span>
            <span>통신판매업신고번호 : 2017-서울용산-00000</span>
            <span>개인정보 관리 책임자 : 서주형 (help@lottopang.co.kr) <br> 서울특별시 용산구 한강대로7길 38(한강로3가)</span>
            <span>TEL : 07-8221-5031</span>
            <span>FAX : 02-000-0000</span>
            <span>E-mail : help@lottopang.co.kr</span>
            <span class="copyright">COPYRIGHT &copy; LOTTOPANG ALL RIGHT RESERVED.</span>
        </p>
        <div class="partner">
            <a href="#"><img src="../../resources/img/common/banner_partner_naver.png" alt="NAVER"></a>
            <a href="#"><img src="../../resources/img/common/banner_partner_cafe24.png" alt="CAFE24"></a>
            <a href="#"><img src="../../resources/img/common/banner_partner_ftc.png" alt="공정거래위원회"></a>
            <a href="#"><img src="../../resources/img/common/banner_partner_danal.png" alt="DANAL"></a>
            <a href="#"><img src="../../resources/img/common/banner_partner_fortune82.png" alt="포츈82"></a>
        </div>
        <p class="footer_logo">
            <img src="../../resources/img/common/img_footer_logo.png" alt="로또예상번호는 로또팡">
        </p>
    </div>
</footer>
<script src="../../resources/lib/jquery-1.12.4.min.js"></script>
</body>
</html>