@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.input_custom input[type='checkbox'] + label:before, .input_custom input[type='radio'] + label:before { background: url("../img/common/ico_form_sprite.png") no-repeat; }

input[type="text"], input[type="password"], textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-width: 148px; height: 44px; line-height: 44px; padding: 0 15px; border-style: solid; border-width: 1px; font-size: 15px; border-color: #ccc; background: #fff; color: #000; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { border-color: #528dff; outline: 0; }

input[readonly][type="text"], input[readonly][type="password"], textarea[readonly] { border-color: #cfcfcf; background: #f4f4f4; color: #555; }

input[disabled][type="text"], input[disabled][type="password"], textarea[disabled] { border-color: #cfcfcf; background: #f4f4f4; color: #999; }

input[required][type="text"], input[required][type="password"], textarea[required] { border-color: #528dff; background: #e8f0f9; color: #528dff; font-weight: 800; }

input[required][readonly][type="text"], input[required][readonly][type="password"], textarea[required][readonly] { border-color: #528dff; background: #f4f4f4; color: #528dff; }

input[required][disabled][type="text"], input[required][disabled][type="password"], textarea[required][disabled] { border-color: #528dff; background: #f4f4f4; color: #999; }

.btn_primary, .btn_strong, .btn_table, button[disabled] { display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; min-width: 99px; height: 44px; padding: 0 20px; line-height: 44px; font-size: 15px; font-weight: 700; color: #fff; text-align: center; }

.btn_primary:hover, .btn_strong:hover, .btn_table:hover, button[disabled]:hover { text-decoration: none; }

/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; }

html, body { font-family: "Nanum Gothic", sans-serif; font-size: 14px; font-weight: 400; color: #000; height: 100%; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; font-size: 100%; }

em, i, address { font-style: normal; }

ul, ol { list-style: none; }

img { border: 0; vertical-align: top; }

table { border-collapse: collapse; width: 100%; table-layout: fixed; }

a { text-decoration: none; color: #000; }

a:hover { text-decoration: underline; }

input { font-family: "Nanum Gothic", sans-serif; font-size: 14px; font-weight: 400; color: #000; }

select { -webkit-appearance: none; font-family: "Nanum Gothic", sans-serif; font-size: 14px; font-weight: 400; color: #000; }

select::-ms-expand { display: none; }

button { font-family: "Nanum Gothic", sans-serif; font-size: 14px; font-weight: 400; color: #000; border: 0; background: transparent; cursor: pointer; }

textarea { font-family: "Nanum Gothic", sans-serif; font-size: 14px; font-weight: 400; color: #000; }

.blind { position: absolute; left: -9999px; width: 0; height: 0; }

#skipnavi { position: absolute; left: -9999px; width: 0; height: 0; }

caption { position: absolute; left: -9999px; width: 0; height: 0; }

/*style.css*/
/*layout*/
#header { position: absolute; left: 0; top: 0; width: 100%; min-width: 1190px; z-index: 100; background: #282564; }

#header .inner_header { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 1190px; margin: 0 auto; position: relative; padding: 42px 0 0 0; height: 152px; }

#header .inner_header:after { content: ""; display: block; clear: both; }

#header .inner_header .logo { float: left; padding-left: 5px; }

#header .inner_header #gnb { position: relative; float: right; padding: 40px 0 0 100px; }

#header .inner_header #gnb .main_menu { overflow: hidden; }

#header .inner_header #gnb .main_menu li { float: left; padding: 0 33px; height: 70px; line-height: 70px; }

#header .inner_header #gnb .main_menu li:last-child { padding-right: 0; }

#header .inner_header #gnb .main_menu a { display: block; height: 100%; color: #dcdcdc; font-size: 16px; font-weight: 700; }

#header .inner_header #gnb .all_menu { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: none; position: absolute; right: 0; width: 1190px; background: #fff; border-width: 0 1px 5px; border-style: solid; border-color: #85abf7 #d6d6d6; border-bottom: 5px solid #85abf7; }

#header .inner_header #gnb .all_menu .menu_block { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: table-cell; width: 20%; border-right: 1px solid #d6d6d6; background: #f3f4f8; }

#header .inner_header #gnb .all_menu .menu_block:last-child { border-right: 0; }

#header .inner_header #gnb .all_menu .menu_block .tit { display: block; padding: 18px 0; font-size: 16px; font-weight: 700; color: #4889e1; background: #fff; text-align: center; }

#header .inner_header #gnb .all_menu .menu_block ul { padding: 15px 7px; }

#header .inner_header #gnb .all_menu .menu_block ul li a { padding: 10px 20px; display: block; color: #555; }

#header .inner_header #gnb .all_menu .menu_block ul li a:hover { background: #85abf7; color: #fff; font-weight: 800; text-decoration: none; }

#header .inner_header .util_link { position: absolute; right: 0; top: 14px; font-size: 0; }

#header .inner_header .util_link a, #header .inner_header .util_link button { color: #8e8ea2; font-family: "Gulim", "굴림", sans-serif; font-size: 12px; vertical-align: middle; }

#header .inner_header .util_link a { position: relative; padding: 0 15px; }

#header .inner_header .util_link a:before { content: ""; position: absolute; right: 0; top: 0; width: 1px; height: 12px; background: #494778; }

#header .inner_header .util_link a:last-child { padding-right: 0; }

#header .inner_header .util_link a:last-child:before { display: none; }

#header .inner_header .util_link button { border: 1px solid #8e8ea2; width: 67px; height: 23px; }

#container { position: relative; z-index: 1; width: 100%; min-height: 100%; min-width: 1190px; padding: 152px 0 94px 0; }

.sub_intro { width: 1190px; margin: 0 auto; padding: 15px 0 12px; border-bottom: 5px solid #85abf7; }

.sub_intro:after { content: ""; display: block; clear: both; }

.sub_intro .win_info { float: left; padding: 0 0 0 10px; font-size: 0; }

.sub_intro .win_info .win_label, .sub_intro .win_info .win_number { display: inline-block; vertical-align: middle; }

.sub_intro .win_info .win_label { margin-right: 8px; font-family: "Gulim", "굴림", sans-serif; font-size: 12px; color: #555; }

.sub_intro .win_info .win_label .round { color: #e33b14; }

.sub_intro .win_info .win_number span { margin-right: 6px; }

.sub_intro .path { float: right; padding: 9px 0 0 0; font-size: 12px; font-family: "Gulim", "굴림", sans-serif; color: #787878; line-height: 100%; }

.sub_intro .path .home { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; display: inline-block; width: 10px; height: 12px; background: url("../img/common/ico_home.png") no-repeat 0 0; vertical-align: middle; }

.sub_intro .path .now { font-weight: normal; }

.content_section { position: relative; width: 1190px; min-height: 1110px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 0 0 250px; margin: 0 auto; }

#local_info { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; left: 0; top: 0; bottom: 0; width: 250px; padding: 0 0 94px 0; border-width: 0 1px; border-style: solid; border-color: #d6d6d6; }

#local_info .lnb_desc { padding: 43px 25px; background: #f3f4f8; border-bottom: 1px solid #d6d6d6; }

#local_info .lnb_desc span, #local_info .lnb_desc strong { display: block; }

#local_info .lnb_desc span { color: #787878; margin-bottom: 5px; }

#local_info .lnb_desc strong { font-size: 22px; font-weight: 700; letter-spacing: -1px; color: #3c3c3c; }

#local_info #lnb li { border-bottom: 1px solid #d6d6d6; }

#local_info #lnb li a { display: block; color: #000; font-size: 15px; padding: 18px 25px; }

#local_info #lnb li.on a { color: #528dff; }

#local_info .etc_info { padding: 20px 12px; }

#local_info .etc_info .ad { width: 224px; height: 94px; }

#local_info .etc_info .ad img { width: 100%; height: 100%; }

#local_info .etc_info .etc { margin: 22px 0 0 0; padding: 0 0 0 10px; letter-spacing: -1px; }

#local_info .etc_info .etc dt { font-size: 15px; font-weight: 700; color: #555; margin-bottom: 10px; }

#local_info .etc_info .etc dd { font-size: 13px; color: #72767e; margin-bottom: 12px; }

#local_info .etc_info .etc dd:last-child { margin-bottom: 0; }

#local_info .etc_info .etc dd.cc_tel { color: #85abf7; font-size: 27px; font-weight: 800; }

#content { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 940px; padding: 0 30px; /*title*/ }

#content .page_title { padding: 40px 0; text-align: center; border-bottom: 1px solid #d6d6d6; }

#content .page_title .desc, #content .page_title .tit { display: block; }

#content .page_title .desc { margin-bottom: 5px; color: #528dff; }

#content .page_title .tit { font-weight: 700; font-size: 28px; color: #000; }

#content .block_title { padding: 40px 5px 12px; border-bottom: 1px solid #505050; }

#content .block_title .tit { color: #000; font-size: 20px; }

#content .block_title .desc { color: #72767e; font-size: 15px; }

#content .block_title + .data_table { margin-left: 60px; margin-right: 60px; margin-top: 33px; }

#content .table_title { font-weight: 400; font-size: 20px; margin-bottom: 15px; }

#content .table_title span[data-color="red"] { font-weight: 700; }

#content .table_title span.desc { margin-left: 10px; font-size: 14px; color: #72767e; }

#footer { position: relative; z-index: 10; width: 100%; min-width: 1190px; margin: -94px 0 0 0; border-top: 1px solid #d6d6d6; background: #fafafa; }

#footer .inner_footer { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 1190px; margin: 0 auto; height: 93px; padding: 22px 0 0 95px; color: #888; }

#footer .inner_footer .util_link { display: none; }

#footer .inner_footer .company_info { font-family: "Gulim", "굴림", sans-serif; font-size: 0; }

#footer .inner_footer .company_info > span { position: relative; font-size: 12px; line-height: 183%; padding: 0 12px; }

#footer .inner_footer .company_info > span:first-child { padding-left: 0; }

#footer .inner_footer .company_info > span:first-child:before { display: none; }

#footer .inner_footer .company_info > span:before { content: ""; position: absolute; left: 0; top: 0; width: 1px; height: 12px; background: #b4b4b4; }

#footer .inner_footer .company_info .name { color: #555; }

#footer .inner_footer .company_info .copyright { font-family: Arial, sans-serif; font-size: 10px; vertical-align: bottom; }

#footer .inner_footer .company_info .copyright:before { display: none; }

#footer .inner_footer .partner { display: none; }

#footer .inner_footer .footer_logo { display: none; }

/*form controls*/
.input_custom { display: inline-block; vertical-align: middle; }

.input_custom input { position: absolute; left: -9999px; width: 0; height: 0; }

.input_custom input[type='checkbox'][disabled] + label:before { background-position: -105px -35px; }

.input_custom input[type='checkbox'][disabled][type='checkbox']:checked + label:before { background-position: -70px -35px; }

.input_custom input[type='checkbox']:checked + label:before { background-position: 0 -35px; }

.input_custom input[type='checkbox'] + label { cursor: pointer; }

.input_custom input[type='checkbox'] + label:before { content: ""; display: inline-block; vertical-align: middle; width: 25px; height: 25px; background-position: -35px -35px; }

.input_custom input[type='checkbox'] + label span { margin: 0 0 0 8px; vertical-align: middle; font-size: 15px; color: #000; }

.input_custom input[type='radio'][disabled] + label:before { background-position: -105px 0; }

.input_custom input[type='radio'][disabled][type='radio']:checked + label:before { background-position: -70px 0; }

.input_custom input[type='radio']:checked + label:before { background-position: 0 0; }

.input_custom input[type='radio'] + label { cursor: pointer; }

.input_custom input[type='radio'] + label:before { content: ""; display: inline-block; vertical-align: middle; width: 25px; height: 25px; background-position: -35px 0; }

.input_custom input[type='radio'] + label span { margin: 0 0 0 8px; vertical-align: middle; font-size: 15px; color: #000; }

textarea { min-width: auto; width: 100%; min-height: 60px; line-height: 140%; padding: 15px; }

select { min-width: 89px; width: auto; height: 44px; padding: 0 40px 0 15px; border: 1px solid #ccc; background-image: url("../img/common/ico_select.png"); background-repeat: no-repeat; background-position: 100% 0; background-color: #fff; color: #000; cursor: pointer; }

select[required] { border: 1px solid #528dff; background-color: #e8f0f9; color: #528dff; }

select[disabled] { border: 1px solid #cfcfcf; background-color: #f4f4f4; }

select[disabled][required] { border: 1px solid #528dff; background-color: #f4f4f4; }

/*input, selector, textares size*/
[data-width='200'] { width: 200px; }

[data-width='300'] { width: 300px; }

[data-width='500'] { width: 500px; }

[data-font='18'] { font-size: 18px; }

[data-font='20'] { font-size: 20px; }

[data-font='26'] { font-size: 26px; }

/*button style*/
.btn_primary { background: #72767e; }

.btn_primary:hover { background: #424448; }

.btn_strong { background: #528dff; }

.btn_strong:hover { background: #0050eb; }

.btn_table { min-width: 80px; height: 35px; margin-left: 10px; margin-right: 10px; border: 1px solid #bbbf; background: #fff; vertical-align: middle; line-height: 35px; color: #333; }

.btn_table:hover { background: #0050eb; border-color: #0050eb; color: #fff; }

button[disabled] { background: #b8b8b8; }

button[disabled]:hover { background: #b8b8b8; }

.btn_wrap { font-size: 0; margin: 40px 0 0 0; }

.btn_wrap[data-align="center"] { text-align: center; }

.btn_wrap[data-align="center"] .btn_primary, .btn_wrap[data-align="center"] .btn_strong { width: 200px; }

.btn_wrap[data-align="left"] { text-align: left; }

.btn_wrap[data-align="right"] { text-align: right; }

.btn_wrap #header .inner_header .util_link a, #header .inner_header .util_link .btn_wrap a, .btn_wrap #header .inner_header .util_link button, #header .inner_header .util_link .btn_wrap button, .btn_wrap button, .btn_wrap a { margin: 0 5px; }

/*table*/
.input_table { padding: 35px 0 0; border-bottom: 1px solid #d6d6d6; }

.input_table.list_type { padding: 0; }

.input_table.list_type tbody tr:last-child td, .input_table.list_type tbody tr:last-child th { padding-bottom: 15px; border-bottom: 0; }

.input_table.list_type th { border-bottom: 1px solid #d6d6d6; vertical-align: middle; }

.input_table.list_type td { padding: 15px 0; border-bottom: 1px solid #d6d6d6; }

.input_table tbody + tbody tr:first-child { border-top: 1px solid #d6d6d6; }

.input_table tbody + tbody tr:first-child td { padding-top: 40px; }

.input_table tbody + tbody tr:first-child th { padding-top: 55px; }

.input_table tbody tr:last-child td, .input_table tbody tr:last-child th { padding-bottom: 40px; }

.input_table th { padding: 15px 0 15px 60px; vertical-align: top; text-align: left; }

.input_table th:before { display: inline-block; content: "\2022"; vertical-align: middle; margin-right: 10px; font-size: 20px; color: #8a9fc7; }

.input_table td { padding: 5px 0; font-size: 0; }

.input_table td input, .input_table td .input_custom, .input_table td button, .input_table td a, .input_table td select { margin-right: 6px; vertical-align: middle; }

.input_table td .has_data + .input_custom { margin-left: 13px; }

.input_table td .input_custom { margin-left: 5px; }

.input_table .has_data { font-size: 15px; padding-bottom: 5px; vertical-align: inherit; }

.input_table .validate_notice { margin-top: 8px; color: #ea614e; font-size: 15px; padding-left: 15px; margin-bottom: 8px; }

.input_table .validate_notice:first-child { margin-top: 0; }

.input_table .validate_notice:last-child { margin-bottom: 0; }

.input_table .table_notice { margin-top: 8px; color: #72767e; font-size: 14px; padding-left: 15px; line-height: 150%; }

.input_table .verify-time { color: #ea614e; }

.input_table .link_page { margin-left: 10px; vertical-align: top; }

.data_table { border: 1px solid #d6d6d6; }

.data_table thead th { padding: 8px 0; background: #f3f4f8; border-width: 0 1px 1px 0; border-style: solid; border-color: #d6d6d6; font-size: 15px; font-weight: 400; color: #72767e; }

.data_table thead th:last-child { border-right: 0; }

.data_table tbody th, .data_table tbody td { padding: 16px 0; text-align: center; border-width: 0 1px 1px 0; border-style: solid; border-color: #d6d6d6; }

.data_table tbody th[data-align], .data_table tbody td[data-align] { padding-left: 27px; padding-right: 27px; text-align: left; }

.data_table tbody th { background: #f3f4f8; }

.data_table tbody th.mid_th { background: #fbfbfb; }

.data_table tbody td.cell_inner_btns { padding-top: 10px; padding-bottom: 10px; }

.data_table tbody tr td:last-child { border-right: 0; }

.data_table tbody tr:last-child th { border-bottom: 0; }

.data_table tbody tr:last-child td { border-bottom: 0; }

.data_table span[data-color="blue"] { font-weight: 800; }

.data_table .link_page { margin-left: 10px; vertical-align: top; }

/*tab*/
.tab { display: flex; }

.tab li { flex: 1; margin-left: -1px; }

.tab li a { display: block; text-align: center; height: 46px; line-height: 46px; border: 1px solid #d6d6d6; font-size: 16px; font-weight: 400; }

.tab li a:hover { text-decoration: none; }

.tab li:first-child { margin-left: 0; }

.tab li.on { position: relative; z-index: 1; }

.tab li.on a { border-color: #528dff; color: #fff; font-weight: 700; background: #528dff; }

/*pagenation*/
.pagenation { margin-top: 35px; font-size: 0; }

.pagenation .btn_first, .pagenation .btn_prev, .pagenation .btn_next, .pagenation .btn_end, .pagenation .now, .pagenation a { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; vertical-align: middle; width: 30px; height: 30px; border: 1px solid #d6d6d6; text-align: center; line-height: 26px; margin-left: -1px; font-size: 12px; color: #72767e; }

.pagenation .btn_first, .pagenation .btn_prev, .pagenation .btn_next, .pagenation .btn_end { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; background: url("../img/common/btn_pagination.png") no-repeat 0 0; }

.pagenation .btn_first { margin-left: 0; background-position: 0 0; }

.pagenation .btn_prev { background-position: 0 -38px; }

.pagenation .btn_next { background-position: -38px -38px; }

.pagenation .btn_end { background-position: -38px 0; }

.pagenation .now { position: relative; color: #000; font-weight: 700; }

.pagenation .now:after { content: ""; position: absolute; bottom: -1px; left: -1px; width: 30px; height: 3px; background: #528dff; }

/*list*/
/*lottoball*/
span[class^="ball_n"] { display: inline-block; width: 26px; height: 26px; line-height: 26px; font-size: 15px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; vertical-align: middle; text-align: center; color: #fff; font-family: Arial,sans-serif; font-weight: 700; }

span[class^="ball_n"] + .plus { vertical-align: middle; font-size: 14px; color: #555; }

span.ball_n1th { background: #f7b629; }

span.ball_n10th { background: #b5d9ed; }

span.ball_n20th { background: #ee7969; }

span.ball_n30th { background: #9b95e2; }

span.ball_n40th { background: #58ca7b; }

/*로또팡 슬로건*/
.lotto_pang_slogan { border: 1px solid #d6d6d6; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 10px 0 10px 30px; margin: 80px 0 0 0; background: #fff; }

.lotto_pang_slogan:after { content: ""; display: block; clear: both; }

.lotto_pang_slogan .logo { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; float: left; width: 108px; height: 66px; margin: 0 20px 0 0; background: url("../img/common/img_slogan_logo.gif") no-repeat 0 0; }

.lotto_pang_slogan .desc { float: left; line-height: 185%; color: #969696; padding: 12px 0; font-size: 12px; font-family: "Gulim", "굴림", sans-serif; }

.lotto_pang_slogan .desc span[data-color="blue"] { color: #528dff; }

.lotto_pang_slogan .btn_go { padding: 12px 20px 0 0; float: right; }

/*text*/
[data-color="red"] { color: #ea614e; }

[data-color="blue"] { color: #528dff; }

/*anchor*/
.link_page { vertical-align: middle; color: #528dff; text-decoration: underline; }

/*main*/
.main #container { padding-bottom: 223px; }

.main #footer { background: #e7e8ec; height: 223px; margin-top: -223px; border-top: 0; }

.main #footer .inner_footer { position: relative; padding: 22px 170px 0 0; color: #666; }

.main #footer .inner_footer .util_link { display: block; margin-bottom: 25px; font-family: "Gulim", "굴림", sans-serif; font-size: 0; }

.main #footer .inner_footer .util_link a { color: #666; position: relative; font-size: 12px; padding: 0 30px; }

.main #footer .inner_footer .util_link a:first-child { padding-left: 0; }

.main #footer .inner_footer .util_link a:first-child:before { display: none; }

.main #footer .inner_footer .util_link a:before { content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 12px; margin-top: -6px; background: #b4b4b4; }

.main #footer .inner_footer .company_info { margin-bottom: 25px; }

.main #footer .inner_footer .company_info > span { color: #666; }

.main #footer .inner_footer .company_info > span:before { background: #666; }

.main #footer .inner_footer .company_info .name { display: block; color: #000; }

.main #footer .inner_footer .company_info .name + span { padding-left: 0; }

.main #footer .inner_footer .company_info .copyright { display: block; padding-left: 0; }

.main #footer .inner_footer .partner { display: block; font-size: 0; }

.main #footer .inner_footer .partner a { margin-right: 45px; }

.main #footer .inner_footer .footer_logo { display: block; position: absolute; right: 0; top: 60px; }

/*member*/
.box_contents { padding: 25px 0; border-bottom: 1px solid #d6d6d6; }

.box_contents .input_custom { padding: 0 0 0 60px; }

.box_contents .link_more { vertical-align: middle; color: #528dff; text-decoration: underline; }

.btn_wrap_sns { padding: 105px 0; }

.btn_wrap_sns .btn_login_sns { display: block; width: 400px; height: 60px; line-height: 60px; margin: 0 auto 10px; text-align: center; font-size: 18px; font-weight: 700; }

.btn_wrap_sns .btn_login_sns[data-type="facebook"] { background: url("../img/common/bg_sns_facebook.png") no-repeat 0 0; background-color: #0a4aab; color: #fff; }

.btn_wrap_sns .btn_login_sns[data-type="google"] { background: url("../img/common/bg_sns_google.png") no-repeat 0 0; background-color: #ea5d4a; color: #fff; }

.btn_wrap_sns .btn_login_sns[data-type="naver"] { background: url("../img/common/bg_sns_naver.png") no-repeat 0 0; background-color: #00be39; color: #fff; }

.btn_wrap_sns .btn_login_sns[data-type="kakao"] { background: url("../img/common/bg_sns_kakao.png") no-repeat 0 0; background-color: #ffe906; color: #3e2d2e; }

input[data-align="center"] { text-align: center; }

input[data-align="right"] { text-align: right; }

.list_mem_benefit { display: flex; padding: 33px 60px 0; }

.list_mem_benefit li { flex: 1; padding: 32px 0 26px; margin: 0 9px; border: 1px solid #d6d6d6; text-align: center; }

.list_mem_benefit li > span:after { display: block; content: ""; width: 60px; height: 60px; margin: 17px auto 8px; background: url("../img/content/ico_coupon_benefit.png") no-repeat 0 0; }

.list_mem_benefit li[data-icon=type2] > span:after { background-position: -60px 0; }

.list_mem_benefit li[data-icon=type3] > span:after { background-position: -120px 0; }

.list_mem_benefit li[data-icon=type4] > span:after { background-position: -180px 0; }

.list_mem_benefit li p { line-height: 150%; }

.list_free_ticket { display: table; width: 100%; }

.list_free_ticket > div { display: table-cell; vertical-align: middle; }

.list_free_ticket > div:first-child { width: 25%; }

.list_free_ticket > div:nth-child(2) { width: 61%; }

.list_free_ticket > div span[data-color="red"] { font-weight: 800; }

.list_free_ticket > div .percent { display: inline-block; width: 58px; height: 47px; padding-top: 11px; border-radius: 50px; background-color: #ea614e; line-height: 120%; text-align: center; color: #fff; }

.tip_notice { padding: 9px 13px 11px; margin-top: 18px; background-color: #e6e6e6; }

.tip_notice dt, .tip_notice dd { display: inline-block; }

.tip_notice dt { padding: 1px 10px 3px; margin-right: 8px; background-color: #fff; border: 1px solid #cacaca; border-radius: 2px; color: #999; }

/* 휴대전화 + 인증번호 */
.verify_phone_input { width: 222px; }

.verify_phone_time { display: inline-block; width: 72px; margin-right: 6px; font-size: 14px; border-bottom: 1px solid #ccc; text-align: center; line-height: 42px; vertical-align: middle; color: #528dff; }

.box_contents.actions { overflow: hidden; padding-left: 60px; padding-right: 60px; }

.box_contents.actions .article { float: left; }

.box_contents.actions .actions { float: right; }

/*# sourceMappingURL=sourcemaps/common-ui.css.map */
