<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page layout</title>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body class="main"><!-- main의 경우 body class="main" -->
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<!-- header include -->
<header id="header"><!-- header -->
    <div class="inner_header">
        <h1 class="logo"><a href="#"><img src="../../resources/img/common/img_header_logo.png" alt="로또예상번호는로또팡"></a></h1>
        <nav id="gnb">
            <h2 class="blind">글로벌네비게이션</h2>
            <ul class="main_menu">
                <li><a href="#">로또팡 조합기</a></li>
                <li><a href="#">로또 통계 비법자료</a></li>
                <li><a href="#">로또팡 조합 서비스</a></li>
                <li><a href="#">대세 추천번호</a></li>
                <li><a href="#">연금복권520정보/분석</a></li>
            </ul>
            <ul class="all_menu"><!-- 전체메뉴 -->
                <li class="menu_block">
                    <strong class="tit">로또팡 조합기</strong>
                    <ul>
                        <li><a href="#">로또팡 조합기 안내</a></li>
                        <li><a href="#">로또팡 조합기 실행</a></li>
                        <li><a href="#">[통계]역대 그룹핑 결과</a></li>
                        <li><a href="#">[통계]그룹출현현황 분석</a></li>
                        <li><a href="#">[통계]회차별 그룹핑 현황</a></li>
                    </ul>
                </li>
                <li class="menu_block">
                    <strong class="tit">로또 통계 비법자료</strong>
                    <ul>
                        <li><a href="#">로또팡만의 비법!</a></li>
                        <li><a href="#">통계분석 비밀서랍장</a></li>
                    </ul>
                </li>
                <li class="menu_block">
                    <strong class="tit">로또팡 조합 서비스</strong>
                    <ul>
                        <li><a href="#">로또팡 조합법 전체보기</a></li>
                        <li><a href="#">추천! 조합법</a></li>
                        <li><a href="#">2등~5등 최소보장조합법</a></li>
                        <li><a href="#">1등보장완전조합법</a></li>
                        <li><a href="#">로또팡 추천조합법</a></li>
                        <li><a href="#">독점공개! 올인조합법</a></li>
                        <li><a href="#">my 조합법</a></li>
                    </ul>
                </li>
                <li class="menu_block">
                    <strong class="tit">대세 추천번호</strong>
                    <ul>
                        <li><a href="#">대세 추천번호 안내</a></li>
                        <li><a href="#">추천번호 빨리 받기</a></li>
                        <li><a href="#">사용자조건 추천번호 받기</a></li>
                        <li><a href="#">3등, 4등 보장조합(당첨보장회원전용)</a></li>
                    </ul>
                </li>
                <li class="menu_block">
                    <strong class="tit">연금복권520정보/분석</strong>
                    <ul>
                        <li><a href="#">연금복권 당첨결과 종합</a></li>
                        <li><a href="#">연금복권 빠른 당첨 조회</a></li>
                        <li><a href="#">연금복권 지난 당첨 결과</a></li>
                    </ul>
                </li>
            </ul><!-- //전체메뉴 -->
        </nav>
        <div class="util_link">
            <h2 class="blind">유틸링크메뉴</h2>
            <button type="button" class="btn_login">로그인</button>
            <a href="#">회원가입</a>
            <a href="#">자유이용권</a>
            <a href="#">고객센터</a>
            <a href="#">즐겨찾기</a>
            <a href="#">포츈82</a>
        </div>
    </div>
</header><!-- //header -->
<div id="container">
    <div class="sub_intro"><!-- sub_intro -->
        <div class="notice">
            <a href="#">
                <strong>[공지사항]</strong>
                <span>로또팡! 리뉴얼 기념 이벤트 (2017.09.20 ~ 10.20)</span>
            </a>
        </div>
    </div><!-- //sub_intro -->
    <div class="top_section">
        <div class="main_visual">

        </div>
        <section class="login_section">
            <h2 class="blind">로그인 영역</h2>
            <p class="notice">복잡한 회원 가입없이 빠르게 로그인</p>
            <ul class="sns_login">
                <li><a href="#"><img src="../../resources/img/content/sns_login_naver.png" alt="네이버계정으로 로그인"></a></li>
                <li><a href="#"><img src="../../resources/img/content/sns_login_google.png" alt="구글계정으로 로그인"></a></li>
                <li><a href="#"><img src="../../resources/img/content/sns_login_facebook.png" alt="페이스북계정으로 로그인"></a></li>
                <li><a href="#"><img src="../../resources/img/content/sns_login_kakao.png" alt="카카오계정으로 로그인"></a></li>
            </ul>
            <a href="#" class="link_search_id">가입계정 찾기</a>
            <a href="#" class="link_free_ticket">자유이용권 구매</a>
        </section>
    </div>
</div>
<!-- footer include -->
<footer id="footer" class="main">
    <div class="inner_footer">
        <div class="util_link">
            <a href="#">회사소개</a>
            <a href="#">개인정보취급방침</a>
            <a href="#">이용약관</a>
            <a href="#">공지사항</a>
            <a href="#">FAQ</a>
            <a href="#">서비스안내</a>
            <a href="#">제휴문의</a>
            <a href="#">로또팡 무료회원가입</a>
        </div>
        <p class="company_info">
            <span class="name">|주| 테크앤조이</span>
            <span>대표자 : 서주형</span>
            <span>사업자등록번호 : 108-81-84400</span>
            <span>통신판매업신고번호 : 2017-서울용산-00000</span>
            <span>개인정보 관리 책임자 : 서주형 (help@lottopang.co.kr) <br> 서울특별시 용산구 한강대로7길 38(한강로3가)</span>
            <span>TEL : 07-8221-5031</span>
            <span>FAX : 02-000-0000</span>
            <span>E-mail : help@lottopang.co.kr</span>
            <span class="copyright">COPYRIGHT &copy; LOTTOPANG ALL RIGHT RESERVED.</span>
        </p>
        <div class="partner">
            <a href="#"><img src="../../resources/img/common/banner_partner_naver.png" alt="NAVER"></a>
            <a href="#"><img src="../../resources/img/common/banner_partner_cafe24.png" alt="CAFE24"></a>
            <a href="#"><img src="../../resources/img/common/banner_partner_ftc.png" alt="공정거래위원회"></a>
            <a href="#"><img src="../../resources/img/common/banner_partner_danal.png" alt="DANAL"></a>
            <a href="#"><img src="../../resources/img/common/banner_partner_fortune82.png" alt="포츈82"></a>
        </div>
        <p class="footer_logo">
            <img src="../../resources/img/common/img_footer_logo.png" alt="로또예상번호는 로또팡">
        </p>
    </div>
</footer>
<script src="../../resources/lib/jquery-1.12.4.min.js"></script>
<script src="../../resources/js/common-ui.min.js"></script>
</body>
</html>