<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>홀수 당첨번호 분석 | 로또팡</title>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<!-- header include -->
<div id="container">
    <div class="sub_intro"><!-- sub_intro -->
        <div class="win_info">
            <p class="win_label">
                <span class="round">742</span>회 로또 당첨 번호
            </p>
            <p class="win_number">
                <span class="ball_n1th">1</span><!-- 1부터 9까지 class="ball_n1th" -->
                <span class="ball_n10th">12</span><!-- 10부터 19까지 class="ball_n10th" -->
                <span class="ball_n20th">23</span><!-- 20부터 29까지 class="ball_n20th" -->
                <span class="ball_n30th">34</span><!-- 30부터 39까지 class="ball_n30th" -->
                <span class="ball_n40th">48</span><!-- 40부터 49까지 class="ball_n40th" -->
                <span class="plus">+</span>
                <span class="ball_n1th">6</span>
            </p>
        </div>
        <p class="path">
            <span class="home">home</span>
            &gt;
            <span class="depth">로또 통계 비법자료</span>
            &gt;
            <span class="depth">로또 통계자료 전체보기</span>
            &gt;
            <strong class="now">홀수 당첨번호 분석</strong>
        </p>
    </div><!-- //sub_intro -->
    <div class="content_section">
        <section id="local_info"><!-- local_info -->
            <h2 class="blind">지역네비게이션</h2>
            <p class="lnb_desc">
                <span>로또팡만의 비법!</span>
                <strong>로또 통계 비법자료</strong>
            </p>
            <nav id="lnb"><!-- lnb -->
                <ul class="menu">
                    <li class="on">
                        <a href="#">로또 통계자료 전체보기</a>
                    </li>
                    <li>
                        <a href="#">로또 비법자료 전체보기</a>
                    </li>
                </ul>
            </nav><!-- //lnb -->
            <aside class="etc_info">
                <div class="ad">
                    <a href="#">
                        <img src="../../resources/img/temp/tmp_lnb_ad1.jpg" alt="로또팡 내 모든 서비스 무제한 이용가능!! 플러스회원권 구매하기">
                    </a><!-- N; img 관리자등록시 alt 갱신 -->
                </div>
                <dl class="etc">
                    <dt>고객센터</dt>
                    <dd class="cc_tel">070-8221-5031</dd>
                    <dd>운영시간 : 월 ~ 금 09:00 ~ 18:00</dd>
                </dl>
                <dl class="etc">
                    <dt>무통장 입금 계좌번호</dt>
                    <dd><strong>국민</strong> 443101-01-118753</dd>
                    <dd><strong>우리</strong> 1005-402-148847</dd>
                    <dd><strong>신한</strong> 110-214-719112</dd>
                    <dd>(예금주 : 서주형)</dd>
                </dl>
                <dl class="etc">
                    <dt>유의사항</dt>
                    <dd>- 1:1 회원 게시판에 입금 확인을 요청.</dd>
                    <dd>- 주문자와 입금자 이름이 일치해야 함.</dd>
                </dl>
            </aside>
        </section><!-- //local_info -->
        <section id="content"><!-- content -->
            <h2 class="page_title">
                <span class="desc">로또 통계자료 전체보기</span>
                <span class="tit">홀수 당첨번호 분석</span>
            </h2>

            <div class="page_title_banner"><!-- page_title_banner -->
                <a href="#">
                    <strong>비법 &amp; 희귀통계 <span>OPEN</span></strong>
                    <p>100% 적중 예상수, 제외수 뽑기!<span>바로가기</span></p>
                </a>
            </div>


            <div class="page_title_banner" data-type="odd_analysis"><!-- 홀수 당첨번호 Sub title -->
                <strong class="sub_tit">당첨번호가 모두 홀수였을 때는 어떤 상황이었지?</strong>
                <div class="desc">
                    <p>
                        <b>당첨번호가 모두 홀수만으로 구성되었습니다.</b>
                        <br>로또번호 45개중 홀수는 23개 완전조합하면 무려 10만개가 넘는 100,947개 조합
                        <br>그렇다면 홀수만으로 당첨번호가 구성될거라고 예상해도 조합을 만들어서 당첨되는 것은
                        <br>쉬운일이 아닌데 …

                        <br><br>과연 지금까지 홀수로만 당첨번호로 구성되었을 때는
                        <br>어떤 상황이었는지 확인해보고 앞으로 다가올 그날(모두 홀수인 회차) 대비하고자 합니다. 
                    </p>
                </div>
            </div><!-- //홀수 당첨번호 Sub title -->



            <h3 class="table_title">
                국내 최대 자료<span class="desc">꼭 필요한 당첨에 도움이 되는 통계 분석 자료</span>
            </h3>


            <div class="data_table"><!-- data_table  -->
                <table>
                    <caption class="table_caption">홀수 당첨번호 분석 - 당첨횟수</caption>
                    <colgroup>
                        <col style="width:31%">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">로또 1회부터 총 몇번 당첨?</th>
                            <td>
                                <b data-color="red">11번 당첨!</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- //data_table -->


            <div class="data_table"><!-- data_table  -->
                <table>
                    <caption class="table_caption">홀수 당첨번호 분석 - 당첨 시 사용된 번호 목록</caption>
                    <colgroup>
                        <col style="width:31%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row" rowspan="4">당첨 시 사용된 번호 목록</th>
                            <td>
                                <!--
                                    [Design]
                                    로또볼 디자인은 아래처럼 클래스로 분기됩니다.
                                    1. 1~9   : ball_n1th
                                    2. 10~19 : ball_n10th
                                    3. 20~29 : ball_n20th
                                    4. 30~39 : ball_n30th
                                    5. 40~49 : ball_n40th
                                -->
                                <span class="ball_n1th">1</span>
                            </td>
                            <td>4</td>
                            <td data-align="left">206회, 293회,315회, 581회</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="ball_n1th">3</span>
                            </td>
                            <td>4</td>
                            <td data-align="left">206회, 293회,315회</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="ball_n1th">5</span>
                            </td>
                            <td>4</td>
                            <td data-align="left">206회</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="ball_n1th">7</span>
                            </td>
                            <td>4</td>
                            <td data-align="left">75회</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- //data_table -->
            

            <div class="data_table"><!-- data_table  -->
                <table>
                    <caption class="table_caption">홀수 당첨번호 분석 - 당첨 시 합계 구간</caption>
                    <colgroup>
                        <col style="width:31%">
                        <col style="width:20%">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row" rowspan="5">당첨 시 합계 구간은<br>어땠나요?</th>
                            <td>합계 100 이하</td>
                            <td data-align="left">1번 출현</td>
                        </tr>
                        <tr>
                            <td>101~140 사이</td>
                            <td data-align="left">3번 출현</td>
                        </tr>
                        <tr>
                            <td>141~160 사이</td>
                            <td data-align="left">3번 출현</td>
                        </tr>
                        <tr>
                            <td>161~180 사이</td>
                            <td data-align="left">1번 출현</td>
                        </tr>
                        <tr>
                            <td>181 이상</td>
                            <td data-align="left">1번 출현</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- //data_table -->
            

            <div class="box_contents actions">
                <div class="article">
                    <p >본 자료는 로또팡에서만 확인할 수 있는 자료입니다. 자료가 유용하셨나요?</p>
                </div>
                <div class="actions">
                    <button class="btn_strong">즐겨찾기 사이트 추가</button>
                </div>
            </div>

            <aside class="lotto_pang_slogan"><!-- 하단 슬로건 -->
                <p class="logo">로또예상번호는 로또팡</p>
                <p class="desc">로또팡의 통계, 분석자료는 국내유일의 기법을 사용하여 새로운 자료들이 자주 추가됩니다! <br>로또 예상번호는 로또팡!</p>
            </aside><!-- //하단 슬로건 -->
        </section><!-- //content -->
    </div>
</div>
<!-- footer include -->
</body>
</html>
