<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로또 비법자료 전체보기 | 로또팡</title>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<!-- header include -->
<div id="container">
    <div class="sub_intro"><!-- sub_intro -->
        <div class="win_info">
            <p class="win_label">
                <span class="round">742</span>회 로또 당첨 번호
            </p>
            <p class="win_number">
                <span class="ball_n1th">1</span><!-- 1부터 9까지 class="ball_n1th" -->
                <span class="ball_n10th">12</span><!-- 10부터 19까지 class="ball_n10th" -->
                <span class="ball_n20th">23</span><!-- 20부터 29까지 class="ball_n20th" -->
                <span class="ball_n30th">34</span><!-- 30부터 39까지 class="ball_n30th" -->
                <span class="ball_n40th">48</span><!-- 40부터 49까지 class="ball_n40th" -->
                <span class="plus">+</span>
                <span class="ball_n1th">6</span>
            </p>
        </div>
        <p class="path">
            <span class="home">home</span>
            &gt;
            <span class="depth">로또 통계 비법자료</span>
            &gt;
            <strong class="now">로또 비법자료 전체보기</strong>
        </p>
    </div><!-- //sub_intro -->
    <div class="content_section">
        <section id="local_info"><!-- local_info -->
            <h2 class="blind">지역네비게이션</h2>
            <p class="lnb_desc">
                <span>로또팡만의 비법!</span>
                <strong>로또 통계 비법자료</strong>
            </p>
            <nav id="lnb"><!-- lnb -->
                <ul class="menu">
                    <li class="on">
                        <a href="#">로또 통계자료 전체보기</a>
                    </li>
                    <li>
                        <a href="#">로또 비법자료 전체보기</a>
                    </li>
                </ul>
            </nav><!-- //lnb -->
            <aside class="etc_info">
                <div class="ad">
                    <a href="#">
                        <img src="../../resources/img/temp/tmp_lnb_ad1.jpg" alt="로또팡 내 모든 서비스 무제한 이용가능!! 자유이용권 구매하기">
                    </a><!-- N; img 관리자등록시 alt 갱신 -->
                </div>
                <dl class="etc">
                    <dt>고객센터</dt>
                    <dd class="cc_tel">070-8221-5031</dd>
                    <dd>운영시간 : 월 ~ 금 09:00 ~ 18:00</dd>
                </dl>
                <dl class="etc">
                    <dt>무통장 입금 계좌번호</dt>
                    <dd><strong>국민</strong> 443101-01-118753</dd>
                    <dd><strong>우리</strong> 1005-402-148847</dd>
                    <dd><strong>신한</strong> 110-214-719112</dd>
                    <dd>(예금주 : 서주형)</dd>
                </dl>
                <dl class="etc">
                    <dt>유의사항</dt>
                    <dd>- 1:1 회원 게시판에 입금 확인을 요청.</dd>
                    <dd>- 주문자와 입금자 이름이 일치해야 함.</dd>
                </dl>
            </aside>
        </section><!-- //local_info -->
        <section id="content"><!-- content -->
            <h2 class="page_title">
                <span class="desc">로또 비법자료 전체보기</span>
                <span class="tit">로또 비법자료 전체보기</span>
            </h2>

            <div class="page_title_banner"><!-- page_title_banner -->
                <a href="#">
                    <strong>비법 &amp; 희귀통계 <span>OPEN</span></strong>
                    <p>100% 적중 예상수, 제외수 뽑기!<span>바로가기</span></p>
                </a>
            </div>


            <h3 class="block_title">
                <span class="tit">국내 최대 자료</span>
                <span class="desc">꼭 필요한 당첨에 도움이 되는 통계 분석 자료</span>
            </h3>

            
            <ol class="list_all_item"><!-- list_all_item -->
                <li>
                    <!-- 
                        [COMMENT] '통계 전체보기' 페이지의 목록이 
                        앵커안에 앵커가 있는 기획구조(ex:플러스 이용권 구매)여서, 부득이하게 같은 구조로 통일하기 위해
                        이미지에 한번 a를 감싸고, list 설명문구에도 별도로 a 를 감싸는 구조로 제작했습니다.
                        두개의 앵커 모두 처리 부탁드립니다.

                        img 크기 : (W)130 / (H)120
                     -->
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    
                    <div class="desc">
                        <a href="#">
                            <strong>1. 1번이 나온 다음 회차에 45번은 제외수? </strong>
                            <p>로또당첨번호로 1번이 나오고, 그 다음 회차에 로또번호 45번이 나올까요?</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                        <div class="desc">
                            <a href="#">
                                <strong>2. 당번중 작은 숫자에 X2, -1 번호는 제외?</strong>
                                <p>로또당첨번호중 가장 작은 번호에 곱하기 2를 하고 빼기 1을 해서 나온 번호는 과연 그 다음 회차에 당첨번호로 나올까요? </p>
                            </a>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                        <div class="desc">
                            <a href="#">
                                <strong>3. 짝수 5개 나온 다음 회차에 2번은 제외?</strong>
                                <p>로또당첨번호중 짝수가 5개이상을 차지하는 다음 회차에 짝수의 대표인 2번은 제외수일까요?</p>
                            </a>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>4. 끝수 6이 2개이상 2연속이면 다음에 6번?</strong>
                            <p>끝수6이 2개이상 당첨번호로 출현한 회차가 연속 2회차 이상인 경우에 다음 회차에 끝수6의 대표인 6번은 제외수일까요? </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>5. 한번호대 3개출현 다음에 그 번호대는?</strong>
                            <p>한 번호대에서 당첨번호가 3개 이상 나오면 그 다음 회차에 또 그 번호대 번호가 당첨번호로 또 나올까요?</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>6. 18번이 2회 연속 출현하는 스타일인가?</strong>
                            <p>18번이 당첨번호로 나오고 또 그 다음 회차에 바로 18번이 2연속으로 나올까요? </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>7. 연번이 2커플 출현 다음에 또 연번 출현?</strong>
                            <p>당첨번호로 동일한 번호가 2회 연속 출현했다면 그 다음회차까지 3연속으로 나올까요?</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>8. 44번이 나온 다음 회차에 4번은 제외? </strong>
                            <p>로또당첨번호중 가장 작은 번호(스타트번호)가 25번이상 나온 다음 회차에는 스타트번호가 몇번대일까요? </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>9. 동일 끝수 4개 출현! 다음에 끝수가 또?</strong>
                            <p>로또당첨번호중 짝수가 5개이상을 차지하는 다음 회차에 짝수의 대표인 2번은 제외수일까요?</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>10. 회차를 분해해서 나온 번호는 제외수?</strong>
                            <p>로또회차가 당첨번호에 영향을 줄까요? 회차를 분해해서 나온 번호는 과연 ?? 
                                <br>만약 610회차면 6+1+0=“7”번이 당첨번호로 나올까요? </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>11. 당번중 제일 큰수-작은수는 다음회에? </strong>
                            <p>직전 회차 ㅣ당첨번호 중 제일 큰수 – 제일 작은 수는 과연 다음 회차에 당첨번호로 출현할까요 ?
                                <br> 출현하지 않는다면 몇 회차가 지난 뒤에 출현할까요?</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>12. Cold수가 5개이상 출현 후, 또 cold 수?</strong>
                            <p>당첨번호내에 차가운 수가 5개 이상 들어갔다면, 또 그 다음 회차에도 당첨번호에 차가운 수가 포함될까요? </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>13. 11,22.. 가 당번이면 다음에 O 번호 있다!</strong>
                            <p>당첨번호에 11번 or 22번 or 33번 or 44번이 출현했다면! 다음 회차 당첨번호에 “10. 17, 20,29”번이 당첨 번호로 나올 확률이 크다 ? </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>14. 5주내 당번으로만 조합하면 최고 몇등? </strong>
                            <p>최근 5회차 이내에 당첨번호로 나온 번호들로만 조합해서 구매하면 당첨될 수 있을까? </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="" alt="" class="src"></a>
                    </div>
                    <div class="desc">
                        <a href="#">
                            <strong>15. 스타트번호 25번이상 그 다음 회차는? </strong>
                            <p>로또당첨번호 중 가장 작은 번호(스타트 번호)가 25번 이상 나온 다음 회차에는 스타트 번호가 몇번대일까요?</p>
                        </a>
                    </div>
                </li>
            </ol><!-- //list_all_item -->
            


            <div class="box_contents actions">
                <div class="article">
                    <p >본 자료는 로또팡에서만 확인할 수 있는 자료입니다. 자료가 유용하셨나요?</p>
                </div>
                <div class="actions">
                    <button class="btn_strong">즐겨찾기 사이트 추가</button>
                </div>
            </div>

            <aside class="lotto_pang_slogan"><!-- 하단 슬로건 -->
                <p class="logo">로또예상번호는 로또팡</p>
                <p class="desc">로또팡의 통계, 분석자료는 국내유일의 기법을 사용하여 새로운 자료들이 자주 추가됩니다! <br>로또 예상번호는 로또팡!</p>
            </aside><!-- //하단 슬로건 -->
        </section><!-- //content -->
    </div>
</div>
<!-- footer include -->
</body>
</html>
