<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>당첨번호 AC값 분석 | 로또팡</title>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<!-- header include -->
<div id="container">
    <div class="sub_intro"><!-- sub_intro -->
        <div class="win_info">
            <p class="win_label">
                <span class="round">742</span>회 로또 당첨 번호
            </p>
            <p class="win_number">
                <span class="ball_n1th">1</span><!-- 1부터 9까지 class="ball_n1th" -->
                <span class="ball_n10th">12</span><!-- 10부터 19까지 class="ball_n10th" -->
                <span class="ball_n20th">23</span><!-- 20부터 29까지 class="ball_n20th" -->
                <span class="ball_n30th">34</span><!-- 30부터 39까지 class="ball_n30th" -->
                <span class="ball_n40th">48</span><!-- 40부터 49까지 class="ball_n40th" -->
                <span class="plus">+</span>
                <span class="ball_n1th">6</span>
            </p>
        </div>
        <p class="path">
            <span class="home">home</span>
            &gt;
            <span class="depth">로또 통계 비법자료</span>
            &gt;
            <span class="depth">로또 통계자료 전체보기</span>
            &gt;
            <strong class="now">당첨번호 AC값 분석
            </strong>
        </p>
    </div><!-- //sub_intro -->
    <div class="content_section">
        <section id="local_info"><!-- local_info -->
            <h2 class="blind">지역네비게이션</h2>
            <p class="lnb_desc">
                <span>로또팡만의 비법!</span>
                <strong>로또 통계 비법자료</strong>
            </p>
            <nav id="lnb"><!-- lnb -->
                <ul>
                    <li class="on">
                        <a href="#">로또 통계자료 전체보기</a>
                    </li>
                    <li>
                        <a href="#">로또 비법자료 전체보기</a>
                    </li>
                </ul>
            </nav><!-- //lnb -->
            <aside class="etc_info">
                <div class="ad">
                    <a href="#">
                        <img src="../../resources/img/temp/tmp_lnb_ad1.jpg" alt="로또팡 내 모든 서비스 무제한 이용가능!! 자유이용권 구매하기">
                    </a><!-- N; img 관리자등록시 alt 갱신 -->
                </div>
                <dl class="etc">
                    <dt>고객센터</dt>
                    <dd class="cc_tel">070-8221-5031</dd>
                    <dd>운영시간 : 월 ~ 금 09:00 ~ 18:00</dd>
                </dl>
                <dl class="etc">
                    <dt>무통장 입금 계좌번호</dt>
                    <dd><strong>국민</strong> 443101-01-118753</dd>
                    <dd><strong>우리</strong> 1005-402-148847</dd>
                    <dd><strong>신한</strong> 110-214-719112</dd>
                    <dd>(예금주 : 서주형)</dd>
                </dl>
                <dl class="etc">
                    <dt>유의사항</dt>
                    <dd>- 1:1 회원 게시판에 입금 확인을 요청.</dd>
                    <dd>- 주문자와 입금자 이름이 일치해야 함.</dd>
                </dl>
            </aside>
        </section><!-- //local_info -->
        <section id="content"><!-- content -->
            <h2 class="page_title">
                <span class="desc">로또 통계자료 전체보기</span>
                <span class="tit">당첨번호 AC값 분석
</span>
            </h2>

            <div class="page_title_banner">
                <!-- 이미지 교체예정 -->
                <img src="../../resources/img/temp/tmp-banner.png" alt="">
                <!-- //이미지 교체예정 -->
            </div>



            <h3 class="table_title">
                국내 최대 자료<span class="desc">꼭 필요한 당첨에 도움이 되는 통계 분석 자료</span>
            </h3>


            <div class="data_table"><!-- data_table  -->
                <table>
                    <caption class="table_caption">당첨번호 AC값 분석
                    </caption>
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:15%">
                        <col style="width:15%">
                        <col style="width:auto">
                        <col style="width:15%">
                        <col style="width:15%%">
                        <col style="width:15%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2">회차</th>
                            <th scope="col" rowspan="2">ac값</th>
                            <th scope="col" rowspan="2">고저차</th>
                            <th scope="col" rowspan="2">연번유무</th>
                            <th scope="col" colspan="3">Ac값 구간</th>
                        </tr>
                        <tr>
                            <th scope="col">1~4</th>
                            <th scope="col">5~7</th>
                            <th scope="col">8~10</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="divide">
                                <td>
                                    <b data-color="blue">767</b>회
                                </td>
                            <td><b>10</b></td>
                            <td>33</td>
                            <td>있음</td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                        </tr>
                        <tr>
                            <td>
                                <b data-color="blue">767</b>회
                            </td>
                            <td><b>10</b></td>
                            <td>33</td>
                            <td>있음</td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                        </tr>
                        <tr class="divide">
                            <td>
                                <b data-color="blue">767</b>회
                            </td>
                            <td><b>10</b></td>
                            <td>33</td>
                            <td>있음</td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                        </tr>
                        <tr>
                            <td>
                                <b data-color="blue">767</b>회
                            </td>
                            <td><b>10</b></td>
                            <td>33</td>
                            <td>있음</td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                        </tr>
                        <tr class="divide">
                            <td>
                                <b data-color="blue">767</b>회
                            </td>
                            <td><b>10</b></td>
                            <td>33</td>
                            <td>있음</td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                        </tr>
                        <tr>
                            <td>
                                <b data-color="blue">767</b>회
                            </td>
                            <td><b>10</b></td>
                            <td>33</td>
                            <td>있음</td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                        </tr>
                        <tr class="divide">
                            <td>
                                <b data-color="blue">767</b>회
                            </td>
                            <td><b>10</b></td>
                            <td>33</td>
                            <td>있음</td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                        </tr>
                        <tr>
                            <td>
                                <b data-color="blue">767</b>회
                            </td>
                            <td><b>10</b></td>
                            <td>33</td>
                            <td>있음</td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                        </tr>
                        <tr class="divide">
                            <td>
                                <b data-color="blue">767</b>회
                            </td>
                            <td><b>10</b></td>
                            <td>33</td>
                            <td>있음</td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                        </tr>
                        <tr>
                            <td>
                                <b data-color="blue">767</b>회
                            </td>
                            <td><b>10</b></td>
                            <td>33</td>
                            <td>있음</td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                            <td>7<span data-color="gray">(1)</span></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- //data_table -->
            <div class="pagenation">
                <button type="button" class="btn_first">처음</button>
                <button type="button" class="btn_prev">이전</button>
                <strong class="now" title="현재페이지">1</strong>
                <a href="#">2</a>
                <a href="#">3</a>
                <button type="button" class="btn_next">다음</button>
                <button type="button" class="btn_end">끝</button>
            </div>

            <div class="box_contents actions">
                <div class="article">
                    <p >본 자료는 로또팡에서만 확인할 수 있는 자료입니다. 자료가 유용하셨나요?</p>
                </div>
                <div class="actions">
                    <button class="btn_strong">즐겨찾기 사이트 추가</button>
                </div>
            </div>

            <aside class="lotto_pang_slogan"><!-- 하단 슬로건 -->
                <p class="logo">로또예상번호는 로또팡</p>
                <p class="desc">로또팡의 통계, 분석자료는 국내유일의 기법을 사용하여 새로운 자료들이 자주 추가됩니다! <br>로또 예상번호는 로또팡!</p>
            </aside><!-- //하단 슬로건 -->
        </section><!-- //content -->
    </div>
</div>
<!-- footer include -->
</body>
</html>
