//임시. data-align 관련 속성들 어케합치징 //todo 안쓰이는거는 속성 확인하고 삭제하기
input{
  &[data-align="center"]{
	text-align:center;
  }
  &[data-align="right"]{
	text-align:right;
  }
}


//member_free_ticket 커스텀
// list_mem_benefit
.list_mem_benefit {
	display:flex;
	padding:33px 60px 0;
	li {
		flex:1;
		padding:32px 0 26px;
		margin:0 9px;
		border:1px solid #d6d6d6;
		text-align:center;

		> span:after {
			display:block;content:"";
			width:60px;height:60px;
			margin:17px auto 8px;
			background:url("#{$content-img}ico_coupon_benefit.png") no-repeat 0 0;
		}
		&[data-icon=type2] >span:after{background-position:-60px 0;}
		&[data-icon=type3] >span:after{background-position:-120px 0;}
		&[data-icon=type4] >span:after{background-position:-180px 0;}

		p {line-height:150%}
	}
}
// list_free_coupon (in data_table)
.list_free_ticket {
	display:table;
	width:100%;	
	> div {
		display:table-cell;
		vertical-align:middle;
		&:first-child {width:25%}
		&:nth-child(2) {width:61%}


		span[data-color="red"] {
			font-weight:$extra-bold;
		}

		.percent {
			display:inline-block;
			width:58px;height:47px;
			padding-top:11px;
			border-radius:50px;
			background-color:$notice-color;
			line-height:120%;
			text-align:center;
			color:#fff;
		}
	}
}


.tip_notice {
	padding:9px 13px 11px;
	margin-top:18px;
	background-color:#e6e6e6;	
	
	dt,dd {display:inline-block;}

	dt {
		padding:1px 10px 3px;
		margin-right:8px;
		background-color:#fff;
		border:1px solid #cacaca;
		border-radius:2px;
		color:#999;
	}

	dd {
	}
}


/* 휴대전화 + 인증번호 */
.verify_phone_input {
	width:222px;
}
.verify_phone_time {
    display: inline-block;
    width:72px;
    margin-right: 6px;
	font-size:$base-size;
	border-bottom:1px solid #ccc;
	text-align:center;
    line-height: 42px;
    vertical-align: middle;
    color:$strong-color;
}




// 좌측 Article + 우측 action contents 
.box_contents.actions {
	overflow:hidden;
	padding-left:60px;
	padding-right:60px;

	.article,.actions {
		display:table-cell;
		vertical-align:middle;
	}
	.article {
		width:100%;
	}
	.actions {
		white-space:nowrap;
	}

	&  + .lotto_pang_slogan {
      margin-top:-1px;
    }
}



// box_contents - 컨텐츠 순서별 디자인 Custom
.pagenation + .box_contents.actions {
	margin-top:35px;
	border-top:1px solid #ccc;
}

//stats_reemergence.html
.ball_desc {

	font-weight:$extra-bold;
}



//page_title_banner - [COMMENT] 미 : pc꺼 옮겨놨습니다. 이미지랑 사이즈, 디자인 조절 부탁합니다.
.page_title_banner {
	position:relative;
	overflow:hidden;
	margin-bottom: 35px;
	margin-top:-1px;
	border : {
		width: 1px 0;
		style: solid;
		color:#ebebeb transparent #c6c6c6;
	}

	& > a {
		display:block;
		height: 103px;
		padding-left: 390px;padding-top: 34px;
		margin-top:-1px;
		font-size: 22px;
		p {
			margin-top: 8px;
			font-size: 19px;
			span {
				font-size: 16px;
				margin-left: 12px;
				text-decoration: underline;
				color: #5b5b5b;
			}
		}
	}

	letter-spacing: -2px;
	background:#fbfbfb url("#{$content-img}banner_stats.png") no-repeat 160px 15px;


	strong {
		font-size:1.1em;

		span {
			position: relative;top: -2px;
			font-size: 18px;
			margin: 5px;
			padding: 1px 11px 6px;
			border-radius: 50px;
			letter-spacing: 0;
			background-color: #18699b;
			color: #fff;
		}
	}

	.sub_tit {
		display:inline-block;
		font-size:1.2em;
		padding: 3px 17px 5px;
		margin-bottom:17px;
		border-radius: 50px;
		background-color: #18699b;
		color: #fff;
	}

	.sub_desc {
		position:relative;
		float:left;
		margin-right:40px;
		min-width:190px;
		padding: 15px 28px 20px;
		border-radius:100px;

		font-size: 1.2em;
		line-height: 1.5em;
		box-shadow: 0px 5px 0px rgba(0,0,0,.08);
		background-color: #305a97;
		text-align: center;
		color: #fff;

		&:after {
			content:"";
			position:absolute;right:-20px;top:50%;
			margin-top:-27px;
			border : {
				style:solid;
				width:25px 0 25px 50px;
				color:transparent transparent transparent #305a97;
			}
		}
	}
	.tit_area {
		float:left;
	}

	.desc {
		padding-left:7px;
		font-size:1.1em;
		line-height:1.3em;

		p {
			font:inherit;
		}
		.result {
			margin-top:15px
		}
	}

	.forms {
		padding:0 5px 0;
		margin-top:10px;
	}

	// 로또통계 비법자료 [COMMENT] 갑 : data-type 으로 각 서브 큰 줄기 나눠서 bg 이미지 바꾸고.. 등등 할 생각이옵니다.
	&[data-type] {
		padding:25px 0;
		padding-left:240px;
		background : {
			image:none;
			position:100px center;
		}
		letter-spacing:-1px;
	}
	&[data-type~="desctype"] {
		// page_title_banner 공통배너 하단에 description 타입으로 붙는 banner
		padding-left:80px;
	}
	&[data-type="stats_suggest"] {
		padding-right:55px;
		background-image:url("#{$content-img}banner_stats_suggest.png");
		min-height:165px;

	}
	&[data-type="lotto_mix"] {
		background : {
			position:59px center;
			image:url("#{$content-img}banner_lotto_mix.png");
		}
	}
	&[data-type="fortune"] {
		background : {
			position:65px 60%;
			image:url("#{$content-img}banner_fortune.png");
		}
	}

	&[data-type="odd_analysis"] {
		background : {
			position:65px 60%;
			image:url("#{$content-img}banner_odd_analysis.png");
		}
	}
	&[data-type="mix_six"] {
		padding-left:305px;
		background : {
			position:115px 60%;
			// image:url("#{$content-img}banner_mix_six.png");
		}
	}
	&[data-type="halogen_venus"] {
		padding: {
			left:370px;
			bottom:45px;
		}
		background : {
			position:95px 54%;
			image:url("#{$content-img}banner_halogen_venus.png");
		}
	}
	span[class^="ball_n"] {
		letter-spacing:normal;
	}




	& + .page_title_banner {
		box-shadow:0 4px 0px #fcfcfc;
		.sub_tit {
			margin-bottom:5px;
			padding : {
				top:0;bottom:0;
				left:27px;
			}
			background:transparent url("#{$content-img}ico_desc_chk.png") 0 bottom no-repeat;
			color:#333
		}
		margin-top:-36px;
		background-color:#fff;
	}
}
// graph_odd_even 홀짝 출현현황 그래프 - [COMMENT] 미 : pc꺼 옮겨놨습니다. 이미지랑 사이즈, 디자인 조절 부탁합니다.
.graph_odd_even {
	display:flex;
	position:relative;
	overflow:hidden;
	width:358px;
	margin:0 auto;
	border-radius:20px;
	border:1px solid #bbb;
	background-color:#f9f9f9;

	&:after {
		display:block;content:"";
		position:absolute;
		left:0;right:0;top:0;bottom:0;
		background:url("#{$content-img}bg_odd_even_graph.png") 0 center no-repeat;

	}
	[data-graph] {
		flex:1;
		position:relative;
		height:26px;
		font-size:0;
		&:after {
			display:inline-block;content:"";
			position:absolute;top:0;bottom:0;
		}
	}

	$dataGraphStack: (
					1: 30px,
					2: 60px,
					3: 90px,
					4: 120px,
					5: 150%
	);
	@each $grapStack, $value in $dataGraphStack {
		[data-count='#{$grapStack}']:after {
			width:$value
		}
	}
	[data-graph="odd"] {
		&:after {
			right:0;
			background-image:linear-gradient(#ffdb74 30%, #fbba58 100%)
		}
	}
	[data-graph="even"] {
		&:after {
			left:0;
			background-image:linear-gradient(#517eb1 30%, #3c5d82 100%)
		}
	}
}


.data_table {
	tbody tr td {
		//[COMMENT] 갑 : 배경셀 diff 추가 
		&[data-bg="diff"] {
		    background-color: #ffff99;
		    font-weight: $bold;
		    color: #e10200;

		}

		//[COMMENT] 갑 : stats_more_than_last 부등호 추가
		[data-sign] {
			display:inline-block;
			width:2em;height:2em;
			font-weight:$bold;
			border-radius:50px;
			line-height:1.8em;
			color:#fff;
		} 

		[data-sign="big"] {
			background-color:#6196d4;
			text-indent:2px;
		}

		[data-sign="small"] {
			background-color:#ffc500;
			text-indent:-2px;
		}

		[data-sign="equal"] {
			background-color:#949494;
		}
	}
}



//  toggle title , cotents  todo ok
[data-show="termsDetailWrap"]{
	margin-top:20px;
	border-top:1px solid $border-base;
}
[data-toggle] {
	position:relative;
	button {
		width:100%;
		text-align:left;
	}

	&.block_title {
		padding:0;
		margin-top:0;
		margin-bottom:0;
		button {
			padding:12px 5px;
		}
	}

	&:after {
		display:block;content:"";
		position:absolute;right:10px;top:9px;
		width:33px;height:17px;
		background:url("#{$content-img}ico_toggle.gif") 0 -31px no-repeat;
		transition:background-position ease .2s;
	}
	&:hover:after {
		background-position:0 0
	}

	&.open:after {
		transform: rotate(180deg)
	}
}
[data-toggle].open + [data-toggle-cont] {
	display:block;
	padding:10px 0;
}

[data-toggle-cont] {
	display:none;
	height:300px;
	overflow-x: hidden;
	overflow-y: auto;
}




// [COMMENT] 모바일에서 간격조정 
.mix_t_radio .input_custom {
	margin-right:15px;
	&:last-child {margin-right:0;}
}


// [COMMENT] 모바일에서 select min-width 제거..'ㅅ'
select {
	min-width:0;
	border-radius:0;
}



// [COMMENT] 로또 조합기 전체보기 service_mix_all_search.html
.lotto_mix_list {
	margin:0;

	li {
		height:5.6em;
		border:0;
		border-left:1px solid #e5e5e5;

		.info, .how_many {
			height:100%;
			border: {
				width:1px 0;
				style:solid;
				color:#e5e5e5;
			}
		}

		.info {
			width:66%;
			box-sizing:border-box;
			padding:0;
			background-color:#fbfbfb;
			vertical-align:top;

			.number_ribbons {
				display:block;
				box-sizing:border-box;
				width:100%;height:auto;
				padding:10px 15px;
				font-weight:$bold;
				border-bottom:1px solid #e5e5e5;
				background-color:#f3f6fb;
				text-align:left;	

				strong {
					display:inline;
					margin-bottom:0;padding-top:0;
					font:inherit;
				}

				span {
					font-weight:$normal;
					font-size:.9em;
					color:#7b8caf;
				}
			}

			.desc {
				padding:10px 0 10px 15px;
				font-size:.95em;
				letter-spacing:-1px;

			}	
		}


		.how_many {
			width:13.5%;
			background-color:#fbfbfb;
			border-width:1px;
		}

		.mix_go {
			height:100%;
			padding:0 0 0 10px;
	
			.btn_primary {
				width:100%;min-width:0;
				height:100%;
				line-height:1.7em;
			}
		}
	}
	

	
}