//임시. data-align 관련 속성들 어케합치징 //todo 안쓰이는거는 속성 확인하고 삭제하기
input{
  &[data-align="center"]{
	text-align:center;
  }
  &[data-align="right"]{
	text-align:right;
  }
}


//member_free_ticket 커스텀
// list_mem_benefit
.list_mem_benefit {
	overflow:hidden;
	margin-bottom:40px;
	padding:15px;
	border:{
		style:solid;
		width:1px 0;
		color:#a5c3ff;
	}	

	li {
		box-sizing:border-box;
		float:left;
		width:50%;
		padding:15px 0 ;
		border:{
			style:solid;
			color:#d2e1ff;
			width:0 1px 1px 0;
		}	
		text-align:center;

		&:nth-child(even) {border-right:0;}
		&:nth-child(3),&:nth-child(4) {
			padding-bottom:10px;
			border-bottom:0;
		}

		> span:after {
			display:block;content:"";
			width:50px;height:50px;
			margin:15px auto 7px;
			background:{
				repeat: no-repeat;
				position: center center;
				size:contain;
			};
		}

		@for $iconType from 1 through 4 {
		  &[data-icon='type#{$iconType}']>span:after{background-image:url("#{$content-img}ico_coupon_benefit0#{$iconType}.png")}
		}


		p {line-height:150%}
	}
}
// list_free_coupon (in data_table)
.list_free_ticket {
	display:table;
	width:100%;	
	> div {
		display:table-cell;
		vertical-align:middle;
		&:first-child {width:25%}
		&:nth-child(2) {width:61%}


		span[data-color="red"] {
			font-weight:$extra-bold;
		}

		.percent {
			display:inline-block;
			width:58px;height:47px;
			padding-top:11px;
			border-radius:50px;
			background-color:$notice-color;
			line-height:120%;
			text-align:center;
			color:#fff;
		}
	}
}


.tip_notice {
	padding:9px 13px 11px;
	margin-top:18px;
	background-color:#e6e6e6;	
	
	dt,dd {display:inline-block;}

	dt {
		padding:1px 10px 3px;
		margin-right:8px;
		background-color:#fff;
		border:1px solid #cacaca;
		border-radius:2px;
		color:#999;
	}

	dd {
	}
}


/* 휴대전화 + 인증번호 */
.verify_phone_input {
	width:222px;
}
.verify_phone_time {
    display: inline-block;
    width:72px;
    margin-right: 6px;
	font-size:$base-size;
	border-bottom:1px solid #ccc;
	text-align:center;
    line-height: 42px;
    vertical-align: middle;
    color:$strong-color;
}




// 좌측 Article + 우측 action contents 
.box_contents.actions {
	overflow:hidden;
	padding-left:60px;
	padding-right:60px;

	.article,.actions {
		display:table-cell;
		vertical-align:middle;
	}
	.article {
		width:100%;
	}
	.actions {
		white-space:nowrap;
	}

	&  + .lotto_pang_slogan {
      margin-top:-1px;
    }
}



// box_contents - 컨텐츠 순서별 디자인 Custom
.pagenation + .box_contents.actions {
	margin-top:35px;
	border-top:1px solid #ccc;
}

//stats_reemergence.html
.ball_desc {

	font-weight:$extra-bold;
}

.box_wrap {
	font-size:1rem;
}


//page_title_banner 
.page_title_banner {
	position:relative;
	overflow:hidden;
	padding:0 15px 18px;
	margin-bottom: 35px;
	font-size:1rem;
	border: {
		width:0 1px 1px;
		style: solid;
		color:#ccc;
	}

	background-color:#fafafa;
	text-align:center;
	border-radius:6px;
	box-shadow:0 3px #f3f3f3;

	&:after, &:before {
		display:block;content:"";
		height:5px;
		position:absolute;top:0;
	}
	&:before {
		left:0;right:66.6%;
		background-color:#eb7767;
	}
	&:after {
		left:66.6%;right:0;
		background-color:#7cb0dd;
	}


	.keyword {
		display: inline-block;
	    padding: 3px 13px 3px 11px;
	    margin-left:5px;
	    border-radius: 30px;
	    letter-spacing: -1px;
		background-color:#eb6555;
		color:#fff;
	}



	.sub_tit,.sub_desc {
		display:block;
		margin:0 -15px 17px;
		padding:17px 40px 14px;
		border-bottom:1px solid #192243;
		border-top:5px solid #f8b623;
		box-shadow:0 0 5px rgba(0,0,0,.5);
		font: {
			size:1.12rem;
			weight:$normal;
		};

		background-color:#50597b;
		line-height:1.3em;
		text-align: center;
		color: #fff;
	}

	.desc {
		font-size:1.07rem;
		> a {
			font-size:1.05rem;
			.link_fake {
				padding-left:5px;
				text-decoration:underline;
				color:#6599ff;
			}

		}
	}


	& + .page_title_banner {
		box-shadow:0 4px 0px #fcfcfc;
		.sub_tit {
			margin-bottom:5px;
			padding : {
				top:0;bottom:0;
				left:27px;
			}
			background:transparent url("#{$content-img}ico_desc_chk.png") 0 bottom no-repeat;
			color:#333
		}
		margin-top:-36px;
		background-color:#fff;
	}

	&[data-type="banner"] {
		.sub_tit {
			font-size:1.3em;
		}
	}
	&[data-type="halogen_venus"] {
		.desc {
			padding-top:193px;
			background:url("#{$content-img}banner_halogen_venus.png") center 0 no-repeat;
		}
		
	}
}



// 대세추천번호 - 서비스안내 recommend_about.html
.trend_about_service {
	position:relative;
	box-sizing:border-box;	
	overflow:hidden;
	padding: 0 2px 15px;
	background-color:#223863;	
	border-radius:3px;
	color:#fff;

	.link_rec_hurry {
		position:relative;
		display:block;
	    margin: -10px 25px;
	    padding:10px 0;
	    font-size: 1rem;
	    background-color: rgba(67, 177, 220, 0.88);
	    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.7);
	    letter-spacing: -1px;
	    border-radius: 3px;
	    color: #fff;
	    text-align: center;
	    z-index:20;

		span {
			display:block;
			font-size:16px;
			letter-spacing:0;
			text-decoration:underline

		}
	}

	.btn_wrap {
		padding:0 15px;
	}
	

	p.desc {
		display:inline-block;
		padding-top:14px;
		font-size:1.1em;
		line-height:1.5em;
		letter-spacing:-.7px;
		
		b {
			display:block;
			font-size:1.2em;
			letter-spacing:-1px;
		}
	}

	.lotto_ball {
		overflow:hidden;
		height:33px;
		padding-right:30px;
		text-align:right;
		opacity:.6;
		span[class^="ball"] {
			box-sizing:border-box;
			width:50px;height:50px;
			font-size:1.8rem;
			padding-top:14px;
		}
	}
	.tit_trend_about {
	    padding: 25px 0 15px;
	    margin:0 15px 18px;
	    font-size: 1.7rem;
	    border-bottom:1px solid #657799;
    	line-height: 45px;
    	letter-spacing: -3px;
    	text-shadow:0 0 15px rgba(0,0,0,.7);
    	text-align:center;

    	b {
		    display: inline-block;
		    box-sizing: border-box;
		    width: 40px;height: 40px;
		    margin-left:-5px;
		    font-size: 1.27rem;
		    padding-top: 0;
		    margin-right: 12px;
		    border-radius: 100px;
		    background-color: #4081ff;
		    vertical-align: unset;
		    text-align: center;
		    text-shadow: none;
		    line-height: 2.2em;
    	}

		.desc {
			display:block;
			padding:10px 10px 0;
			font: { 
				size :1rem;
				weight:$normal;
			}
			letter-spacing:-.5px;
			line-height:1.5rem;
		}
	}

	.desc_key {
		padding:0 25px 10px;
		font-size:1rem;
 
		li {
			margin-bottom:17px;
			line-height:25px;
			span {
				display:block;
				color:#9db7e8;
			}
		}
	}
	.list_trend_service {
		position:relative;
		padding:30px 40px;
		background-color:#fff;
		border-radius:3px;
		box-shadow:0 -5px 10px rgba(0,0,0,.2);
		z-index:10;

		li {
			position:relative;
			margin-bottom:25px;	
			padding-bottom:30px;	
			border-bottom:1px solid #dadada;
			color:#333;

			.num {
				display:inline-block;
				box-sizing:border-box;

				width:37px;height:37px;
				padding : {
					top:9px;
					left:10px;
				}
				border-radius:100px;
				font-size:1.8rem;
				font-weight:$extra-bold;
				background-color:#4378dc;
				box-shadow: 2px 2px 0 rgb(30, 71, 123);
				line-height:1em;
				text-align:center;
				vertical-align:middle;
				letter-spacing:-3px;
				color:#fff;
			}

			.tit {
				display:inline-block;
				width:70%;
				width:calc(100% - 70px);
				margin-left:10px;
				font-size:1.2em;
				line-height:1.8rem;
				vertical-align:middle;
				letter-spacing:-1px;
				color:#333;
			}

			&:last-child {
				padding-bottom:0;
				border-bottom:0
			}
		}

	}

	.desc_strong {
	    padding: 18px 20px;
	    margin: -10px -20px 30px;
	    font-size: 1.1rem;
	    background-color: #f2f2f2;
	    border-radius: 5px;
	    text-align: center;
	    color: #333;
	}
	.btn_wrap {
		margin:15px 0 5px;
		button {
			height:60px;min-width:260px;
			font-size:20px;

		}
	}



	&[data-type="join_done"] {
		.list_trend_service  {
			li {
				margin-bottom:20px;
				padding-bottom:20px;
				.tit {
					font-size:1.1rem;
				}
				.num {
					width:34px;height:34px;
					font-size:1.6rem;
				}
			}
		}

		.link_rec_hurry {
			margin-top:25px;
			font-size:1.4rem;
		}
		.tit_trend_about {
			.desc {
			    font-size: 1.2rem;
				line-height: normal;
				color: #d9dfeb;
			}
		}

	}



}




// graph_odd_even 홀짝 출현현황 그래프 - [COMMENT] 미 : pc꺼 옮겨놨습니다. 이미지랑 사이즈, 디자인 조절 부탁합니다.
.graph_odd_even {
	display:flex;
	position:relative;
	overflow:hidden;
	width:100%;
	max-width:358px;
	margin:0 auto;
	border-radius:20px;
	border:1px solid #bbb;
	background-color:#f9f9f9;

	&:after {
		display:block;content:"";
		position:absolute;
		left:0;right:0;top:0;bottom:0;
		background:url("#{$content-img}bg_odd_even_graph.png") 0 center no-repeat;
		background-size:100% 100%;

	}
	[data-graph] {
		flex:1;
		position:relative;
		height:26px;
		font-size:0;
		&:after {
			display:inline-block;content:"";
			position:absolute;top:0;bottom:0;
		}
	}
	

	@for $grapStack from 1 through 5 {
	  [data-count='#{$grapStack}']:after { width: 16.6% * $grapStack; }
	}


	[data-graph="odd"] {
		&:after {
			right:0;
			background-image:linear-gradient(#ffdb74 30%, #fbba58 100%)
		}
	}
	[data-graph="even"] {
		&:after {
			left:0;
			background-image:linear-gradient(#517eb1 30%, #3c5d82 100%)
		}
	}
}


.data_table {
	tbody tr td {
		//[COMMENT] 갑 : 배경셀 diff 추가 
		&[data-bg="diff"] {
		    background-color: #ffff99;
		    font-weight: $bold;
		    color: #e10200;

		}

		//[COMMENT] 갑 : stats_more_than_last 부등호 추가
		[data-sign] {
			display:inline-block;
			width:2em;height:2em;
			font: {
				size:1.25em;
				weight:$bold;
			}
			border-radius:50px;
			line-height:2em;
			color:#fff;
		} 

		[data-sign="big"] {
			background-color:#4395f7;
			text-indent:2px;
		}

		[data-sign="small"] {
			background-color:#ffbb23;
			text-indent:-2px;
		}

		[data-sign="equal"] {
			background-color:#949494;
		}
	}

	.b_arr {
		display:inline-block;
		width:1em;height:1.5em;
		margin:0 -2px;
		background:url("#{$content-img}ico_next_ball.png") 0 0 no-repeat;
		background-size:auto 100%;
		text-indent:-1000px;
		vertical-align:middle;
	}
}



//  toggle title , cotents  todo ok
[data-show="termsDetailWrap"]{
	margin-top:20px;
	border-top:1px solid $border-base;
}
[data-toggle] {
	position:relative;
	button {
		width:100%;
		text-align:left;
	}

	&.block_title {
		padding:0;
		margin-top:0;
		margin-bottom:0;
		button {
			padding:12px 5px;
		}
	}

	&:after {
		display:block;content:"";
		position:absolute;right:10px;top:9px;
		width:33px;height:17px;
		background:url("#{$content-img}ico_toggle.gif") 0 -31px no-repeat;
		transition:background-position ease .2s;
	}
	&:hover:after {
		background-position:0 0
	}

	&.open:after {
		transform: rotate(180deg)
	}
}
[data-toggle].open + [data-toggle-cont] {
	display:block;
	padding:10px 0;
}

[data-toggle-cont] {
	display:none;
	height:300px;
	overflow-x: hidden;
	overflow-y: auto;
}



// 장문 텍스트 박스 디자인 (약관 등)
.text_box {
	padding:30px 15px;
	border:1px solid #ccc;
	h1 {
		padding:20px 0;
		margin-top:30px;
		font-weight:$bold;
		font-size:1em;
		border-top:1px dashed #ccc;
		
		&:first-child {
			margin-top:0;
			padding-top:0;
			border-top:0;
		}
	}
	p {
		margin-bottom:10px;
	}
	ul, ol {
		padding:15px;
		background-color:#f5f5f5;
	}
	li {
		margin-bottom:8px;
	}
}

//[COMMENT] 탭 관련 CSS 추가했어요 ..'ㅁ' - cs_terms.html
[data-tab-cont] {
	display:none;
	padding-top:20px;
}
.page_title + .tab {
	margin-top:40px;
}






// [COMMENT] 이하 모바일에서 간격조정 
.mix_t_radio .input_custom {
	margin-right:15px;
	&:last-child {margin-right:0;}
}
.btn_top_wrap {
	margin : {
		right:0;
		left:0;
		top:0;
	}
}
.btn_wrap + .data_table {
	margin-top:15px
}

.input_table {
	td {
		// [COMMENT]service_saju_mix.html - 성별 row 참고. td의 min-height 지정이 없어서 지정했습니다!
		height:35px;
	}
}



// [COMMENT] 모바일에서 select min-width 제거..'ㅅ'
select {
	min-width:0;
	border-radius:0;
}



// [COMMENT] 로또 조합기 전체보기 service_mix_all_search.html
.lotto_mix_list {
	margin:0;

	li {
		height:5.6em;
		border:0;
		border-left:1px solid #e5e5e5;

		.info, .how_many {
			height:100%;
			border: {
				width:1px 0;
				style:solid;
				color:#e5e5e5;
			}
		}

		.info {
			width:66%;
			box-sizing:border-box;
			padding:0;
			background-color:#fbfbfb;
			vertical-align:top;

			.number_ribbons {
				display:block;
				box-sizing:border-box;
				width:100%;height:auto;
				padding:10px 15px;
				font-weight:$bold;
				border-bottom:1px solid #e5e5e5;
				background-color:#f3f6fb;
				text-align:left;	

				strong {
					display:inline;
					margin-bottom:0;padding-top:0;
					font:inherit;
				}

				span {
					font-weight:$normal;
					font-size:.9em;
					color:#7b8caf;
				}
			}

			.desc {
				padding:10px 0 10px 15px;
				font-size:.95em;
				letter-spacing:-1px;

			}	
		}


		.how_many {
			width:13.5%;
			background-color:#fbfbfb;
			border-width:1px;
		}

		.mix_go {
			height:100%;
			padding:0 0 0 10px;
	
			.btn_primary {
				width:100%;min-width:0;
				height:100%;
				line-height:1.7em;
			}
		}
	}
	
}

// [COMMENT] cs_terms.html - li flex-auto 타입 추가했어요
.tab.flex_auto {
	padding:0 10px;
	li {
		flex:auto;
		padding:0 1px;
		letter-spacing:-1px;
		a {
			font-size:1em
		}
	}
}

// list_all_item - 로또 통계/비법자료 전체보기
.list_all_item {

	li {
		display:table;
		width:100%;	
		position:relative;
		padding-bottom:20px;
		margin-bottom:20px;
		border-bottom:1px solid #e7e7e7;
		cursor:pointer;
		
		&:after {
			display:block;content:"";
			position:absolute;right:10px;top:50%;
			width:19px;height:35px;
			margin-top:-27.5px;
			background:url("#{$content-img}ico_all_more.gif") -31px 0 no-repeat;
			transition:background-position ease .2s;
		}

		&:hover:after {
			background-position:0 0;
		}
		&:hover a {
			text-decoration:underline;

		}
			

		.img,.desc {
			display:table-cell;
		}
		.img {
			overflow:hidden;
			width:110px;height:100px;
			border:1px solid #ddd;
			a {
				display:block;
				height:100%;
			}
			img {
				max-width:100%;
			}
		}
		.desc {
			padding: {
				left:15px;
			}
			strong {
				display:block;
				margin-bottom:8px;
			}
			a {
				display:block;
			}
			.tip {
				padding : {
					left:28px;
					top:8px;
				}
			    margin-top: 10px;
			    border-top: 1px dashed #dfdede;
				background:url("#{$content-img}ico_all_tip.png") 0 8px no-repeat;
			    color: #006d56;
			}
		}
	}
}




// list_all_keyitem - 임시
.list_all_keyitem {
	display:flex;
	margin-bottom:40px;
	border : {
		style:solid;
		width:1px;
		color:#e6e6e6;
		radius:4px;
	}
	
	li {
		flex:1;
		padding:27px 0 19px;
		border-left:1px solid #f2f2f2;
		text-align:center;
		color:#555;

		&:first-child {
			border-left:0;
		}
		&:before {
			display:block;content:"";
			width:80px;height:43px;
			margin:0 auto 10px;
			//background:url("#{$content-img}ico_all_keyitem.png") no-repeat 0 0;
		}
		&[data-icon=type1]:before{background-position:12px 0;}
		&[data-icon=type2]:before{background-position:-84px 0;}
		&[data-icon=type3]:before{background-position:-188px 0;}
		&[data-icon=type4]:before{width:105px;background-position:-303px 0;}
		&[data-icon=type5]:before{background-position:-432px 0;}

		p {line-height:150%}
	}
}

// 로또팡 서비스 안내 mypage_about_service.html
.list_about_service {
	background-color:#fff;
	border-radius:2px;


	li {
		position:relative;
		overflow:hidden;
		padding:20px 0;
		
		border-bottom:1px solid #eee;
		&:last-child {border-bottom:0;}

		.question {
			display:inline-block;
			position: relative;
			max-width:74%;
		    padding: 10px 20px 20px;
		    font-size: 15px;
		    border: 1px solid #dfdfdf;
		    border-radius: 50px;
		    background-color: #fcfcfc;
		    letter-spacing: -.2px;
		}

		.link_about {
			position:relative;
			float:right;
		    padding: 6px 15px 9px 40px;
		    margin-top:-13px;
		    font-weight: 700;
		    font-size: 15px;
		    background:#fff url('#{$content-img}ico_chk_about_service.png') no-repeat 8px center;
		    border-radius: 3px;
		    border: 1px solid #b7b7b7;
		    color: #2c2c2c;
		    letter-spacing: -.4px;
		    box-shadow:0 0 10px rgba(0,0,0,.07);
		    text-decoration:underline;
		}
	}
}


// 테크앤조이 소개 - mypage_technjoy
.about_technjoy {

	.about_title {
		display:block;
		margin:0 0 25px;
    	padding: 6px 0 9px;
    	font-size: 1.3rem;
    	border-bottom:1px solid #ddd;
    	letter-spacing: -1px;
    	text-align: center;
    	color:#000;
	}

	
	.list_portfolio {
		padding-bottom:40px;
		font-size:16px;

		li {
			padding:5px 30px 20px;
			text-align:center;

			&:before {
				display:block;content:"";
				width:64px;height:64px;
				margin:12px auto 16px;
				background : {
					repeat:no-repeat;
					size:contain;
					position:center 0;
				}
			}
			&.mobile:before {
				background-image:url("#{$content-img}ico_about_mobile.png");	
			}
			&.iptv:before {
				background-image:url("#{$content-img}ico_about_tv.png");	
			}
			&.offline:before {
				background-image:url("#{$content-img}ico_about_offline.png");	
			}
			&:last-child {
				margin-right:0;
			}

			strong {
				display:block;
				margin-bottom:10px;
				text-align:center;
			}

			p {
				font-size:15px;
				line-height:20px;
				text-align:left;
			}
		}
	}

	.list_skills {
		margin-bottom:40px;
		text-align:center;

		li {
			display:inline-block;
			box-sizing:border-box;
			overflow:hidden;
			position:relative;
			height:150px;width:150px;

			padding-top:95px;

			border: {
				style:solid;
				width:0 0 5px;
				color:#ccc;
				radius:100px;
			}

			font-size:1rem;
			line-height:1.25em;
			text-align:center;
			letter-spacing:-1px;

			color:#fff;
			&:last-child {margin-right:0;}

			> span {
				position:absolute;
				left:0;right:0;bottom:0;
				padding-top:8px;padding-bottom:10px;
				background:inherit;
				box-shadow:0 -2px 5px rgba(0, 0, 0, 0.12);

				z-index:10;
			}

			&:after {
				display:block;content:"";
				position:absolute;
				top:10px;right:10px;bottom:8px;left:10px;
				border-radius:100px;
				background-color:#fff;
				background-repeat:no-repeat;
				background-size:62% auto;
			}


			
			&:nth-child(1) {
				margin-right:10px;
				background-color: #ef7967;
				border-color:#b54d3d;
				&:after {
					background-image:url("#{$content-img}ico_about_exp.png");
					background-position:44% 24%;
				}
			}


			&:nth-child(2) {
				background-color: #f8b623;
				border-color: #ab7b0f;
				&:after {
					background-image:url("#{$content-img}ico_about_skill.png");
					background-position:center 28%;
				}
			}

			&:nth-child(3) {
				background-color: #11487e;
				border-color: #153553;
				&:after {
					background-image:url("#{$content-img}ico_about_person.png");
					background-position:center 42%;
				}
			}

			
		}

	}
}
.tit_about {
	font-size:24px;

}


//[COMMENT] 스크롤링 되었을때 하단 Fixed 상태에서 다른 컨텐츠랑 오버랩될때 구분주려고 추가
.week_lotto_info {
	box-shadow:0 0 3px rgba(0,0,0,.3)
}



