//임시. data-align 관련 속성들 어케합치징 //todo 안쓰이는거는 속성 확인하고 삭제하기
input{
  &[data-align="center"]{
	text-align:center;
  }
  &[data-align="right"]{
	text-align:right;
  }
}


//member_free_ticket 커스텀
// list_mem_benefit
.list_mem_benefit {
	overflow:hidden;
	margin-bottom:40px;
	padding:15px;
	border:{
		style:solid;
		width:1px 0;
		color:#a5c3ff;
	}	

	li {
		box-sizing:border-box;
		float:left;
		width:50%;
		padding:15px 0 ;
		border:{
			style:solid;
			color:#d2e1ff;
			width:0 1px 1px 0;
		}	
		text-align:center;

		&:nth-child(even) {border-right:0;}
		&:nth-child(3),&:nth-child(4) {
			padding-bottom:10px;
			border-bottom:0;
		}

		> span:after {
			display:block;content:"";
			width:50px;height:50px;
			margin:15px auto 7px;
			background:{
				repeat: no-repeat;
				position: center center;
				size:contain;
			};
		}

		@for $iconType from 1 through 4 {
		  &[data-icon='type#{$iconType}']>span:after{background-image:url("#{$content-img}ico_coupon_benefit0#{$iconType}.png")}
		}


		p {line-height:150%}
	}
}
// list_free_coupon (in data_table)
.list_free_ticket {
	display:table;
	width:100%;	
	> div {
		display:table-cell;
		vertical-align:middle;
		&:first-child {width:25%}
		&:nth-child(2) {width:61%}


		span[data-color="red"] {
			font-weight:$extra-bold;
		}

		.percent {
			display:inline-block;
			width:58px;height:47px;
			padding-top:11px;
			border-radius:50px;
			background-color:$notice-color;
			line-height:120%;
			text-align:center;
			color:#fff;
		}
	}
}


.tip_notice {
	padding:9px 13px 11px;
	margin-top:18px;
	background-color:#e6e6e6;	
	
	dt,dd {display:inline-block;vertical-align:middle;}

	dt {
		width:10%;
		padding:1px 10px 3px;
		margin-right:8px;
		background-color:#fff;
		border:1px solid #cacaca;
		border-radius:2px;
		text-align:center;
		color:#999;
	}

	dd {
		width:75%;
	}
}


/* 휴대전화 + 인증번호 */
.verify_phone_input {
	width:222px;
}
.verify_phone_time {
    display: inline-block;
    width:72px;
    margin-right: 6px;
	font-size:$base-size;
	border-bottom:1px solid #ccc;
	text-align:center;
    line-height: 42px;
    vertical-align: middle;
    color:$strong-color;
}




// 좌측 Article + 우측 action contents 
.box_contents.actions {
	overflow:hidden;
	padding-left:60px;
	padding-right:60px;

	.article,.actions {
		display:table-cell;
		vertical-align:middle;
	}
	.article {
		width:100%;
	}
	.actions {
		white-space:nowrap;
	}

	&  + .lotto_pang_slogan {
      margin-top:-1px;
    }
}



// box_contents - 컨텐츠 순서별 디자인 Custom
.pagenation + .box_contents.actions {
	margin-top:35px;
	border-top:1px solid #ccc;
}

//stats_reemergence.html
.ball_desc {

	font-weight:$extra-bold;
}

.box_wrap {
	font-size:1rem;
}


//page_title_banner 
.page_title_banner {
	position:relative;
	overflow:hidden;
	padding:0 15px 18px;
	margin-bottom: 35px;
	font-size:1rem;
	border: {
		width:0 1px 1px;
		style: solid;
		color:#ccc;
	}

	background-color:#fafafa;
	text-align:center;
	border-radius:6px;
	box-shadow:0 3px #f3f3f3;

	&:after, &:before {
		display:block;content:"";
		height:5px;
		position:absolute;top:0;
	}
	&:before {
		left:0;right:66.6%;
		background-color:#eb7767;
	}
	&:after {
		left:66.6%;right:0;
		background-color:#7cb0dd;
	}


	.keyword {
		display: inline-block;
	    padding: 3px 13px 3px 11px;
	    margin-left:5px;
	    border-radius: 30px;
	    letter-spacing: -1px;
		background-color:#eb6555;
		color:#fff;
	}



	.sub_tit,.sub_desc {
		display:block;
		margin:0 -15px 17px;
		padding:17px 40px 14px;
		border-bottom:1px solid #192243;
		border-top:5px solid #f8b623;
		box-shadow:0 0 5px rgba(0,0,0,.5);
		font: {
			size:1.12rem;
			weight:$normal;
		};

		background-color:#50597b;
		line-height:1.3em;
		text-align: center;
		color: #fff;
	}

	.desc {
		font-size:1.07rem;
		> a {
			font-size:1.05rem;
			.link_fake {
				padding-left:5px;
				text-decoration:underline;
				color:#6599ff;
			}

		}
	}


	& + .page_title_banner {
		box-shadow:0 4px 0px #fcfcfc;
		.sub_tit {
			margin-bottom:5px;
			padding : {
				top:0;bottom:0;
				left:27px;
			}
			background:transparent url("#{$content-img}ico_desc_chk.png") 0 bottom no-repeat;
			color:#333
		}
		margin-top:-36px;
		background-color:#fff;
	}

	&[data-type="banner"] {
		.sub_tit {
			font-size:1.3em;
		}
	}
	&[data-type="halogen_venus"] {
		.desc {
			padding-top:193px;
			background:url("#{$content-img}banner_halogen_venus.png") center 0 no-repeat;
		}
		
	}
}


.btn_wrap {
	&[data-align] .flex_auto {
			flex:auto;
		}
}
.mix_contents + .list_primary,
.box_wrap .list_primary:first-child {margin-top:20px;} 



// TR-게시판형- No data
.board_table {
	.nodata {
		td {
			height:90px;
			font-size:1rem;
			letter-spacing:-1px;
			color:#999;		}
	}
}


// 대세추천번호 - 서비스안내 recommend_about.html
.trend_about_service {
	position:relative;
	box-sizing:border-box;	
	overflow:hidden;
	padding: 0 2px 15px;
	background-color:#223863;	
	border-radius:3px;
	color:#fff;

	.link_rec_hurry {
		position:relative;
		display:block;
	    margin: -10px 25px;
	    padding:10px 0;
	    font-size: 1rem;
	    background-color: rgba(67, 177, 220, 0.88);
	    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.7);
	    letter-spacing: -1px;
	    border-radius: 3px;
	    color: #fff;
	    text-align: center;
	    z-index:20;

		span {
			display:block;
			font-size:16px;
			letter-spacing:0;
			text-decoration:underline

		}
	}

	.btn_wrap {
		padding:0 15px;
	}


	

	p.desc {
		display:inline-block;
		padding-top:14px;
		font-size:1.1em;
		line-height:1.5em;
		letter-spacing:-.7px;
		
		b {
			display:block;
			font-size:1.2em;
			letter-spacing:-1px;
		}
	}

	.lotto_ball {
		overflow:hidden;
		height:33px;
		padding-right:30px;
		text-align:right;
		opacity:.6;
		span[class^="ball"] {
			box-sizing:border-box;
			width:50px;height:50px;
			font-size:1.8rem;
			padding-top:14px;
		}
	}
	.tit_trend_about {
	    padding: 25px 0 15px;
	    margin:0 15px 18px;
	    font-size: 1.7rem;
	    border-bottom:1px solid #657799;
    	line-height: 45px;
    	letter-spacing: -3px;
    	text-shadow:0 0 15px rgba(0,0,0,.7);
    	text-align:center;

    	b {
		    display: inline-block;
		    box-sizing: border-box;
		    width: 40px;height: 40px;
		    margin-left:-5px;
		    font-size: 1.27rem;
		    padding-top: 0;
		    margin-right: 12px;
		    border-radius: 100px;
		    background-color: #4081ff;
		    vertical-align: unset;
		    text-align: center;
		    text-shadow: none;
		    line-height: 2.2em;
    	}

		.desc {
			display:block;
			padding:10px 10px 0;
			font: { 
				size :1rem;
				weight:$normal;
			}
			letter-spacing:-.5px;
			line-height:1.5rem;
		}
	}

	.desc_key {
		padding:0 25px 10px;
		font-size:1rem;
 
		li {
			margin-bottom:17px;
			line-height:25px;
			span {
				display:block;
				color:#9db7e8;
			}
		}
	}
	.list_trend_service {
		position:relative;
		padding:30px 40px;
		background-color:#fff;
		border-radius:3px;
		box-shadow:0 -5px 10px rgba(0,0,0,.2);
		z-index:10;

		li {
			position:relative;
			margin-bottom:25px;	
			padding-bottom:30px;	
			border-bottom:1px solid #dadada;
			color:#333;

			.num {
				display:inline-block;
				box-sizing:border-box;

				width:37px;height:37px;
				padding : {
					top:9px;
					left:10px;
				}
				border-radius:100px;
				font-size:1.8rem;
				font-weight:$extra-bold;
				background-color:#4378dc;
				box-shadow: 2px 2px 0 rgb(30, 71, 123);
				line-height:1em;
				text-align:center;
				vertical-align:middle;
				letter-spacing:-3px;
				color:#fff;
			}

			.tit {
				display:inline-block;
				width:70%;
				width:calc(100% - 70px);
				margin-left:10px;
				font-size:1.2em;
				line-height:1.8rem;
				vertical-align:middle;
				letter-spacing:-1px;
				color:#333;
			}

			&:last-child {
				padding-bottom:0;
				border-bottom:0
			}
		}

	}

	.desc_strong {
	    padding: 18px 20px;
	    margin: -10px -20px 30px;
	    font-size: 1.1rem;
	    background-color: #f2f2f2;
	    border-radius: 5px;
	    text-align: center;
	    color: #333;
	}
	.btn_wrap {
		margin:15px 0 5px;
		button {
			height:60px;min-width:260px;
			font-size:20px;

		}
	}



	&[data-type="join_done"] {
		.list_trend_service  {
			li {
				margin-bottom:20px;
				padding-bottom:20px;
				.tit {
					font-size:1.1rem;
				}
				.num {
					width:34px;height:34px;
					font-size:1.6rem;
				}
			}
		}

		.link_rec_hurry {
			margin-top:25px;
			font-size:1.4rem;
		}
		.tit_trend_about {
			.desc {
			    font-size: 1.2rem;
				line-height: normal;
				color: #d9dfeb;
			}
		}

	}

}




// graph_odd_even 홀짝 출현현황 그래프 - [COMMENT] 미 : pc꺼 옮겨놨습니다. 이미지랑 사이즈, 디자인 조절 부탁합니다.
.graph_odd_even {
	display:flex;
	position:relative;
	overflow:hidden;
	width:100%;
	max-width:358px;
	margin:0 auto;
	border-radius:20px;
	border:1px solid #bbb;
	background-color:#f9f9f9;

	&:after {
		display:block;content:"";
		position:absolute;
		left:0;right:0;top:0;bottom:0;
		background:url("#{$content-img}bg_odd_even_graph.png") 0 center no-repeat;
		background-size:100% 100%;

	}
	[data-graph] {
		flex:1;
		position:relative;
		height:26px;
		font-size:0;
		&:after {
			display:inline-block;content:"";
			position:absolute;top:0;bottom:0;
		}
	}
	

	@for $grapStack from 1 through 5 {
	  [data-count='#{$grapStack}']:after { width: 16.6% * $grapStack; }
	}


	[data-graph="odd"] {
		&:after {
			right:0;
			background-image:linear-gradient(#ffdb74 30%, #fbba58 100%)
		}
	}
	[data-graph="even"] {
		&:after {
			left:0;
			background-image:linear-gradient(#517eb1 30%, #3c5d82 100%)
		}
	}
}


.data_table {
	tbody tr td {
		//[COMMENT] 갑 : 배경셀 diff 추가 
		&[data-bg="diff"] {
		    background-color: #ffff99;
		    font-weight: $bold;
		    color: #e10200;

		}

		//[COMMENT] 갑 : stats_more_than_last 부등호 추가
		[data-sign] {
			display:inline-block;
			width:2em;height:2em;
			font: {
				size:1.25em;
				weight:$bold;
			}
			border-radius:50px;
			line-height:2em;
			color:#fff;
		} 

		[data-sign="big"] {
			background-color:#4395f7;
			text-indent:2px;
		}

		[data-sign="small"] {
			background-color:#ffbb23;
			text-indent:-2px;
		}

		[data-sign="equal"] {
			background-color:#949494;
		}
	}

	.b_arr {
		display:inline-block;
		width:1em;height:1.5em;
		margin:0 -2px;
		background:url("#{$content-img}ico_next_ball.png") 0 0 no-repeat;
		background-size:auto 100%;
		text-indent:-1000px;
		vertical-align:middle;
	}
}



//  toggle title , cotents  todo ok
[data-show="termsDetailWrap"]{
	margin-top:20px;
	border-top:1px solid $border-base;
}
[data-toggle] {
	position:relative;
	button {
		width:100%;
		text-align:left;
	}

	&.block_title {
		padding:0;
		margin-top:0;
		margin-bottom:0;
		button {
			padding:12px 5px;
		}
	}

	&:after {
		display:block;content:"";
		position:absolute;right:10px;top:9px;
		width:33px;height:17px;
		background:url("#{$content-img}ico_toggle.gif") 0 -31px no-repeat;
		transition:background-position ease .2s;
	}
	&:hover:after {
		background-position:0 0
	}

	&.open:after {
		transform: rotate(180deg)
	}
}
[data-toggle].open + [data-toggle-cont] {
	display:block;
	padding:10px 0;
}

[data-toggle-cont] {
	display:none;
	height:300px;
	overflow-x: hidden;
	overflow-y: auto;
}



// 장문 텍스트 박스 디자인 (약관 등)
.text_box {
	padding:30px 15px;
	border:1px solid #ccc;
	h1 {
		padding:20px 0;
		margin-top:30px;
		font-weight:$bold;
		font-size:1em;
		border-top:1px dashed #ccc;
		
		&:first-child {
			margin-top:0;
			padding-top:0;
			border-top:0;
		}
	}
	p {
		margin-bottom:10px;
	}
	ul, ol {
		padding:15px;
		background-color:#f5f5f5;
	}
	li {
		margin-bottom:8px;
	}
}

//[COMMENT] 탭 관련 CSS 추가했어요 ..'ㅁ' - cs_terms.html
[data-tab-cont] {
	display:none;
	padding-top:20px;
}
.page_title + .tab {
	margin-top:40px;
}






// [COMMENT] 이하 모바일에서 간격조정 
.mix_t_radio .input_custom {
	margin-right:15px;
	&:last-child {margin-right:0;}
}
.btn_top_wrap {
	margin : {
		right:0;
		left:0;
		top:0;
	}
}
.btn_wrap + .data_table {
	margin-top:15px
}

.input_table {
	td {
		// [COMMENT]service_saju_mix.html - 성별 row 참고. td의 min-height 지정이 없어서 지정했습니다!
		height:35px;
	}
}



// [COMMENT] 모바일에서 select min-width 제거..'ㅅ'
select {
	min-width:0;
	border-radius:0;
}



// [COMMENT] 로또 조합기 전체보기 service_mix_all_search.html
.lotto_mix_list {
	margin:0;

	li {
		height:5.6em;
		border:0;
		border-left:1px solid #e5e5e5;

		.info, .how_many {
			height:100%;
			border: {
				width:1px 0;
				style:solid;
				color:#e5e5e5;
			}
		}

		.info {
			width:66%;
			box-sizing:border-box;
			padding:0;
			background-color:#fbfbfb;
			vertical-align:top;

			.number_ribbons {
				display:block;
				box-sizing:border-box;
				width:100%;height:auto;
				padding:10px 15px;
				font-weight:$bold;
				border-bottom:1px solid #e5e5e5;
				background-color:#f3f6fb;
				text-align:left;	

				strong {
					display:inline;
					margin-bottom:0;padding-top:0;
					font:inherit;
				}

				span {
					font-weight:$normal;
					font-size:.9em;
					color:#7b8caf;
				}
			}

			.desc {
				padding:10px 0 10px 15px;
				font-size:.95em;
				letter-spacing:-1px;

			}	
		}


		.how_many {
			width:13.5%;
			background-color:#fbfbfb;
			border-width:1px;
		}

		.mix_go {
			height:100%;
			padding:0 0 0 10px;
	
			.btn_primary {
				width:100%;min-width:0;
				height:100%;
				line-height:1.7em;
			}
		}
	}
	
}

// [COMMENT] cs_terms.html - li flex-auto 타입 추가했어요
.tab.flex_auto {
	padding:0 10px;
	li {
		flex:auto;
		padding:0 1px;
		letter-spacing:-1px;
		a {
			font-size:1em
		}
	}
}

// list_all_item - 로또 통계/비법자료 전체보기
.list_all_item {

	li {
		display:table;
		width:100%;	
		position:relative;
		padding-bottom:20px;
		margin-bottom:20px;
		border-bottom:1px solid #e7e7e7;
		cursor:pointer;
		
		&:after {
			display:block;content:"";
			position:absolute;right:10px;top:50%;
			width:19px;height:35px;
			margin-top:-27.5px;
			background:url("#{$content-img}ico_all_more.gif") -31px 0 no-repeat;
			transition:background-position ease .2s;
		}

		&:hover:after {
			background-position:0 0;
		}
		&:hover a {
			text-decoration:underline;

		}
			

		.img,.desc {
			display:table-cell;
		}
		.img {
			overflow:hidden;
			width:110px;height:100px;
			border:1px solid #ddd;
			a {
				display:block;
				height:100%;
			}
			img {
				max-width:100%;
			}
		}
		.desc {
			padding: {
				left:15px;
			}
			strong {
				display:block;
				margin-bottom:8px;
			}
			a {
				display:block;
			}
			.tip {
				padding : {
					left:28px;
					top:8px;
				}
			    margin-top: 10px;
			    border-top: 1px dashed #dfdede;
				background:url("#{$content-img}ico_all_tip.png") 0 8px no-repeat;
			    color: #006d56;
			}
		}
	}
}


.tab_wrapper {overflow:hidden}
.tab.swiper-wrapper {
	width:9999px;
	li {
		flex:none;
		a {
			padding-left:14px;padding-right:14px;
		}
	}
}



// list_all_keyitem - 임시
.list_all_keyitem {
	display:flex;
	margin-bottom:40px;
	border : {
		style:solid;
		width:1px;
		color:#e6e6e6;
		radius:4px;
	}
	
	li {
		flex:1;
		padding:27px 0 19px;
		border-left:1px solid #f2f2f2;
		text-align:center;
		color:#555;

		&:first-child {
			border-left:0;
		}
		&:before {
			display:block;content:"";
			width:80px;height:43px;
			margin:0 auto 10px;
			//background:url("#{$content-img}ico_all_keyitem.png") no-repeat 0 0;
		}
		&[data-icon=type1]:before{background-position:12px 0;}
		&[data-icon=type2]:before{background-position:-84px 0;}
		&[data-icon=type3]:before{background-position:-188px 0;}
		&[data-icon=type4]:before{width:105px;background-position:-303px 0;}
		&[data-icon=type5]:before{background-position:-432px 0;}

		p {line-height:150%}
	}
}



//[COMMENT] 스크롤링 되었을때 하단 Fixed 상태에서 다른 컨텐츠랑 오버랩될때 구분주려고 추가
.week_lotto_info {
	box-shadow:0 0 3px rgba(0,0,0,.3)
}









//1등에 당첨된다면
.lotto_if_win {
	

	//desc_if_win
	.desc_if_win {

		padding: 16.5rem 20px 20px;
	    margin-bottom:20px;
	    font-size: 16px;
	
	    background:#fcfcfc url("#{$content-img}bg_if_win.png") center 2rem no-repeat;
	    background-size:80% auto;
		border-bottom:1px solid #ccc;
	   
		
		.win_desc {
			.cong {
				display:inline-block;
				font-size:1.2rem;
				font-weight:$bold;
				letter-spacing:-.5px;
				color:#333;
			}


			.money {
				display:block;
				padding:6px 20px 10px;
				margin-top:25px;
				font-size:1.3rem;
				border-radius:100px;
				border:1px solid #ccc;
				background:linear-gradient(#fff 70%, #f8f8f8 100%);
				text-align:center;
				b {
					font-size:1.4rem;
					letter-spacing:-1px;
					color:#4471ca;
				}
			}
			
			.other {
				display:block;
				color:#333;

			}
			.desc_sub {
				display:block;
				padding-top:10px;
				text-decoration:underline;
			}
		}	
	}

	
	.list_if_win {

		> li {
			margin-bottom:10px;
			border-bottom:15px solid #fbfbfb;
			.tit_list_win {
				display:block;
				margin-bottom:10px;
			}
		}

		.block_title {
			padding-top:20px;
		}	

		.list_item {
			overflow:hidden;

			li {
				box-sizing:border-box;
				padding:10px 20px 20px;
				margin-bottom:15px;
				border-bottom:1px dashed #ddd;
				text-align:center;

				&:last-child {
					margin-bottom:0;
				}

				.img_list_win {
					display:block;
					overflow:hidden;
					height:12rem;
					margin-bottom:15px;
					border:1px solid #ccc;
					img {
						width:115%;
						max-width:none;
						height:12rem;
					}
				}
			}
		}

	}

	.btn_strong.btn_if_win{
		font-size: 1.2rem;
	    width: auto;height: 45px;
	    letter-spacing:-1px;
	}

}




// 로또팡 조합기 서비스 안내
.mix_about_service {


	background-color:#fff;


	//mix_about_desc
	.mix_about_desc {
		padding:0 80px;
		background:url("#{$content-img}bg_mix_about.png") 540px 190px no-repeat;

		
		.tit_mix_about {
			position:relative;top:-39px;
			height:146px;
			padding-bottom:25px;
			margin-bottom:20px;
			border-bottom:1px solid #7991a8;

			background:url("#{$content-img}tit_mix_about_service.png") 210px 0 no-repeat;
			font-size:0;
			line-height:0;
			letter-spacing:-2000px;

		}

		.calc {
			width:701px;height:61px;
			padding-left:82px;
			background:url("#{$content-img}bg_mix_about_calc.png") 0 8px no-repeat;
			font-size:22px;
			letter-spacing:-.8px;
			color:#333;
			>b {
				position:relative;top:3px;	
				margin-right:20px;
				font-weight:$normal;
			}
			.plus {
				display:inline-block;
				width:36px;height:36px;
				margin:0 13px 0 11px;
				font-size:0;
				border-radius:100px;
				border:1px solid #c2c0c0;
				background:#fff url("#{$content-img}ico_plus_mix_about.png") center center no-repeat;
				box-shadow:2px 2px 3px rgba(0,0,0,.15);
				vertical-align:middle;
			}

			[class^="calc"] {
				display:inline-block;
				box-sizing:border-box;
				width:61px;height:61px;
				padding-top:18px;
				font-size:21px;	
				border-radius:100px;
				text-align:center;
				letter-spacing:-.8px;
				line-height:20px;
				color:#fff;

				&.calc1 {
					background-color:#f35d48;
					box-shadow:2px 2px 0 #d9402b;
				}
				&.calc2 {
					background-color:#ff9555;
					box-shadow:2px 2px 0 #ef6a19;
					text-shadow:0 0 3px #d05500;
					
				}
			}
			.plus {

			}

		}

		.desc {
			padding:50px 39px 80px;
			font-size:19px;
			line-height:31px;
			letter-spacing:-.4px;
			color:#333;
		}

		.btn_mix_run {
			display:block;
			box-sizing:content-box;
			width:674px;height:58px;
			margin:auto;
			padding-bottom:8px;
			font-size:23px;
			background:url("#{$content-img}btn_mix_about.png") 0 0 no-repeat;

			
			text-align:center;
			letter-spacing:-.4px;
			color:#fff;
			&:hover {
				text-decoration:underline;
			}
			b {
				margin-left:15px;
				font-weight:$bold;
				text-decoration:underline;

			}
		}

	}


	//mix_service_benefit
	.mix_service_benefit {
		padding-bottom:50px;
		margin:65px 25px 0;
		border-top:1px solid #7991a8;

		.tit_mix_service {

			padding:35px 0 25px;
			font-size:23px;
			text-align:center;
		}

		.mix_service {
			text-align:center;
		}
		
		//list_benefit
		.list_benefit {


			
			display:flex;
			margin:15px -1px 0;
			border:1px solid #0e3f6f;
			border-radius:3px;


			li {
				position:relative;
				flex:1;
				font-size:17px;
				border-right:1px solid #d3d3d3;
				line-height:60px;
				letter-spacing:-1px;
				color:#2a2a2a;
				text-align:center;


				&:last-child {
					border-right:0;
				}

				.order {
					position:absolute;left:50%;top:-15px;
					margin:{
						left:-14px;
					}
					width:27px;height:27px;
					font-size:16px;
					font-weight:$extra-bold;
					border-radius:100px;
					background-color:#1b32a5;
					text-align:center;
					line-height:23px;
					letter-spacing:-.75px;
					color:#fff;

				}
			}
		}


		//list_step
		.list_step {
			padding:50px 30px 90px;
			border:1px solid #d2d2d2;
			border-top:0;
			background-color:#fafafa;
			&:after {
				display:block;content:"";clear:both;
			}

			li {
				float:left;
				width:263px;height:264px;
				font-size:0;
				line-height:0;
				text-align:center;

				&:nth-child(1){
					margin-right:-12px;
					background:url("#{$content-img}mix_about_step1.png") 0 0 no-repeat;
				}
				&:nth-child(2){
					margin-right:-12px;
					background:url("#{$content-img}mix_about_step2.png") 0 0 no-repeat;
				}
				&:nth-child(3){
					background:url("#{$content-img}mix_about_step3.png") 0 0 no-repeat;
				}

				.step {
					display:inline-block;
					position:relative;top:-18px;
					padding:15px 28px 20px;
					font-size:18px;
					font-weight:$extra-bold;
					border-radius:100px;
					background-color:#3371e8;
					color:#fff;
				}
			}
		}

		.desc_benefit {
			margin:-55px 37px 0;
			padding:15px 0;
			border-radius:100px;
			border:1px solid #d3d1d1;
			background-color:#fff;
			box-shadow:0 0 10px rgba(0,0,0,.08);
			font-size:16px;
			line-height:23px;
			text-align:center;
			b {
				color:#3371e8;
			}
			b.strong {
				color:#083da3;
			}
		}

	}
}




// 그룹출현현황 분석 - 단,2,3,4합수 mix_group_appear.html
.data_table {
	tbody {
		tr, .tr.divide {
			td[data-appear="grp_1"] {
				box-shadow:inset 0 -3px 0 #ddd;
				border-bottom-color:#8a8a8a;
				color:#000;
			}
			td[data-appear="grp_2"] {
				box-shadow:inset 0 -3px 0 #6ebef7;
				background-color:#eff7ff;
				border-bottom-color:#00487b;
				color:#083651;
			}
			td[data-appear="grp_3"] {
				box-shadow:inset 0 -3px 0 #ff7b7b;
				background-color:#fffaf4;
				border-bottom-color:#ce2e2e;
				color:#8f0000;
			}
			td[data-appear="grp_4"] {
				box-shadow:inset 0 -3px 0 #5dd65b;
				background-color:#d9ffdf;
				border-bottom-color:#006d12;
				color:#2e7a00;
			}
		}
	}
}






/******************* 이하 by stellar *******************************/
/*테크앤조이 소개  */
.about_technjoy{
  .about_title{
    color:#333;
    text-align: center;
    margin-bottom: 1.7rem;
    padding-bottom: 1rem;
    font-size:1.3rem;
    border-bottom:1px solid #ccc;
  }
  .list_skills{
    padding-bottom:3rem;
    font-size:0;
    text-align: center;
    li{
      @include boxSizing();

      	display: inline-block;
		width:11rem;height:11rem;
      	padding-top:2.2rem;
      	font-size:1.1rem;
		background: {
			position:0 center;
			repeat:no-repeat;
			size:100% auto;
		}
	

      span{
        line-height:120%;
        letter-spacing:-1px;
      }
      
      &:nth-child(1){
        color:#510b00;
        background-image: url('#{$content-img}bg_about_skill1.png');
      }
      &:nth-child(2){
      	margin-left:1.1rem;
        color:#5f4100;
        background-image: url('#{$content-img}bg_about_skill2.png');
      }
      &:nth-child(3){
        color:#00294b;
        background-image: url('#{$content-img}bg_about_skill3.png');
      }
    }
  }
  .list_portfolio{
    padding:0 20px;
    font-size:0;
    text-align: center;

    li{
	    margin-bottom: 20px;
	    padding-bottom: 18px;
	    border-bottom: 1px solid #ddd;
    
      strong{
        display: block;
	    background: {
	    	repeat:no-repeat;
	    	position:50% 18px;
			color:#219ce4;
	    };
	    box-shadow: 0 4px 0 #1c81bb;
	    border-radius: 100px;
	    display: inline-block;
	    width: 9.5rem;
	    height: 2.9rem;
	    padding-top: 6.4rem;
	    font-size: 1.1rem;
	    margin-bottom: 20px;

        color:#fff;
        font-weight:$bold;
      }
      p{
        color:$base-color;
        font-size:16px;
        line-height:150%;
        letter-spacing:-1px;
        text-align: left;
      }
      &.mobile{
        strong{
          background-image: url('#{$content-img}ico_about_mobile.png') ;
        }
      }
      &.iptv{
        strong{
          background-image: url('#{$content-img}ico_about_tv.png');
          background-position:  50% 28px;
        }
      }
      &.offline{
        strong{
          background-image: url('#{$content-img}ico_about_offline.png') ;
        }
      }
    }
  }
}


/*대세추천번호 서비스 안내*/
.about_wrapper{
  margin:-1px auto 0;
  padding-top:6px;
  background:url('#{$content-img}bg_about_wrapper.png') no-repeat 80% 0;
}
.about_ltp_service{
	padding-top:15px;
	padding-bottom:20px;
	border:1px solid $border-base;
	border-top:0;
	background-color:#fff;
    .list_about_tit{
      @include boxSizing();
      @include borderRadius(35px);
        display: block;
        width:90%;
        margin:0 auto 15px;
        padding:10px 20px;
        border:1px solid #949494;
        font-size:1.1rem;
        font-weight:$normal;
        line-height:1.2rem;
        letter-spacing:-1px;
        text-align: center;
        background-image:linear-gradient(#fff 70%, #f7f7f7 100%)
    }
    .list_about_service{
      position: relative;
      margin:0 20px;

      li {
      	overflow:hidden;
        border-bottom: 1px solid #ccc;
        margin: 0 auto 15px;
        letter-spacing: -1px;

        .question {
          float: left;
          font-size: 1.1rem;
          margin-bottom:8px;
        }
        .link_about {
          float: right;
          padding: .4rem 3.8rem .5rem 15px;
          border: 1px solid #9cc7d8;
          border-bottom: 0;
          font-size: 14px;
          background-size:auto 80%;
          color: #0079b3;
          text-decoration: underline;
        }
        &:last-child {
          margin-bottom: 0;
          .link_about {
          	background-size:auto auto;
          	padding-right:4.2rem;
          }
        }
        @mixin nthChildStyle($index,$left) {
          &:nth-child(#{$index}) {
            .link_about {
               background: {
               		image:url('#{$content-img}ico_link_about#{$index}.png');
               		repeat:no-repeat;
               		position:$left 50%;
             	}
         	}
          }
        }
        @include nthChildStyle(1, calc(100% - 10px));
        @include nthChildStyle(2, calc(100% - 13px));
        @include nthChildStyle(3, calc(100% - 15px));
        @include nthChildStyle(4, calc(100% - 14px));
        @include nthChildStyle(5, calc(100% - 15px));
        @include nthChildStyle(6, calc(100% - 13px));
        @include nthChildStyle(7, calc(100% - 10px));
      }
    }
}


/*플러스 회원권 구매*/
.ticket_plus_section{
  .tab{
    position: relative;
    z-index:1;
  }
  .t_list{
    li{
      position: relative;
      display: table;
      width:100%;
      margin-top:50px;
      border: {
      	width:4px 1px 1px;
      	color:#62a2e9 #ccc #ccc;
      	style:solid;
      }
      &:first-child {margin-top:30px;}
    
      .t_name{
        display: table-cell;
        vertical-align: middle;
        padding:0 15px 15px;
        border-right:1px dashed #ccc;
        background-color:#f9fbff;
        text-align: center;
        .tit{
          padding-top:22px;
          display: block;
          margin-bottom: 15px;
          font-weight:$normal;
          span{
            color:$sub-color;
            &:first-child{
              font-size:1rem;
            }
            &:last-child{
              font : {
                size:1rem;
              }
            }
          }
          b{
            display: block;
            margin-bottom:5px;
            color:#004eba;
            font-size:1.5rem;
            letter-spacing: -1px;
            white-space:nowrap;
          }
        }
        .link_purchase{
          display:block;
          padding:3px 0 4px;
          background: #1746a3;
          font-size:1.2rem;
          text-align: center;
          color:#fff;
        }
      }
      .t_price{
        display: table-cell;
        padding:15px 10px 10px;
        vertical-align: middle;
        text-align: center;
        b{
          line-height:100%;
          font-size:1.6rem;
          color:#444;
          letter-spacing: -1px;
        }
        p{
          margin-top: 8px;
          font-size: 14px;
          color: #e22b2b;
          letter-spacing: -1px;
          del{

          }
          ins{
            text-decoration: none;
          }
        }
        dl{
          margin-top: 10px;
          dt{
            display: inline-block;
            @include borderRadius(13px);
            padding:2px 12px;
            color:#fff;
            background: #126cd2;
            font-size:.9rem;
            margin-bottom: 5px;
          }
          dd{
            font-size:14px;
            line-height:150%;
            letter-spacing: -1px;
          }
        }
      }
      .tag_sale{
        position: absolute;
        left:10px;
        top:-30px;
        text-align: center;
        color:#fff;
        width:2.35rem;
        height:2.35rem;
        padding:8px;
        line-height:1.1rem;

        background-color:#ff5050;
        border-radius:100px;
      }
    }
  }
}

/*tooltip*/
.tip_wrap{
  margin-left:5px;
  display: inline-block;
  position: relative;
  .btn_tip_question{
    @include blind(indent);
    width:1.8rem;
    height:1.8rem;
    background: url('#{$common-img}ico_question.png') no-repeat 0 0;
    background-size:contain;
    vertical-align: middle;
  }
  .pop_tooltip{
    display: none;
    position: absolute;
    left:0;
    top:20px;
    padding:15px;
    line-height:150%;
    font-size:14px;
    color:#333;
    text-align: center;
    background: #fff;
    border:2px solid #0493bc;
    letter-spacing: -1px;
    box-shadow: 5px 5px 0px rgba(0,0,0,.08);
    &.on{
      display: block;
    }
    &[data-tip="coin"]{
      width:18rem;
      left:-5rem;
    }
  }
}
