//clearfix
@mixin clearFix(){
  &:after{
    content:"";
    display: block;
    clear: both;
  }
}
//box-sizing
@mixin boxSizing(){
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
//border-radius
@mixin borderRadius($px){
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  border-radius: $px;
}


//기본 컨텐츠 사이즈 TODO : 정리 후 삭제
@mixin content(){
  width:$container-size;
  margin:0 auto;
}

//기본 폰트
@mixin baseFont(){
  font :{
    family: $base-font;
    size : $base-size;
    weight : $normal;
  }
  color:$base-color;
}

//IR 처리 및 텍스트 히든
@mixin blind($type){
  @if $type == indent{
    text-indent:-9999px;
    line-height:0;
    font-size:0;
    overflow:hidden;
  }@else if $type == absolute{
    position: absolute;
    left:-9999px;
    width:0;
    height:0;
  }
}

//iconsprite
%ico_form_sprite{
  background:url('#{$common-img}ico_form_sprite.png') no-repeat;
  background-size:85px auto;
}

//input (pswd/txt)
@mixin inputStyle($type){
  @if $type == default{
    @include boxSizing();
    min-width:53%;
    height:44px;
    line-height:44px;
    padding:0 10px;
    border:{
      style : solid;
      width : 1px;
    }
    font-size:$font14px;
    &:focus{
      border-color:$input-b-strong;
      outline:0;
    }

    border-color:$input-b-primary;
    background:$input-g-primary;
    color:$base-color;

    &[readonly]{
      border-color:$input-b-disabled;
      background:$input-g-disabled;
      color:$sub-color;
    }
    &[disabled]{
      border-color:$input-b-disabled;
      background:$input-g-disabled;
      color:$disabled-color;
    }
  }@else if $type == essential{
    border-color:$input-b-strong;
    background:$input-g-strong;
    color:$strong-color;
    font-weight:$extra-bold;
    &[readonly]{
      border-color:$input-b-strong;
      background:$input-g-disabled;
      color:$strong-color;
    }
    &[disabled]{
      border-color:$input-b-strong;
      background:$input-g-disabled;
      color:$disabled-color;
    }
  }
}
//input extend
%iStyle{
  @include inputStyle(default);
  &[required]{
    @include inputStyle(essential);
  }
}


//input custom (radio/checkbox)
@mixin checkStyle($type){
  &[type= '#{$type}'][disabled]{
    & + label{
      &:before{
        @if $type == checkbox{
          background-position:-66px -22px
        }@else if $type == radio{
          background-position:-66px 0
        }
      }
    }
    &[type= '#{$type}']:checked + label{
      &:before{
        @if $type == checkbox{
          background-position:-44px -22px
        }@else if $type == radio{
          background-position:-44px 0
        }
      }
    }
  }
  &[type= '#{$type}']:checked{
    & + label{
      &:before{
        @if $type == checkbox{
          background-position:0 -22px
        }@else if $type == radio{
          background-position:0 0
        }
      }
    }
  }
  &[type= '#{$type}'] + label{
    &:before{
      content:"";
      display: inline-block;
      vertical-align: middle;
      width:19px;
      height:19px;

      @extend %ico_form_sprite;
      @if $type == checkbox{
        background-position:-22px -22px;
      }@else if $type == radio{
        background-position:-22px 0
      }
    }
    span{
      margin:0 0 0 6px;
      vertical-align: middle;
      font:{
        size : $font14px;
      }
      color:$base-color;
    }
    cursor:pointer
  }
}

//button
//btn class생성을 위한 extend
%btn{
  display: inline-block;
  @include boxSizing();
  @include borderRadius(2px);
  min-width:24.7%;
  height:44px;
  padding: 0 7px;
  line-height:44px;
  font : {
    size : $font14px;
    weight:$bold;
  }
  color:#fff;
  text-align: center;
  &:focus{
    text-decoration: none;
  }
}
//추가설정을위한 mixin
@mixin button($wid:24.7%, $bg:off, $hei:off, $font:off, $color:off, $border:off){
  width:$wid;
  @if $bg != off{
    background:$bg;
    &:focus{
      background:darken($bg,20%)
    }
  }
  @if $hei != off{
    height:$hei;
    line-height:$hei;
  }
  @if $font != off{
    font : {
      size : $font;
    }
  }
  @if $color != off{
    color : $color
  }
  @if $border != off{
    border:$border;
  }
  text-align: center;
}



//lottoball size
@mixin lottoball($size:22px,$font:0.89rem){
  width:$size;
  height:$size;
  line-height:$size;
  font-size:$font;
}