/*main*/
.main_sec{
  .m_notice{
    padding:0 18px;
    height:35px;
    line-height:32px;
    background: $strong-color;
    font :{
      weight: $normal;
      size:$font14px;
    }
    letter-spacing: -1px;
    a{
      display: block;
      width:100%;
      text-overflow: ellipsis;
      overflow:hidden;
      white-space: nowrap;
      color:$sub-color;
      b{
        margin-right: 5px;
      }
    }
  }
  .visual_sec{
    position: relative;
    width:100%;
    ul{
      overflow:hidden;
      width:300%;
    }
    li{
      float:left;
    }
    .swiper-pagenation{
      position: absolute;
      left:18px;
      top:7px;
      z-index:10;
      font-size:0;
      .swiper-pagination-bullet{
        display: inline-block;
        margin-right:7px;
        width:7px;
        height:7px;
        border:1px solid #9f9f9f;
        background: transparent;
        border-radius: 50%;
        &.swiper-pagination-bullet-active{
          background:#9f9f9f
        }
      }
    }
  }
}
.main_win_sec{
  .win_info{
    text-align: center;
    margin-bottom: 19px;
    font-size:$font15px
  }
  .win_num{
    text-align: center;
    margin-bottom: 26px;
    span[class^="ball_n"]{
      width:32px;
      height:32px;
      line-height:32px;
      font-size:$font16px;
      + .plus{
        font-size:22px;
        color:#bfc1c2;
      }
    }
  }
}
.btn_question{
  @include blind(indent);
  vertical-align: middle;
  margin-left:5px;
  width:18px;
  height:18px;
  background:url('#{$common-img}ico_question.png') no-repeat 0 0;
  background-size:18px 18px;
}
.appear_num{
  margin-left:10px;
  display: inline-block;
  vertical-align: middle;
  .desc{
    color:#969696;
  }
}
.double_wrap{
  overflow: hidden;
  .box_wrap{
    @include boxSizing();
    float:left;
    width:49%;
    height:206px;
    &:first-child{
      margin-right:2%
    }
  }
}
.box_wrap{
  .thumb_img{
    display: block;
    margin-bottom:9px;
  }
  .thumb_desc{
    font-size:$font14px;
    line-height:140%
  }
  .main_notice_list{
    li{
      padding-bottom:10px;
      &:last-child{
        padding-bottom: 0;
      }
      position: relative;
      a{
        @include boxSizing();
        padding-right: 100px;
        display: block;
        width:100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color:#787878;
        .name{
          position: absolute;
          width:100px;
          right:0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color:$strong-color;
          text-align: right;

        }
        .date{
          position: absolute;
          width:100px;
          right:0;
          text-align: right;
          font-size:$font13px;
          color:#969696
        }
      }
    }
  }
}
[data-type="data_more"]{
  .btn_block_prev{
    @include blind(indent);
    position: absolute;
    left:7px;
    top:50%;
    width:15px;
    height:28px;
    margin-top:-7px;
    background:url('#{$common-img}btn_block_prev.png') no-repeat 0 0;
    background-size:15px 28px;
  }
  .btn_block_next{
    @include blind(indent);
    position: absolute;
    right:7px;
    top:50%;
    margin-top:-7px;
    width:15px;
    height:28px;
    background:url('#{$common-img}btn_block_next.png') no-repeat 0 0;
    background-size:15px 28px;
  }
}
.main_ticket_sec{
  .ticket_info{
    text-align: center;
    margin-bottom:12px;
  }
  .ticket_win{
    font:{
      family:Arial, sans-serif;
    }
    li{
      font-size:0;
      background: url('#{$content-img}bg_main_num.png') no-repeat 50% 0;
      background-size:306px 35px;
      &:first-child{
        margin-bottom:6px;
      }
      text-align: center;
      span{
        text-align: center;
        width:39px;
        height:35px;
        line-height:35px;
        display: inline-block;
        color:#fff;
        font-size:$font20px;
        font-weight:$bold;
      }
      .h{
        width:67px;
        font-size:$font14px;
        font-weight:$normal;
        em{
          color:#fff077;
          font-size:$font20px;
          font-weight:$bold;
          margin-right:3px;
        }

      }
    }
  }
}


/*조합기 전체보기*/
.input_table{
  &.banner_type{
    overflow: hidden;
    table{
      float:left;
      width:68%;
    }
    .banner{
      float:right;
      width:276px;
      height:148px;
      img{
        width:100%;
        height:100%;
      }
    }
  }
}
.mix_t_radio{
  display: inline-block;
  .input_custom{
    margin-right:30px;
  }
  select + & {
    margin-left:15px;
  }
}
.lotto_mix_list{
  margin:45px 60px 0;
  li{
    display: table;
    width:100%;
    border:1px solid $border-base;
    margin-bottom:8px;
    &:last-child{
      margin-bottom:0;
    }
    .info{
      display: table-cell;
      vertical-align: middle;
      width:475px;
      padding:10px;
      .number_ribbons{
        display: inline-block;
        vertical-align: middle;
        width: 46px;
        height:68px;
        background: url("#{$common-img}bg_num_ribbons.png") no-repeat 0 0;
        text-align: center;
        color:#2c3b74;
        line-height:100%;
        margin-right:20px;
        strong{
          display: block;
          margin-bottom:5px;
          padding-top:11px;
          font : {
            weight:$extra-bold;
            size : 18px;
          }
        }
      }
      .desc{
        display: inline-block;
        vertical-align: middle;
        span{
          display: block;
          margin-bottom:6px;
          color : $strong-color;
        }
      }
    }
    .how_many{
      display: table-cell;
      vertical-align: middle;
      width:105px;
      text-align: center;
      font-size:15px;
      strong{
        display: block;
        margin-bottom:3px;
        font-size:18px;
      }
      border:{
        width:0 1px;
        style : solid;
        color : $border-base
      }
    }
    .mix_go{
      display: table-cell;
      padding:0 18px;
      vertical-align: middle;
      .btn_primary{
        width:122px;
      }
    }
  }
}
.btn_top_wrap{
  overflow: hidden;
  margin:30px 60px 10px;
  .notice{
    float:left;
    padding-top:25px;
    padding-left:10px;
  }
  .btn_strong{
    float:right;
  }
}

/*대세 추천번호*/
.hurry_box{
  p{
    line-height:160%;
    margin-bottom:15px;
  }
  span{
    display: block;
    margin-top:15px;
  }
}
.data_table{
  .we{
    td{
      background: #ffecd5;
      color:#ea614e;
      font-weight:$bold;
    }

  }
}
.contents_hurry_up{
  @include boxSizing();
  padding:30px 14px;
  width:325px;
  height:619px;
  margin:0 auto;
  background: url('#{$content-img}cont_hurry_up.png') no-repeat 0 0;
  background-size:325px 619px;
  strong{
    display: block;
    margin-bottom:17px;
    font :{
      weight:$bold;
      size:$font23px
    }
    color:$base-color;
  }
  p{
    line-height:170%;
    margin-bottom:27px;
    &:last-of-type{
      margin-bottom:0;
    }
    font : {
      size : $font13px;
    }
  }
  em{
    margin-top:27px;
    display: block;
    font :{
      weight:$bold;
      size:$font13px
    }
  }
}
.lotto_pang_slogan{
  .point{
    @include boxSizing();
    float:left;
    color:#fff;
    width:61px;
    height:61px;
    padding:10px 0 0 0;
    margin-right:8px;
    background: url('#{$content-img}ico_slogan_point.png') no-repeat 0 0;
    text-align: center;
    line-height:140%;
    font : {
      family : $util-font;
      size: 12px;
    }
    b{
      font : {
        family:$base-font;
        weight:$bold;
        size : 21px;
      }
      letter-spacing: -1px;
      line-height:100%;
    }
  }
}

/*연금복권*/
.ticket_top{
  th{
    font :{
      size : 18px;
      weight:$normal
    }
    line-height:170%
  }
  td{
    font : {
      weight: $extra-bold;
      size : 20px;
    }
    color :$light-color;
  }
}
.data_table{
  .dot{
    display: inline-block;
    @include blind(indent);
    width:10px;
    height:10px;
    border-radius:50%;
    background: #9eabc5;
  }
}

/*member*/
//회원가입
.box_contents{
  .input_custom{
    vertical-align: middle;
    &:last-child{
      display: block;
      margin-top:10px;
    }
  }
  .link_privacy_more{
    display: inline-block;
    vertical-align: middle;
    color:$strong-color;
    text-decoration: underline;
  }
}
.btn_wrap_sns{
  padding:105px 0;
  @mixin snsBtn($type){
    &[data-type="#{$type}"]{
      background:url('#{$common-img}bg_sns_#{$type}.png') no-repeat 0 0;
      @if $type == facebook{
        background-color:#0a4aab;
        color:#fff
      }@else if $type == google{
        background-color:#ea5d4a;
        color:#fff
      }@else if $type == naver{
        background-color:#00be39;
        color:#fff
      }@else if $type == kakao{
        background-color:#ffe906;
        color:#3e2d2e
      }
    }
  }
  .btn_login_sns{
    @include snsBtn(facebook);
    @include snsBtn(google);
    @include snsBtn(naver);
    @include snsBtn(kakao);
    display: block;
    width:400px;
    height:60px;
    line-height:60px;
    margin: 0 auto 10px;
    text-align: center;
    font:{
      size : 18px;
      weight:$bold;
    }
  }
}

/*member*/
.id_search{
  margin-bottom:27px;
  &:last-child{
    margin-bottom: 0;
  }
  li{
    padding:10px 0 0 0;
  }
  .validate_notice{
    margin-top:6px;
    color:$notice-color;
    font-size: $font15px;
    margin-bottom:10px;
    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .table_notice{
    margin-top: 8px;
    color:$light-color;
    font-size:$font14px;/*
    padding-left: 15px;*/
    line-height:150%;
  }
  .verify-time{
    color:$notice-color
  }
}
.i_sec{
  position: relative;
  padding-right:95px;
  .btn_primary, & .btn_strong{
    position: absolute;
    right:0;
    top:0;
    width:91px;
  }

}
.id_info{
  span{
    display: block;
  }
}
.select_list{
  margin-bottom:15px;
  [data-width="67p"]{
    width:67%;
  }
  li{
    margin-bottom:5px;
    &:last-child{
      margin-bottom:0;
    }
  }
}


/*고객센터*/ //ok
.qna_write{
  &.input_table{
    border-bottom:0;
  }
  textarea{
    height:265px;
    overflow-x:hidden;
    overflow-y:auto;
  }
}
.qna{
  article{
    .list_title{
      padding-left:35px;
      padding-right:93px;
    }
    .numbering{
      position: absolute;
      left:0;
      top:15px;
      width:28px;
      text-align: center;
      font : {
        size :$font14px;
        weight:$bold;
      }
      color:$strong-color
    }
    .status{
      position: absolute;
      right:31px;
      top:50%;
      margin-top:-9px;
      padding:0 5px;
      font : {
        weight:$bold;
        size : $font13px;
      }
      border:1px solid $border-base;
      border-radius:2px;
      height:18px;
      line-height:18px;
      &[data-type="submit_ok"]{
        color:$disabled-color;
      }
      &[data-type="answer_ok"]{
        color:$notice-color;
      }
    }
    .list_contents{
      padding-left:15px;
      padding-right:15px;
    }
  }
}
.faq_notice{
  margin:12px 0 40px;
  .category{

  }
  & > p{
    display: inline;
    vertical-align: middle;
    margin-left:10px;
  }
}
.faq{
  article{
    .list_title{
      padding-left:31px;
    }
    .list_contents{
      padding-left:44px;
    }
    .category{
      position: absolute;
      top:16px;
    }
  }
}

/*각페이지별 레이어*/
.charge_layer{
  padding-bottom:30px;
}

/*로또용어정리*/
.lotto_word{
  border-top:1px solid $border-base;
  article{

    .list_contents{
      padding-left:15px;
      padding-right:15px;
    }
    .list_title{
      padding-left:15px;
      padding-right:15px;
    }
  }
}

/*연금복권*/
.title_plus_desc{
  margin-bottom:15px;
  .box_title{
    margin-bottom:10px;
  }
  .desc_primary{
    font-size:$font13px;
  }
}

.has_data + .input_custom{
  margin-left:10px;
  vertical-align: top;
}

[data-hide="phoneNum"]{
  margin-bottom:5px;
}

/*로그인*/
.login_box{
  input:first-child{
    display: inline-block;
    margin-bottom:5px;
  }
}
.srch_info_link{
  margin-top:10px;
  text-align: right;
  font-size:$font13px;
  color:$sub-color;
  text-decoration: underline;
}