//공통스타일
/*style.css*/
// google cdn 이용 (유니코드 너무 갈려져있어..)
//base-font : 노토산스
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*layout*/
$header-height:88px;
#header{
  position: fixed;
  left:0;
  top:0;
  z-index:50;
  width:100%;
  background:#282564;
  height:$header-height;
  .logo{
     text-align: center;
     a{
       display: inline-block;
       padding:4px 0 0 0;
       height:47px;
       img{
         width:auto;
         height:100%;
       }
     }
   }
  .btn_side_navi{
    @include blind(indent);
    position: absolute;
    width:55px;
    height:55px;
    left:0;
    top:0;
    background:url('#{$common-img}btn_side_navi.png') no-repeat 50% 50%;
    background-size:20px auto;
  }
  .btn_member_join{
    @include blind(indent);
    position: absolute;
    width:55px;
    height:55px;
    right:0;
    top:0;
    background:url('#{$common-img}btn_member_join.png') no-repeat 50% 50%;
    background-size:20px auto;
  }
  .side_wrap{
    position: fixed;
    left:-91%;
    top:0;
    bottom:0;
    width:91%;
    z-index:300;
    &.on{
      &:before{
        content:"";
        position: fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        z-index:299;
        background:rgba(0,0,0,0.5)
      }
      .side_menu_section{
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
      }
    }
  }
}
#gnb{
  position: relative;
  width:100%;
  $gnb-height : 37px;
  .gnb{
    width:9999px;
    background: #282564;
    height:$gnb-height;
    padding:0 8px;
    li{
      position: relative;
      float:left;
      padding:0 10px;
      &:after{
        content:"";
        position: absolute;
        width:1px;
        height:10px;
        right:0;
        top:50%;
        margin-top:-5px;
        background: #585b94;
      }
      a{
        display: block;
        height:$gnb-height;
        line-height:$gnb-height;
        text-align: center;
        color:#fff;

      }
      &:last-child{
        &:after{
          display: none;
        }
      }
      &.on{
        a{
          position: relative;
          &:before{
            content:"";
            position: absolute;
            left:0;
            bottom: 5px;
            width:100%;
            height:3px;
            background:#79a3f6;
          }
        }
      }
    }
  }
  .sub_gnb{
    position: absolute;
    left:0;
    width:100%;
    .depth{
      display: none;
      padding:10px 18px;
      background: #fff;
      border-bottom:3px solid #79a3f6;
      &.on{
        display: block;
      }
      ul{
        @extend .link_list;
      }
    }
  }
}
.side_menu_section{
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  position: absolute;
  width:100%;
  left:0;
  bottom:0;
  top:0;
  z-index:300;
  background:#f1f1f1;
  %nav_container{
    @include boxSizing();
    overflow-x:hidden;
    overflow-y:auto;
    padding:55px 0 0;
    height:100%;
    .head_info{
      @include boxSizing();
      position: absolute;
      left:0;
      top:0;
      z-index:10;
      width:100%;
      height:55px;
      background:#282564;
      padding:0 73px 0 18px;
      letter-spacing:-1px;
      span{
        color:$strong-color;
      }
      .login_status{
        position: relative;
        padding:0 0 0 28px;
        height:55px;
        line-height:55px;
        font-size:$font16px;
        color:#fff;
        &:before{
          content:"";
          position: absolute;
          left:0;
          top:50%;
          width:18px;
          height:18px;
          margin-top:-9px;
          background:url('#{$common-img}ico_login_status.png') no-repeat 0 0;
          background-size:auto 18px;
        }
      }
    }
    .mini_info{
      position: relative;
      padding:0 0 0 0;
      background: #f1f1f1;
      .desc{
        padding-left:18px;
        height:55px;
        line-height:55px;
        color:$strong-color;
        font-size:$font15px;
        b{
          font-weight:$extra-bold
        }
      }
      .my_coin{
        padding-left:18px;
        height:55px;
        line-height:55px;
        font-size:$font16px;
        &:before{
          display: inline-block;
          vertical-align: middle;
          content:"";
          width:17px;
          height:17px;
          background:url('#{$common-img}ico_money.png') no-repeat 0 0;
          background-size:17px auto;
        }
        span{
          vertical-align: middle;
          &.name{
            margin-right:90px;
          }
          &.money{
            color:$notice-color;
          }
        }
      }
      .link_btn{
        position: absolute;
        right:18px;
        top:50%;
        margin-top:-13px;
        @include button(62px,#fff,27px,$font14px,#777,1px solid #c8c8c8);
        @include borderRadius(2px);
        &:focus{
          text-decoration: none;
        }
      }
      .tit{
        text-align: center;
        line-height:55px;
        height:55px;
        font:{
          weight:$bold;
          size:$font16px;
        }
        color:$sub-color
      }
    }
  }
  .login_before_sec{
    @extend %nav_container;
    .sns_login{
      li{
        @include borderRadius(2px);
        height:50px;
        line-height:50px;
        margin-bottom:11px;
        text-align: center;
        &:last-child{
          margin-bottom:0;
        }
        a{
          display: block;
          height:100%;
          color:#fff;
          font-weight:500;
          background-repeat :no-repeat;
        }
        @mixin sns_login($color,$img,$size,$pos){
          background: $color;
          a{
            background-image:url('#{$common-img}#{$img}.png');
            background-size:$size;
            background-position:$pos 50%;
          }
        }
        &.login_naver{
          @include sns_login(#00be39,bg_login_naver,auto 15px,14px);
        }
        &.login_google{
          @include sns_login(#ea5d4a,bg_login_google,auto 21px, 14px);
        }
        &.login_facebook{
          @include sns_login(#0a4aab,bg_login_facebook,auto 23px, 17px);
        }
        &.login_kakao{
          @include sns_login(#ffe906,bg_login_kakao,auto 23px,10px);
        }
      }
    }
  }
  .login_after_sec{
    @extend %nav_container;
    .my_fee{
      display: block;
      text-align: center;
      margin-bottom: 5px;
      letter-spacing:-1px;
      font : {
        size :$font16px;
        weight:$bold;
      }
      color:$strong-color;
    }
    .terms{
      text-align: center;
      font-size:$font15px;
      margin-bottom:18px;
    }
    &.join{
      background: #fff;
    }
  }
  .btn_nav_close{
    @include blind(indent);
    position: absolute;
    right:0;
    top:0;
    z-index:11;
    width:55px;
    height:55px;
    background:url('#{$common-img}btn_nav_close.png') no-repeat 50% 50%;
    background-size:18px auto;
  }
}
#container{
  @include boxSizing();
  min-height:100%;
  padding:$header-height 0 304px 0;
}
#content{

}
.bottom_section{
  height:304px;
  margin-top:-304px;
}
#footer{
  position: relative;
  height:155px;
  z-index:10;
  background: #dfdfe0;
  text-align: center;
  .foot_util{
    font-size:0;
    li{
      display: inline-block;
      a{
        position: relative;
        display: inline-block;
        padding:0 7px;
        height:44px;
        line-height:44px;
        font : {
          weight:$bold;
          size : $font12px;
        }
        &:after{
          content:"";
          position: absolute;
          right:0;
          top:50%;
          width:1px;
          height:10px;
          margin-top:-5px;
          background: #c8c8c8;
        }
      }
      &:last-child{
        a{
          &:after{
            display: none;
          }
        }
      }
    }
  }
  address{
    font-size:$font12px;
    letter-spacing: -1px;
    line-height:160%;
    color:$disabled-color;
    a{
      color:$disabled-color;
    }
    .company{
      color:$sub-color;
    }
  }
  .copyright{
    @extend address;
  }
}
.bottom_util{
  padding-bottom:55px;
  .btn_home_add{
    &:before{
      display: inline-block;
      vertical-align: middle;
      content:"";
      width:18px;
      height:18px;
      margin-right:7px;
      background: url('#{$common-img}ico_add_home.png') no-repeat 0 0;
      background-size: 18px auto;
    }
    width:100%;
    height:44px;
    background: #fff;
  }
  .link_spot{
    background:#282564;
    font-size:0;
    a{
      display: inline-block;
      @include boxSizing();
      width:50%;
      height:50px;
      line-height:50px;
      &:first-child{
        border-right:1px solid #535183;
        &:before{
          width:19px;
          background-position:0 50%;
        }
      }
      color:#fff;
      font-size:$font15px;
      text-align: center;
      &:before{
        content:"";
        display: inline-block;
        vertical-align: top;
        width:13px;
        height:50px;
        margin-right:7px;
        background:url('#{$common-img}/ico_link_spot.png') no-repeat 100% 50%;
        background-size:auto 17px;
      }
    }
  }
  .week_lotto_info{
    position: fixed;
    left:0;
    bottom:0;
    z-index:20;
    overflow: hidden;
    background: #fff;
    display: table;
    width:100%;
    height:55px;
    dt{
      width:91px;
      padding:0 0 0 18px;
      display: table-cell;
      vertical-align: middle;
      letter-spacing: -1px;
      b{
        color:$notice-color;
        font : {
          weight:$bold;
          size:$font17px;
        }
      }
      strong{
        font:{
          weight:$bold;
          size :$font13px
        }
      }
    }
    dd{
      padding:0 18px 0 0;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

/*contents whitebox*/
.box_wrap{
  position: relative;
  padding:18px;
  background:#fff;
  margin-bottom:12px;
  &:last-child{
    margin-bottom:0;
  }
  & > .desc{
    font-size:$font15px;
    line-height:100%;
    margin-bottom:18px;
  }
  & > .box_desc{
    font-size:$font13px;
    margin-bottom:20px;
    letter-spacing: -1px;
  }
  .box_title{
    font : {
      weight:500;
      size:$font16px;
    }
    color:$sub-color;
    margin-bottom:18px;
    line-height:100%;
    letter-spacing:-1px;
  }
  .block_title{
    font : {
      weight:500;
      size:$font16px;
    }
    color:$sub-color;
    padding-bottom:11px;
    border-bottom:1px solid $border-base;
    margin-bottom:15px;
    line-height:100%;
    letter-spacing:-1px;
  }
  & > .link_more{
    @include blind(indent);
    position: absolute;
    right:0;
    top:3px;
    width:45px;
    height:45px;
    background:url('#{$common-img}link_more.png') no-repeat 50% 50%;
    background-size:7px auto;
  }
} //컨텐츠 섹션마다 들어가는 래퍼
.link_list{
  margin:-0.7% 0 0 -0.7%;
  width:101.4%;
  overflow: hidden;
  li{
    @include boxSizing();
    float:left;
    width:50%;
    padding:0.7%;
    a{
      width:100%;
      @extend .btn_link;
      padding:0;
      letter-spacing: -1px;
    }
  }
} //링크모음
.site_warnning{
  padding:18px 0;
  background: #fff;
  text-align: center;
  color:$disabled-color;
  line-height:145%;
  font-size:$font11px;
  letter-spacing: -1px;
}

/*title*/
.page_title{
  height:35px;
  line-height:32px;
  background: $strong-color;
  font :{
    weight: $medium;
    size:$font18px;
  }
  letter-spacing: -1px;
  color:#fff;
  text-align: center;
}
.sub_title{
  position: relative;
  text-align: center;
  padding:0 41px;
  background: #f1f1f1;
  h3{
    height:49px;
    line-height:49px;
    font : {
      weight:$bold;
      size :$font16px
    }
    color:$sub-color;
    letter-spacing: -1px;
  }
  %pageBtn{
    @include blind(indent);
    position: absolute;
    top:0;
    width:41px;
    height:49px;
    background-repeat:no-repeat;
    background-size:85px auto;
    background-image:url('#{$common-img}btn_menu.png');
  }
  .prev_menu{
    @extend %pageBtn;
    left:0;
    background-position:0 0;
  }
  .next_menu{
    @extend %pageBtn;
    right:0;
    background-position:-44px 0;
  }
}

/*form controls*/
//checkbox, radio
.input_custom{
  display: inline-block;
  vertical-align: middle;
  input{
    @include blind(absolute);
    @include checkStyle(checkbox);
    @include checkStyle(radio);
  }
}

input{
  &[type="text"]{
    @extend %iStyle;
  }
  &[type="password"] {
    @extend %iStyle;
  }
}
textarea{
  @extend %iStyle;
  min-width:auto;
  width:100%;
  min-height:180px;
  line-height:140%;
  padding:10px;
}
select{
  min-width:91px;
  width:auto;
  height:44px;
  padding:0 26px 0 10px;
  border:1px solid $input-b-primary;
  background-image:url("#{$common-img}ico_select.png");
  background-repeat : no-repeat;
  background-position:100% 0;
  background-color:$input-g-primary;
  background-size:26px auto;
  color:$base-color;
  &[required]{
    border:1px solid $input-b-strong;
    background-color:$input-g-strong;
    color:$strong-color;
  }
  &[disabled]{
    border:1px solid $input-b-disabled;
    background-color:$input-g-disabled;
    &[required]{
      border:1px solid $input-b-strong;
      background-color:$input-g-disabled;
    }
  }
  cursor:pointer;
}


/*input, selector, textares size*/ //todo 확인해서 추가
$dataWidth: (
  200: 200px,
 /* 300: 300px,
  500: 500px,*/
  100p : 100%
);
@each $elemWidth, $value in $dataWidth {
  [data-width='#{$elemWidth}'] {
    width:$value
  }
}

//특정 data아닌 단순 사이즈 ex)data_table내부 사용?//todo 확인해서 추가
$dataFontSize: (
  /*18: 18px,
  20: 20px,
  26: 26px*/
);
@each $elemFontSize, $value in $dataFontSize {
  [data-font='#{$elemFontSize}'] {
    font-size:$value
  }
}


/*button style*/
.btn_primary{
  @extend %btn;
  background: $btn-primary;
  &:focus{
    background:darken($btn-primary, 20%);
  }
}
.btn_strong{
  @extend %btn;
  background: $btn-strong;
  &:focus{
    background:darken($btn-strong, 20%);
  }
}
.btn_link{
  @extend %btn;
  background:$btn-link ;
  color:$base-color;
  border:1px solid #e5e5e5;
  &:focus{
    background:$btn-strong;
    color:#fff;
  }
  font-weight:400;
}
//todo 테이블안의 하양이버튼이로구나 있는지 확인
/*.btn_table{
    @extend %btn;
    min-width: 80px;
    height: 35px;
    margin-left:10px;
    margin-right:10px;
    border:1px solid #bbbf;
    background:$btn-table;
    vertical-align: middle;
    line-height: 35px;
    color:#333;
    &:hover{
      background:darken($btn-strong, 20%);
      border-color:darken($btn-strong, 20%);
      color:#fff;
    }
  }
*/
button{
  &[disabled]{
    @extend %btn;
    background: $btn-disabled;
    &:hover{
      background:$btn-disabled;
    }
  }
}
/*더보기버튼*/
.btn_page_more{
  @include button(100%,#fff,44px,$font14px,$base-color);
  &:after{
    content:"";
    display: inline-block;
    width:12px;
    height:7px;
    background:url('#{$common-img}btn_data_more.png') no-repeat 0 0;
    background-size:12px 7px;
    margin-left:9px;
  }
}

.btn_wrap{

  margin-top:15px; //todo 확인
  font-size:0;
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  display:flex;
  &[data-align="center"]{
    text-align: center;
    .btn_primary , & .btn_strong , & .btn_link{
      -webkit-box-flex: 1;
      flex:1;
    }
  }
  &[data-align="left"]{
    text-align: left;
  }
  &[data-align="right"]{
    text-align: right;
  }
  %el{
     margin-right:1.6%;
    &:last-child{
      margin-right:0;
    }
  }
  button{
    @extend %el;
  }
  a{
    @extend %el;
  }
}


/*table*/ //todo 사이즈 간격확인
.input_table{
  /*padding:25px 0 0;*/
  border-bottom:1px solid $border-base;
  &.list_type{
    //
    tbody{
      tr:last-child{
        td,th{
         //todo 확인  padding-bottom:15px;
          border-bottom:0
        }
      }
    }
    th{
      border-bottom:1px solid $border-base;
      vertical-align: middle;
    }
    td{
      padding:15px 0;
      border-bottom:1px solid $border-base
    }
  }
  tbody{
    /*& + tbody{
      tr:first-child{
        border-top:1px solid $border-base;
        td{
          padding-top:40px;
        }
        th{
          padding-top:55px;
        }
      }
    }
    tr:last-child{
      td, & th{
        padding-bottom:40px;
      }
    }*/
  }
  th{
    padding:14px 0 14px 15px;
    vertical-align: top;
    text-align: left;
    &:before{
      @include borderRadius(50%);
      display: inline-block;
      content:"";
      vertical-align: middle;
      margin-right:7px;
      width:4px;
      height:4px;
      background:#8a9fc7;
    }
  }
  td{
    padding:7px 0 7px 0;
    font-size:0;
    background: #fff;
    %elStyle{
      margin-right:1.38%;
      vertical-align: middle;
    }
    & > input{
      @extend %elStyle;
    }
    /*& > .has_data +.input_custom {
      margin-left:13px;
    }*/
    & > .input_custom{
      @extend %elStyle;/*
      margin-left:1.38%;*/
    }
    & > button{
      @extend %elStyle;
    }
    & > a{
      @extend %elStyle;
    }
    & > select{
      @extend %elStyle;
    }
  }
  .has_data{
    font-size: $font15px;
    padding-bottom:5px;
    vertical-align:inherit;
  }
  .validate_notice{
    margin-top:8px;
    color:$notice-color;
    font-size: $font15px;
    margin-bottom: 8px;
    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .table_notice{
    margin-top: 8px;
    color:$light-color;
    font-size:$font14px;/*
    padding-left: 15px;*/
    line-height:150%;
  }
  .verify-time{
    color:$notice-color
  }
  .link_page {
    margin-left:10px;
    vertical-align:top;
  }
  .bars{
    font-size:$font14px;
    display: inline-block;
    margin-right:1.38%;
    vertical-align: middle;
  }
}
.data_table{
  & + &{
    margin-top:10px; //todo 나중에 확인
  }

  border:1px solid $border-base;
  &[data-align="left"]{
    tbody{
      th{
        text-align: left;
      }
      td{
        text-align: left;
      }
    }
  }
  thead{
    th{
      padding:8px 0;
      background: $thead-th-color;
      border : {
        width : 0 1px 1px 0;
        style : solid;
        color :$border-base;
      }
      font : {
        size : $font15px;
        weight:$normal;
      }
      color:$light-color;

      &:last-child {
        border-right:0;
      }
    }
  }
  tbody{
    %tableCell{
      padding:7px 6px;
      text-align: center;
      background: #fff;
      border : {
        width : 0 1px 1px 0;
        style : solid;
        color :$border-base;
      }
      font-size:$font13px;
      &[data-align="left"]{
       /* padding-left:27px;
        padding-right:27px;*/
        text-align: left;
      }
    }
    th{
      @extend %tableCell;
      background:$thead-th-color;
      &.mid_th{
        background:$tbody-th-color;
      }
      &.last_cell{
        border-bottom:0;
      }
    }
    td{
      @extend %tableCell;
      &.cell_inner_btns {
        /*padding-top:10px;
        padding-bottom:10px;*/
      }
      word-wrap: break-word;
      &.last_cell{
        border-bottom:0;
      }
    }
    tr{
      td:last-child{
        border-right:0;
      }
      &:last-child{
        th{
          border-bottom:0;
        }
        td{
          border-bottom:0;
        }
      }
      &.divide {
        td {
          background-color:#fbfbfb;
        }
      }
    }
  }

  .link_page {
   /* margin-left:10px;*/
    vertical-align:top;
  }
}

/*board*/
.board_table{
  thead{
    th {
      position:relative;
      border-bottom:1px solid $border-base;
      padding:14px 0;
      font-size:$font15px;
      font-weight:$bold;
      background: $bg-light;
      &:first-child:after {display:none}
      &:after {
        display:block;content:"";
        position:absolute;left:0;top:50%;
        width:1px;height:16px;
        margin-top:-6px;
        background-color:#9e9e9e;
      }
    }
  }
  tbody{
    td{
      padding:15px 0;
      border-bottom:1px solid $border-base;
      text-align: center;
      word-break:break-all;
      &[data-align="left"]{
        text-align: left;
      }
      &.no {
        font-weight:$bold;
      }
      a.link{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width:100%;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .edit_contents{
        text-align: left;
        padding:20px 15px;
        min-height: 150px;
      }
    }
  }

}
.mini_board_list { //todo 간격확인
  margin-top: -2px;
  background-color: #fff;
  border: {
    width: 1px 0;
    style: solid;
    color: $border-base
  }
  li {
    padding: 13px 0;
    overflow: hidden;
    word-break: break-all;
    &.prev {
      border-bottom: 1px solid $border-base;
    }
    &.next {
      .dir {
        &:after {
          transform: rotate(180deg)
        }
      }
    }
    .dir {
      @include boxSizing();
      position: relative;
      float: left;
      width:15%;
      padding-left:10px;
/*
      &:after {
        display: block; content: "";
        width: 15px; height: 8px;
        position: absolute; top: 50%; left: -5px;
        margin-top: -4px;
        background: url("#{$content-img}ico_board_page.gif") no-repeat 0 0;
      }*/
    }
    .tit {
      float: left;
      width: 85%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    a.tit {
    }
    span.tit {
      color: $light-color
    }
  }
}

/*tab*/
.tab{
  border-bottom:1px solid $strong-color;
  height:43px;
  padding:0 14px;
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  display:flex;
  li{
    -webkit-box-flex: 1;
    flex:1;
    padding:0 2px;
    a{
      @include boxSizing();
      display: block;
      height:43px;
      line-height:41px;
      text-align: center;
      background: $bg-base;
      border:{
        width:1px 1px 0;
        style:solid;
        color:$border-base
      }
      font-size:$font15px;
      color:$disabled-color;
    }
    &.on{
      position: relative;
      a{
        position: relative;
        z-index:1;
        width:100%;
        border-color:$strong-color;
        height:44px;
        background: #ffff;
      }
    }
  }
}
/*
.tab{
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  display:flex;
  li{
    flex:1;
    -webkit-box-flex: 1;
    a{
      display: block;
      text-align: center;
      height:46px;
      line-height:46px;
      border:1px solid $border-base;
      font:{
        size:$font16px;
        weight:$normal;
      }
      &:hover{
        text-decoration: none;
      }
    }
    margin-left:-1px;
    &:first-child{
      margin-left:0;
    }
    &.on{
      position: relative;
      z-index:1;
      a{
        border-color:$strong-color;
        color:#fff;
        font-weight:$bold;
        background: $strong-color;
      }
    }
  }
}*/


/*accordian*/ //todo ok
.accodian_list{
  article{
    border-bottom:1px solid $border-base;
    .list_title{
      position: relative;
      padding:15px 28px 15px 0;
      background: #fff;
      .tit{
        display: inline-block;
        font : {
          size :$font14px;
          weight: $bold;
        }
      }
      .category{
       left:0;
      }
      &:after{
        content:"";
        position: absolute;
        right:8px;
        top:50%;
        width:13px;
        height:7px;
        margin-top:-3px;
        background:url('#{$common-img}ico_toggle.png') no-repeat 0 0;
        background-size:13px auto;
      }
      &.on:after{
        background-position:0 -10px;
      }
      cursor:pointer
    }
    .list_contents{
      position: relative;
      display: none;
      background: $bg-base;
      border-top:1px solid $border-base;
      padding : 15px 15px 15px 0;
      .category{
        left:14px;
      }
      .comment{
        display: inline-block;
        line-height:150%;
        font-size:$font14px;
      }
    }
  }
}

/*qna flag*/ //todo ok
.category{
  display: inline-block;
  border:1px solid $border-base;
  border-radius:2px;
  width:21px;
  height:18px;
  line-height:18px;
  font : {
    family:Arial,sans-serif;
    weight:$bold;
    size : 12px;
  }
  text-align: center;
  vertical-align: middle;
  &[data-type="question"]{
    color:$strong-color;
  }
  &[data-type="answer"]{
    color:$notice-color;
  }
}

/*file_upload*/ //todo ok
.file_upload{
  position: relative;
  padding-right:94px;
  overflow: hidden;
  input[type="file"]{
    @include blind(absolute);
  }
  .btn_file_find{
    position: absolute;
    right:0;
    top:0;
    cursor:pointer
  }
  .file_name{
    @include boxSizing();
    position: relative;
    width:100%;
    height:44px;
    padding-right:40px;
    background: #fff;
    border:1px solid $border-base;
    .name{
      display: block;
      width:100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left:10px;
      line-height:42px;
      font-size:$font14px;
      color : $light-color;
      &.on + .btn_file_del{
        display: block;
      }
    }
    .btn_file_del{
      @include blind(indent);
      display: none;
      position: absolute;
      right:0;
      top:50%;
      margin-top:-22px;
      width:40px;
      height:44px;
      background:url('#{$common-img}btn_file_del.png') no-repeat 50% 50%;
      background-size:11px auto;
    }
  }
}

/*lottoball*/// todo ok
span {
  &[class^="ball_n"] {
    display: inline-block;
    @include lottoball();
    @include borderRadius(50%);
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font: {
      family: Arial,sans-serif;
      weight: $bold;
    }
    & + .plus {
      vertical-align: middle;
      font-size:$base-size;
      color: $sub-color
    }
  }
  &.ball_n1th{
    background: #f7b629;
  }
  &.ball_n10th{
    background: #5fb4dc;
  }
  &.ball_n20th{
    background: #ee7969;
  }
  &.ball_n30th{
    background: #9b95e2;
  }
  &.ball_n40th{
    background: #58ca7b;
  }
}

/*!*로또팡 슬로건*!
.lotto_pang_slogan{
  border:1px solid $border-base;
  @include clearFix();
  @include boxSizing();
  width:100%;
  padding:10px 0 10px 30px;
  margin:80px 0 0 0;
  background: $bg-default;
  .logo{
    @include blind(indent);
    float:left;
    width:108px;
    height:66px;
    margin:0 20px 0 0;
    background:url("#{$common-img}img_slogan_logo.gif") no-repeat 0 0;
  }
  .desc{
    float:left;
    line-height:185%;
    color:#969696;
    padding:12px 0;
    font : {
      size : 12px;
      family: $util-font;
    }
  }
  .btn_go{
    padding:12px 20px 0 0;
    float:right;
  }
}*/

/*text*/
[data-color="red"]{
  color:$notice-color;
}
[data-color="blue"]{
  color:$strong-color;
}

[data-color="gray"]{
  color:$light-color;
}

[data-color="green"]{
  color:$etc-color;
}

/*anchor*/
.link_page {
  vertical-align: middle;
  color:$strong-color;
  text-decoration: underline;
}

/*layerPop*/ //todo ok
.common_layer{
  display: none;
  position: fixed;
  z-index:500;
  left:50%;
  top:50%;
  width:91.8%;
  .layer_wrap{
    @include boxSizing();
    position: relative;
    z-index:500;
    background: $bg-default;
    padding:0 15px 49px;
  }
  &:after{
    content:"";
    position: fixed;
    z-index:499;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background: rgba(0,0,0,0.2);
  }
  .inner_layer_content{
    position: relative;
    padding-top:49px;
    .layer_tit{
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:49px;
      line-height:49px;
      font-size:$font18px;
      text-align: center;
      color:$sub-color;
    }
    .msg{
      padding-top:15px;
      min-height:95px;
      font-size:$font16px;
      text-align: center;
      line-height:183%;
    }
    .data_table[data-align="left"]{
      margin:0;
      th{
        padding-left:10px;
        padding-right:10px;
      }
      td{
        padding-left:10px;
        padding-right:10px;
      }
    }
  }
  .layer_btn{
    position: absolute;
    bottom:0;
    left:0;
    font-size:0;
    width:100%;
    &.alert{
      .btn_ok{
        width:100%;
      }
    }//나중에 플렉스로 바꿔야징
    %btnStyle{
      @include borderRadius(0);
      height:49px;
      line-height:49px;
      width:50%;
      font-size:$font16px;
    }
    .btn_ok{
      @extend %btnStyle;
    }
    .btn_cancel{
      @extend %btnStyle;
    }
  }
  .btn_layer_close{
    @include blind(indent);
    position: absolute;
    top:-40px;
    right:0;
    width:31px;
    height:31px;
    background:url("#{$common-img}btn_layer_close.png") no-repeat 0 0;
    background-size:31px auto;

  }
}