<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이 조합관리 | 로또팡</title>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<!-- header include -->
<div id="container">
    <div class="sub_intro"><!-- sub_intro -->
        <div class="win_info">
            <p class="win_label">
                <span class="round">742</span>회 로또 당첨 번호
            </p>
            <p class="win_number">
                <span class="ball_n1th">1</span><!-- 1부터 9까지 class="ball_n1th" -->
                <span class="ball_n10th">12</span><!-- 10부터 19까지 class="ball_n10th" -->
                <span class="ball_n20th">23</span><!-- 20부터 29까지 class="ball_n20th" -->
                <span class="ball_n30th">34</span><!-- 30부터 39까지 class="ball_n30th" -->
                <span class="ball_n40th">48</span><!-- 40부터 49까지 class="ball_n40th" -->
                <span class="plus">+</span>
                <span class="ball_n1th">6</span>
            </p>
        </div>
        <p class="path">
            <span class="home">home</span>
            &gt;
            <span class="depth">특별한 회원 서비스</span>
            &gt;
            <strong class="now">마이 조합관리</strong>
        </p>
    </div><!-- //sub_intro -->
    <div class="content_section">
        <section id="local_info"><!-- local_info -->
            <h2 class="blind">지역네비게이션</h2>
            <p class="lnb_desc">
                <span>오로지 로또팡에만 있는!</span>
                <strong>특별한 회원 서비스</strong>
            </p>
            <nav id="lnb"><!-- lnb -->
                <ul>
                    <li><a href="#">마이페이지(정보변경)</a></li>
                    <li class="on"><a href="#">마이 조합 관리</a></li>
                    <li><a href="#">혜택! 자유이용권 구매하기</a></li>
                    <li><a href="#">테크앤조이 소개</a></li>
                </ul>
            </nav><!-- //lnb -->
            <aside class="etc_info">
                <div class="ad">
                    <a href="#">
                        <img src="../../resources/img/temp/tmp_lnb_ad1.jpg" alt="로또팡 내 모든 서비스 무제한 이용가능!! 자유이용권 구매하기">
                    </a><!-- N; img 관리자등록시 alt 갱신 -->
                </div>
                <dl class="etc">
                    <dt>고객센터</dt>
                    <dd class="cc_tel">070-8221-5031</dd>
                    <dd>운영시간 : 월 ~ 금 09:00 ~ 18:00</dd>
                </dl>
                <dl class="etc">
                    <dt>무통장 입금 계좌번호</dt>
                    <dd><strong>국민</strong> 443101-01-118753</dd>
                    <dd><strong>우리</strong> 1005-402-148847</dd>
                    <dd><strong>신한</strong> 110-214-719112</dd>
                    <dd>(예금주 : 서주형)</dd>
                </dl>
                <dl class="etc">
                    <dt>유의사항</dt>
                    <dd>- 1:1 회원 게시판에 입금 확인을 요청.</dd>
                    <dd>- 주문자와 입금자 이름이 일치해야 함.</dd>
                </dl>
            </aside>
        </section><!-- //local_info -->
        <section id="content"><!-- content -->
            <h2 class="page_title">
                <span class="desc">특별한 회원 서비스</span>
                <span class="tit">마이 조합관리</span>
            </h2>

            <div class="mix_contents" data-type="article_btns">
                <div class="article">
                    <p class="desc_primary" data-type="label">
                        <b data-color="blue">767</b>회 저장한 조합은 총
                        <b>4</b>개 입니다.
                    </p>
                    <select name="" id="">
                        <option value="">회차 선택</option>
                        <option value="">767</option>
                        <option value="">766</option>
                    </select><br>
                    
                </div>
                <div class="btns">
                    <button class="btn_strong" type="button">대세추천번호 관리</button>
                </div>
            </div>


            <h3 class="block_title">
                <span class="tit">마이조합 목록</span>
                <span class="actions">
                    <a href="#" class="link_page">3등, 4등 전용 보장 조합 받기!(유료보장회원 전용)</a>
                </span>
            </h3>


            <div class="board_table">
                <table>
                    <caption>공지사항리스트</caption>
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:auto">
                        <col style="width:auto">
                        <col style="width:auto">
                        <col style="width:auto">
                        <col style="width:auto">
                        <col style="width:auto">
                        <col style="width:auto">
                        <col style="width:20%">

                    </colgroup>
                    <thead>

                        <tr>
                            <th scope="col">
                                <div class="input_custom">
                                    <input type="checkbox" id="all_chk" name="">
                                    <label for="all_chk"><span class="blind">전체 선택</span></label>
                                </div>
                            </th>
                            <th scope="col">No</th>
                            <th scope="col">번호1</th>
                            <th scope="col">번호2</th>
                            <th scope="col">번호3</th>
                            <th scope="col">번호4</th>
                            <th scope="col">번호5</th>
                            <th scope="col">번호6</th>
                            <th scope="col">당첨결과</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- [Design] 아래 tr class="nodata" 는 조합 Data가 없을때 출력되는 tr입니다. 데이터가 있을경우 표현되지 않습니다. -->
                        <tr class="nodata">
                            <td colspan="9">
                                이번회차, 아직 저장한 my 조합이 없습니다.
                                <br>최고의 조합관리 서비스 OPEN!!
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input_custom">
                                    <input type="checkbox" id="mix_chk1_1" name="">
                                    <label for="mix_chk1_1"><span class="blind">1번용지 조합1 선택</span></label>
                                </div>
                            </td>
                            <td class="no">1</td>
                            <td>1</td>
                            <td>12</td>
                            <td>34</td>
                            <td>42</td>
                            <td>9</td>
                            <td>7</td>
                            <td>추첨예정</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input_custom">
                                    <input type="checkbox" id="mix_chk1_1" name="">
                                    <label for="mix_chk1_1"><span class="blind">1번용지 조합1 선택</span></label>
                                </div>
                            </td>
                            <td class="no">2</td>
                            <td>1</td>
                            <td>12</td>
                            <td>34</td>
                            <td>42</td>
                            <td>9</td>
                            <td>7</td>
                            <td>추첨예정</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input_custom">
                                    <input type="checkbox" id="mix_chk1_1" name="">
                                    <label for="mix_chk1_1"><span class="blind">1번용지 조합1 선택</span></label>
                                </div>
                            </td>
                            <td class="no">3</td>
                            <td>1</td>
                            <td>12</td>
                            <td>34</td>
                            <td>42</td>
                            <td>9</td>
                            <td>7</td>
                            <td>추첨예정</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input_custom">
                                    <input type="checkbox" id="mix_chk1_1" name="">
                                    <label for="mix_chk1_1"><span class="blind">1번용지 조합1 선택</span></label>
                                </div>
                            </td>
                            <td class="no">4</td>
                            <td>1</td>
                            <td>12</td>
                            <td>34</td>
                            <td>42</td>
                            <td>9</td>
                            <td>7</td>
                            <td>추첨예정</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            

            <div class="mix_contents">
                <div class="btns">
                    <button type="button" class="btn_primary">선택 삭제</button>
                    <button type="button" class="btn_primary">선택번호 인쇄</button>
                </div>
                <div class="article">
                    <div class="pagenation">
                        <!-- [Design] 좌측 버튼과 조합된 형태로, 총 paging 갯수는 10개를 넘지 말아주세요 -->
                        <button type="button" class="btn_first">처음</button>
                        <button type="button" class="btn_prev">이전</button>
                        <strong class="now" title="현재페이지">1</strong>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <button type="button" class="btn_next">다음</button>
                        <button type="button" class="btn_end">끝</button>
                    </div>
                </div>
            </div>  

            <div class="banner_plus_member"><!-- banner_plus_member -->
                <strong class="percent">62%<br><span>할인</span></strong>
                <p class="desc">지금, 플러스회원권을 구매하면!<b>대세 추천번호가 따라온다</b></p>
                <button class="btn_plus">플러스회원권 구입하기</button>
            </div><!-- //banner_plus_member -->

        </section><!-- //content -->
    </div>
</div>
<!-- footer include -->
<script src="../../resources/lib/jquery-1.12.4.min.js"></script>
</body>
</html>