<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지 정보변경 | 로또팡</title>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<!-- header include -->
<div id="container">
    <div class="sub_intro"><!-- sub_intro -->
        <div class="win_info">
            <p class="win_label">
                <span class="round">742</span>회 로또 당첨 번호
            </p>
            <p class="win_number">
                <span class="ball_n1th">1</span><!-- 1부터 9까지 class="ball_n1th" -->
                <span class="ball_n10th">12</span><!-- 10부터 19까지 class="ball_n10th" -->
                <span class="ball_n20th">23</span><!-- 20부터 29까지 class="ball_n20th" -->
                <span class="ball_n30th">34</span><!-- 30부터 39까지 class="ball_n30th" -->
                <span class="ball_n40th">48</span><!-- 40부터 49까지 class="ball_n40th" -->
                <span class="plus">+</span>
                <span class="ball_n1th">6</span>
            </p>
        </div>
        <p class="path">
            <span class="home">home</span>
            &gt;
            <span class="depth">마이페이지</span>
            &gt;
            <strong class="now">정보변경</strong>
        </p>
    </div><!-- //sub_intro -->
    <div class="content_section">
        <section id="local_info"><!-- local_info -->
            <h2 class="blind">지역네비게이션</h2>
            <p class="lnb_desc">
                <span>오로지 로또팡에만 있는!</span>
                <strong>특별한 회원 서비스</strong>
            </p>
            <nav id="lnb"><!-- lnb -->
                <ul class="menu">
                    <li class="on"><a href="#">마이페이지(정보변경)</a></li>
                    <li><a href="#">마이 조합 관리</a></li>
                    <li><a href="#">혜택!플러스회원권 구매하기</a></li>
                    <li><a href="#">테크앤조이 소개</a></li>
                </ul>
            </nav><!-- //lnb -->
            <aside class="etc_info">
                <div class="ad">
                    <a href="#">
                        <img src="../../resources/img/temp/tmp_lnb_ad1.jpg" alt="로또팡 내 모든 서비스 무제한 이용가능!! 플러스회원권 구매하기">
                    </a><!-- N; img 관리자등록시 alt 갱신 -->
                </div>
                <dl class="etc">
                    <dt>고객센터</dt>
                    <dd class="cc_tel">070-8221-5031</dd>
                    <dd>운영시간 : 월 ~ 금 09:00 ~ 18:00</dd>
                </dl>
                <dl class="etc">
                    <dt>무통장 입금 계좌번호</dt>
                    <dd><strong>국민</strong> 443101-01-118753</dd>
                    <dd><strong>우리</strong> 1005-402-148847</dd>
                    <dd><strong>신한</strong> 110-214-719112</dd>
                    <dd>(예금주 : 서주형)</dd>
                </dl>
                <dl class="etc">
                    <dt>유의사항</dt>
                    <dd>- 1:1 회원 게시판에 입금 확인을 요청.</dd>
                    <dd>- 주문자와 입금자 이름이 일치해야 함.</dd>
                </dl>
            </aside>
        </section><!-- //local_info -->
        <section id="content"><!-- content -->
            <h2 class="page_title">
                <span class="desc">마이페이지</span>
                <span class="tit">정보변경</span>
            </h2>


            
            <h3 class="block_title">
                <span class="tit">정보 변경하기</span>
            </h3>

            <div class="input_table"><!-- input_table  -->
                <table>
                    <caption>필수사항 입력</caption>
                    <colgroup>
                        <col style="width:30.7%">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="changePhoneNum">본인명의 휴대전화</label></th>
                            <td>
                                <span data-hide="phoneNum">
                                    <input type="text" data-width="300" required id="changePhoneNum" title="본인명의 휴대전화 입력">
                                    <button class="btn_strong">인증하기</button>
                                </span>

                                <!-- [Design - 번호 인증 완료될 경우 ] 
                                    1.  아래 <span id="phoneNum"> 요소가 SHOW 됩니다.
                                    2. $('[data-hide="phoneNum"]').remove() 됩니다. (Hide 처리하면 디자인 어그러짐.)
                                 -->
                                <span class="has_data" data-color="blue"  id="phoneNum" style="display:none">000-0000-0000</span>


                                <div class="input_custom">
                                    <input type="checkbox" id="chkSmsAgree" title="SMS수신동의">
                                    <label for="chkSmsAgree"><span>SMS수신</span></label>
                                </div>

                                <p class="validate_notice">전화번호를 다시 확인해 주세요.</p>
                                
                            </td>
                        </tr>
                        <tr  data-hide="phoneNum">
                            <th scope="row"><label for="joinVerifyNum">인증번호</label></th>
                            <td>
                                <input type="text" class="verify_phone_input" id="joinVerifyNum" placeholder="문자로 발송된 인증번호 입력" title="휴대전화 인증번호 입력">
                                <span class="verify_phone_time">4분 55초</span>
                                <button class="btn_primary">확인</button>

                                <!-- [Design - 번호 인증 관련 메시지 ] 
                                    1.  - 인증이 필요합니다
                                        - 잘못된 인증번호입니다. 다시 확인 해 주세요. 

                                        위 두가지 Case 의 경우  <p class="validate_notice">인증이 필요합니다.</p> 로 출력.

                                    2. - 인증이 성공했습니다. <p class="table_notice">인증이 성공했습니다.</p> 로 출력. 
                                        위 Case 의 경우 
                                 -->
                                <p class="validate_notice">인증이 필요합니다.</p>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th scope="row" rowspan="2"><label for="birthDate">생년월일시</label></th>
                            <td>
                                <input type="text" id="birthDate" data-width="200" title="생년월일시 입력" placeholder="예)19831227">
                                <select name="" title="생년월일시 양력 음력 선택">
                                    <option value="">양력</option>
                                    <option value="">음력</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select name="" title="생년월일시 십이지지 선택" data-width="200">
                                    <option value="">子(자) 23:30 ~ 01:29</option>
                                </select>
                                <select name="" title="성별 선택">
                                    <option value="">남자</option>
                                    <option value="">여자</option>
                                </select>
                                <select name="" title="평달 윤달 선택">
                                    <option value="">평달</option>
                                    <option value="">윤달</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- //input_table -->


            <div class="btn_wrap" data-align="center">
                <button class="btn_strong" type="button">변경하기</button>
            </div>

            



            <h3 class="block_title">
                <span class="tit">구매내역</span>
                <span class="desc">플러스회원권 구매</span>
            </h3>
            <div class="data_table"><!-- data_table -->
                <table>
                    <caption>구매내역</caption>
                    <colgroup>
                        <col style="width:24%">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">플러스회원권</th>
                            <td data-align="left">
                                <b>구매</b>
                                <span>( 사용기간 2017-02-04 ~ 2018-02-04 )</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">보장등수</th>
                            <td data-align="left">
                                <b>3등 보장</b>
                                <a href="#" class="link_page">이번 회차 3등 보장보합 보기</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- //data_table -->



            <h3 class="block_title">
                <span class="tit">코인 내역</span>
            </h3>
            <div class="data_table"><!-- data_table -->
                <table>
                    <caption>코인 내역</caption>
                    <colgroup>
                        <col style="width:24%">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">코인</th>
                            <td data-align="left">10,200 원</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- //data_table -->



            <h3 class="block_title">
                <span class="tit">가입정보</span>
            </h3>
            <div class="data_table"><!-- data_table -->
                <table>
                    <caption>가입정보</caption>
                    <colgroup>
                        <col style="width:24%">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">가입회차</th>
                            <td data-align="left">로또 509회</td>
                        </tr>
                        <tr>
                            <th scope="row">대세 추천번호</th>
                            <td data-align="left" class="cell_inner_btns">
                                <span><b>465</b> 개 받을 수 있음</span>
                                <button type="button" class="btn_table">받기</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- //data_table -->


            
            <h3 class="block_title">
                <span class="tit">로또팡 탈퇴하기</span>
            </h3>


            <div class="box_contents actions">
                <div class="article">
                    <p>로또팡 사이트를 탈퇴하시겠습니까?<br><strong data-color="red">탈퇴 시 마일리지 등 모든 데이터가 삭제</strong>됩니다.</p>
                </div>
                <div class="actions">
                    <button class="btn_strong">자동탈퇴하기</button>
                </div>
            </div>

            


            <aside class="lotto_pang_slogan"><!-- 하단 슬로건 -->
                <p class="logo">로또예상번호는 로또팡</p>
                <p class="desc">로또팡의 통계, 분석자료는 국내유일의 기법을 사용하여 새로운 자료들이 자주 추가됩니다! <br>로또예상번호는 로또팡!</p>
            </aside><!-- //하단 슬로건 -->
        </section><!-- //content -->
    </div>
</div>
<!-- footer include -->
<script src="../../resources/lib/jquery-1.12.4.min.js"></script>
</body>
</html>