@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
.input_custom input[type='checkbox'] + label:before, .input_custom input[type='radio'] + label:before { background: url("../img/common/ico_form_sprite.png") no-repeat; background-size: 85px auto; }

input[type="text"], input[type="password"], textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-width: 53%; height: 44px; line-height: 44px; padding: 0 10px; border-style: solid; border-width: 1px; font-size: 1rem; border-color: #ccc; background: #fff; color: #555; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { border-color: #528dff; outline: 0; }

input[readonly][type="text"], input[readonly][type="password"], textarea[readonly] { border-color: #cfcfcf; background: #f4f4f4; color: #000; }

input[disabled][type="text"], input[disabled][type="password"], textarea[disabled] { border-color: #cfcfcf; background: #f4f4f4; color: #969696; }

input[required][type="text"], input[required][type="password"], textarea[required] { border-color: #528dff; background: #e8f0f9; color: #6998f4; }

input[required][readonly][type="text"], input[required][readonly][type="password"], textarea[required][readonly] { border-color: #528dff; background: #f4f4f4; color: #6998f4; }

input[required][disabled][type="text"], input[required][disabled][type="password"], textarea[required][disabled] { border-color: #528dff; background: #f4f4f4; color: #969696; }

.btn_primary, .btn_strong, .btn_link, .link_list li a, #gnb .sub_gnb .depth ul li a, button[disabled] { display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; min-width: 91px; height: 44px; padding: 0 7px; line-height: 44px; font-size: 1rem; /* weight:$bold;*/ color: #fff; text-align: center; }

.btn_primary:focus, .btn_strong:focus, .btn_link:focus, .link_list li a:focus, #gnb .sub_gnb .depth ul li a:focus, button[disabled]:focus { text-decoration: none; }

/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, #footer .copyright, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; }

html, body { font-family: "Noto Sans KR", sans-serif; font-size: 14px; font-weight: 400; color: #555; height: 100%; }

body { background: #f1f1f1; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; font-size: 100%; }

em, i, address, #footer .copyright { font-style: normal; }

ul, ol { list-style: none; }

img { border: 0; vertical-align: top; max-width: 100%; }

table { border-collapse: collapse; width: 100%; table-layout: fixed; }

a { text-decoration: none; color: #555; }

a:hover { text-decoration: underline; }

input { font-family: "Noto Sans KR", sans-serif; font-size: 14px; font-weight: 400; color: #555; }

select { -webkit-appearance: none; font-family: "Noto Sans KR", sans-serif; font-size: 14px; font-weight: 400; color: #555; }

select::-ms-expand { display: none; }

button { font-family: "Noto Sans KR", sans-serif; font-size: 14px; font-weight: 400; color: #555; border: 0; background: transparent; cursor: pointer; }

textarea { font-family: "Noto Sans KR", sans-serif; font-size: 14px; font-weight: 400; color: #555; }

.blind { position: absolute; left: -9999px; width: 0; height: 0; }

#skipnavi { position: absolute; left: -9999px; width: 0; height: 0; }

caption { position: absolute; left: -9999px; width: 0; height: 0; }

/*style.css*/
/*layout*/
#header { position: fixed; left: 0; top: 0; z-index: 50; width: 100%; background: #282564; height: 88px; }

#header .logo { text-align: center; }

#header .logo a { display: inline-block; padding: 4px 0 0 0; height: 47px; }

#header .logo a img { width: auto; height: 100%; }

#header .btn_side_navi { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; position: absolute; width: 55px; height: 55px; left: 0; top: 0; background: url("../img/common/btn_side_navi.png") no-repeat 50% 50%; background-size: 20px auto; }

#header .btn_member_join { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; position: absolute; width: 55px; height: 55px; right: 0; top: 0; background: url("../img/common/btn_member_join.png") no-repeat 50% 50%; background-size: 20px auto; }

#header .side_wrap { position: fixed; left: -91%; top: 0; bottom: 0; width: 91%; z-index: 300; }

#header .side_wrap.on:before { content: ""; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 299; background: rgba(0, 0, 0, 0.5); }

#header .side_wrap.on .side_menu_section { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }

#gnb { position: relative; width: 100%; }

#gnb .gnb { width: 9999px; background: #282564; height: 37px; padding: 0 8px; }

#gnb .gnb li { position: relative; float: left; padding: 0 10px; }

#gnb .gnb li:after { content: ""; position: absolute; width: 1px; height: 10px; right: 0; top: 50%; margin-top: -5px; background: #585b94; }

#gnb .gnb li a { display: block; height: 37px; line-height: 37px; text-align: center; color: #fff; }

#gnb .gnb li:last-child:after { display: none; }

#gnb .gnb li.on a { position: relative; }

#gnb .gnb li.on a:before { content: ""; position: absolute; left: 0; bottom: 5px; width: 100%; height: 3px; background: #79a3f6; }

#gnb .sub_gnb { position: absolute; left: 0; width: 100%; }

#gnb .sub_gnb .depth { display: none; padding: 10px 18px; background: #fff; border-bottom: 3px solid #79a3f6; }

#gnb .sub_gnb .depth.on { display: block; }

.side_menu_section { -webkit-transition: transform 0.3s; transition: transform 0.3s; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); position: absolute; width: 100%; left: 0; bottom: 0; top: 0; z-index: 300; background: #f1f1f1; }

.side_menu_section .login_before_sec, .side_menu_section .login_after_sec { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow-x: hidden; overflow-y: auto; padding: 55px 0 0; height: 100%; }

.side_menu_section .login_before_sec .head_info, .side_menu_section .login_after_sec .head_info { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; left: 0; top: 0; z-index: 10; width: 100%; height: 55px; background: #282564; padding: 0 73px 0 18px; letter-spacing: -1px; }

.side_menu_section .login_before_sec .head_info span, .side_menu_section .login_after_sec .head_info span { color: #6998f4; }

.side_menu_section .login_before_sec .head_info .login_status, .side_menu_section .login_after_sec .head_info .login_status { position: relative; padding: 0 0 0 28px; height: 55px; line-height: 55px; font-size: 1.15rem; color: #fff; }

.side_menu_section .login_before_sec .head_info .login_status:before, .side_menu_section .login_after_sec .head_info .login_status:before { content: ""; position: absolute; left: 0; top: 50%; width: 18px; height: 18px; margin-top: -9px; background: url("../img/common/ico_login_status.png") no-repeat 0 0; background-size: auto 18px; }

.side_menu_section .login_before_sec .mini_info, .side_menu_section .login_after_sec .mini_info { position: relative; padding: 0 0 0 0; background: #f1f1f1; }

.side_menu_section .login_before_sec .mini_info .desc, .side_menu_section .login_after_sec .mini_info .desc { padding-left: 18px; height: 55px; line-height: 55px; color: #6998f4; font-size: 1.07rem; }

.side_menu_section .login_before_sec .mini_info .desc b, .side_menu_section .login_after_sec .mini_info .desc b { font-weight: 800; }

.side_menu_section .login_before_sec .mini_info .my_coin, .side_menu_section .login_after_sec .mini_info .my_coin { padding-left: 18px; height: 55px; line-height: 55px; font-size: 1.15rem; }

.side_menu_section .login_before_sec .mini_info .my_coin:before, .side_menu_section .login_after_sec .mini_info .my_coin:before { display: inline-block; vertical-align: middle; content: ""; width: 17px; height: 17px; background: url("../img/common/ico_money.png") no-repeat 0 0; background-size: 17px auto; }

.side_menu_section .login_before_sec .mini_info .my_coin span, .side_menu_section .login_after_sec .mini_info .my_coin span { vertical-align: middle; }

.side_menu_section .login_before_sec .mini_info .my_coin span.name, .side_menu_section .login_after_sec .mini_info .my_coin span.name { margin-right: 90px; }

.side_menu_section .login_before_sec .mini_info .my_coin span.money, .side_menu_section .login_after_sec .mini_info .my_coin span.money { color: #ea614e; }

.side_menu_section .login_before_sec .mini_info .link_btn, .side_menu_section .login_after_sec .mini_info .link_btn { position: absolute; right: 18px; top: 50%; margin-top: -13px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 62px; background: #fff; height: 27px; line-height: 27px; font-size: 1rem; color: #777; border: 1px solid #c8c8c8; text-align: center; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.side_menu_section .login_before_sec .mini_info .link_btn:focus, .side_menu_section .login_after_sec .mini_info .link_btn:focus { background: #cccccc; }

.side_menu_section .login_before_sec .mini_info .link_btn:focus, .side_menu_section .login_after_sec .mini_info .link_btn:focus { text-decoration: none; }

.side_menu_section .login_before_sec .mini_info .tit, .side_menu_section .login_after_sec .mini_info .tit { text-align: center; line-height: 55px; height: 55px; font-weight: 700; font-size: 1.15rem; color: #000; }

.side_menu_section .login_before_sec .sns_login li { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; height: 50px; line-height: 50px; margin-bottom: 11px; text-align: center; }

.side_menu_section .login_before_sec .sns_login li:last-child { margin-bottom: 0; }

.side_menu_section .login_before_sec .sns_login li a { display: block; height: 100%; color: #fff; font-weight: 500; background-repeat: no-repeat; }

.side_menu_section .login_before_sec .sns_login li.login_naver { background: #00be39; }

.side_menu_section .login_before_sec .sns_login li.login_naver a { background-image: url("../img/common/bg_login_naver.png"); background-size: auto 15px; background-position: 14px 50%; }

.side_menu_section .login_before_sec .sns_login li.login_google { background: #ea5d4a; }

.side_menu_section .login_before_sec .sns_login li.login_google a { background-image: url("../img/common/bg_login_google.png"); background-size: auto 21px; background-position: 14px 50%; }

.side_menu_section .login_before_sec .sns_login li.login_facebook { background: #0a4aab; }

.side_menu_section .login_before_sec .sns_login li.login_facebook a { background-image: url("../img/common/bg_login_facebook.png"); background-size: auto 23px; background-position: 17px 50%; }

.side_menu_section .login_before_sec .sns_login li.login_kakao { background: #ffe906; }

.side_menu_section .login_before_sec .sns_login li.login_kakao a { background-image: url("../img/common/bg_login_kakao.png"); background-size: auto 23px; background-position: 10px 50%; }

.side_menu_section .login_after_sec .my_fee { display: block; text-align: center; margin-bottom: 5px; letter-spacing: -1px; font-size: 1.15rem; font-weight: 700; color: #6998f4; }

.side_menu_section .login_after_sec .terms { text-align: center; font-size: 1.07rem; margin-bottom: 18px; }

.side_menu_section .login_after_sec.join { background: #fff; }

.side_menu_section .btn_nav_close { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; position: absolute; right: 0; top: 0; z-index: 11; width: 55px; height: 55px; background: url("../img/common/btn_nav_close.png") no-repeat 50% 50%; background-size: 18px auto; }

#container { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 100%; padding: 88px 0 304px 0; }

.bottom_section { height: 304px; margin-top: -304px; }

#footer { position: relative; height: 155px; z-index: 10; background: #dfdfe0; text-align: center; }

#footer .foot_util { font-size: 0; }

#footer .foot_util li { display: inline-block; }

#footer .foot_util li a { position: relative; display: inline-block; padding: 0 7px; height: 44px; line-height: 44px; font-weight: 700; font-size: 0.86rem; }

#footer .foot_util li a:after { content: ""; position: absolute; right: 0; top: 50%; width: 1px; height: 10px; margin-top: -5px; background: #c8c8c8; }

#footer .foot_util li:last-child a:after { display: none; }

#footer address, #footer .copyright { font-size: 0.86rem; letter-spacing: -1px; line-height: 160%; color: #969696; }

#footer address a, #footer .copyright a { color: #969696; }

#footer address .company, #footer .copyright .company { color: #000; }

.bottom_util { padding-bottom: 55px; }

.bottom_util .btn_home_add { width: 100%; height: 44px; background: #fff; }

.bottom_util .btn_home_add:before { display: inline-block; vertical-align: middle; content: ""; width: 18px; height: 18px; margin-right: 7px; background: url("../img/common/ico_add_home.png") no-repeat 0 0; background-size: 18px auto; }

.bottom_util .link_spot { background: #282564; font-size: 0; }

.bottom_util .link_spot a { display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 50%; height: 50px; line-height: 50px; color: #fff; font-size: 1.07rem; text-align: center; }

.bottom_util .link_spot a:first-child { border-right: 1px solid #535183; }

.bottom_util .link_spot a:first-child:before { width: 19px; background-position: 0 50%; }

.bottom_util .link_spot a:before { content: ""; display: inline-block; vertical-align: top; width: 13px; height: 50px; margin-right: 7px; background: url("../img/common//ico_link_spot.png") no-repeat 100% 50%; background-size: auto 17px; }

.bottom_util .week_lotto_info { position: fixed; left: 0; bottom: 0; z-index: 20; overflow: hidden; background: #fff; display: table; width: 100%; height: 55px; }

.bottom_util .week_lotto_info dt { width: 91px; padding: 0 0 0 18px; display: table-cell; vertical-align: middle; letter-spacing: -1px; }

.bottom_util .week_lotto_info dt b { color: #ea614e; font-weight: 700; font-size: 1.21rem; }

.bottom_util .week_lotto_info dt strong { font-weight: 700; font-size: 0.92rem; }

.bottom_util .week_lotto_info dd { padding: 0 18px 0 0; display: table-cell; vertical-align: middle; }

/*contents whitebox*/
.box_wrap { position: relative; padding: 18px; background: #fff; margin-bottom: 12px; }

.box_wrap:last-child { margin-bottom: 0; }

.box_wrap > .desc { font-size: 1.07rem; line-height: 100%; margin-bottom: 18px; }

.box_wrap > .desc_primary { font-size: 1.07rem; line-height: 140%; margin-bottom: 18px; }

.box_wrap > .box_desc { font-size: 0.92rem; margin-bottom: 20px; letter-spacing: -1px; }

.box_wrap .box_title { font-weight: 500; font-size: 1.15rem; color: #000; margin-bottom: 18px; line-height: 100%; letter-spacing: -1px; }

.box_wrap .block_title { font-weight: 500; font-size: 1.15rem; color: #000; padding-bottom: 11px; border-bottom: 1px solid #e5e5e5; margin-bottom: 15px; line-height: 100%; letter-spacing: -1px; }

.box_wrap > .link_more { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; position: absolute; right: 0; top: 3px; width: 45px; height: 45px; background: url("../img/common/link_more.png") no-repeat 50% 50%; background-size: 7px auto; }

.link_list, #gnb .sub_gnb .depth ul { margin: -0.7% 0 0 -0.7%; width: 101.4%; overflow: hidden; }

.link_list li, #gnb .sub_gnb .depth ul li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; width: 50%; padding: 0.7%; }

.link_list li a, #gnb .sub_gnb .depth ul li a { width: 100%; padding: 0; letter-spacing: -1px; }

.site_warnning { padding: 18px 0; background: #fff; text-align: center; color: #969696; line-height: 145%; font-size: 0.79rem; letter-spacing: -1px; }

/*title*/
.page_title { height: 35px; line-height: 32px; background: #6998f4; font-weight: 500; font-size: 1.28rem; letter-spacing: -1px; color: #fff; text-align: center; }

.sub_title { position: relative; text-align: center; padding: 0 41px; background: #f1f1f1; }

.sub_title h3 { height: 49px; line-height: 49px; font-weight: 700; font-size: 1.15rem; color: #000; letter-spacing: -1px; }

.sub_title .prev_menu, .sub_title .next_menu { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; position: absolute; top: 0; width: 41px; height: 49px; background-repeat: no-repeat; background-size: 85px auto; background-image: url("../img/common/btn_menu.png"); }

.sub_title .prev_menu { left: 0; background-position: 0 0; }

.sub_title .next_menu { right: 0; background-position: -44px 0; }

/*form controls*/
.input_custom { display: inline-block; vertical-align: middle; }

.input_custom input { position: absolute; left: -9999px; width: 0; height: 0; }

.input_custom input[type='checkbox'][disabled] + label:before { background-position: -66px -22px; }

.input_custom input[type='checkbox'][disabled][type='checkbox']:checked + label:before { background-position: -44px -22px; }

.input_custom input[type='checkbox']:checked + label:before { background-position: -22px -22px; }

.input_custom input[type='checkbox'] + label { cursor: pointer; }

.input_custom input[type='checkbox'] + label:before { content: ""; display: inline-block; vertical-align: middle; width: 19px; height: 19px; background-position: 0 -22px; }

.input_custom input[type='checkbox'] + label span { margin: 0 0 0 6px; vertical-align: middle; font-size: 1rem; color: #555; }

.input_custom input[type='radio'][disabled] + label:before { background-position: -66px 0; }

.input_custom input[type='radio'][disabled][type='radio']:checked + label:before { background-position: -44px 0; }

.input_custom input[type='radio']:checked + label:before { background-position: -22px 0; }

.input_custom input[type='radio'] + label { cursor: pointer; }

.input_custom input[type='radio'] + label:before { content: ""; display: inline-block; vertical-align: middle; width: 19px; height: 19px; background-position: 0 0; }

.input_custom input[type='radio'] + label span { margin: 0 0 0 6px; vertical-align: middle; font-size: 1rem; color: #555; }

textarea { min-width: auto; width: 100%; min-height: 180px; line-height: 140%; padding: 10px; }

select { min-width: 91px; width: auto; height: 44px; padding: 0 26px 0 10px; border: 1px solid #ccc; background-image: url("../img/common/ico_select.png"); background-repeat: no-repeat; background-position: 100% 0; background-color: #fff; background-size: 26px auto; color: #555; cursor: pointer; }

select[required] { border: 1px solid #528dff; background-color: #e8f0f9; color: #6998f4; }

select[disabled] { border: 1px solid #cfcfcf; background-color: #f4f4f4; }

select[disabled][required] { border: 1px solid #528dff; background-color: #f4f4f4; }

/*input, selector, textares size*/
[data-width='200'] { width: 200px; }

[data-width='100p'] { width: 100%; }

/*button style*/
.btn_primary { background: #72767e; }

.btn_primary:focus { background: #424448; }

.btn_strong { background: #528dff; }

.btn_strong:focus { background: #0050eb; }

.btn_link, .link_list li a, #gnb .sub_gnb .depth ul li a { background: #fafafa; color: #555; border: 1px solid #e5e5e5; font-weight: 400; }

.btn_link:focus, .link_list li a:focus, #gnb .sub_gnb .depth ul li a:focus { background: #528dff; color: #fff; }

/*.btn_table{
    @extend %btn;
    min-width: 80px;
    height: 35px;
    margin-left:10px;
    margin-right:10px;
    border:1px solid #bbbf;
    background:$btn-table;
    vertical-align: middle;
    line-height: 35px;
    color:#333;
    &:hover{
      background:darken($btn-strong, 20%);
      border-color:darken($btn-strong, 20%);
      color:#fff;
    }
  }
*/
button[disabled] { background: #b8b8b8; }

button[disabled]:hover { background: #b8b8b8; }

/*더보기버튼*/
.btn_page_more { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; background: #fff; height: 44px; line-height: 44px; font-size: 1rem; color: #555; text-align: center; }

.btn_page_more:focus { background: #cccccc; }

.btn_page_more:after { content: ""; display: inline-block; width: 12px; height: 7px; background: url("../img/common/btn_data_more.png") no-repeat 0 0; background-size: 12px 7px; margin-left: 9px; }

.btn_wrap { margin-top: 15px; font-size: 0; display: -webkit-box; -webkit-box-orient: horizontal; display: flex; }

.btn_wrap[data-align="center"] { text-align: center; }

.btn_wrap[data-align="center"] .btn_primary, .btn_wrap[data-align="center"] .btn_strong, .btn_wrap[data-align="center"] .btn_link, .btn_wrap[data-align="center"] .link_list li a, .link_list li .btn_wrap[data-align="center"] a, .btn_wrap[data-align="center"] #gnb .sub_gnb .depth ul li a, #gnb .sub_gnb .depth ul li .btn_wrap[data-align="center"] a { -webkit-box-flex: 1; flex: 1; }

.btn_wrap[data-align="left"] { text-align: left; }

.btn_wrap[data-align="right"] { text-align: right; }

.btn_wrap button, .btn_wrap a { margin-right: 1.6%; }

.btn_wrap button:last-child, .btn_wrap a:last-child { margin-right: 0; }

/*table*/
.input_table { /*padding:25px 0 0;*/ border-bottom: 1px solid #e5e5e5; }

.input_table.list_type tbody tr:last-child td, .input_table.list_type tbody tr:last-child th { border-bottom: 0; }

.input_table.list_type th { border-bottom: 1px solid #e5e5e5; vertical-align: middle; }

.input_table.list_type td { padding: 15px 0; border-bottom: 1px solid #e5e5e5; }

.input_table tbody { /*& + tbody{ tr:first-child{ border-top:1px solid $border-base; td{ padding-top:40px; } th{ padding-top:55px; } } } tr:last-child{ td, & th{ padding-bottom:40px; } }*/ }

.input_table th { padding: 14px 0 14px 15px; vertical-align: top; text-align: left; }

.input_table th:before { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; display: inline-block; content: ""; vertical-align: middle; margin-right: 7px; width: 4px; height: 4px; background: #8a9fc7; }

.input_table td { padding: 7px 0 7px 0; font-size: 0; background: #fff; /*& > .has_data +.input_custom { margin-left:13px; }*/ }

.input_table td > input, .input_table td > .input_custom, .input_table td > button, .input_table td > a, .input_table td > select { margin-right: 1.38%; vertical-align: middle; }

.input_table td > .input_custom { /* margin-left:1.38%;*/ }

.input_table .has_data { font-size: 1.07rem; padding-bottom: 5px; vertical-align: inherit; }

.input_table .validate_notice { margin-top: 8px; color: #ea614e; font-size: 1.07rem; margin-bottom: 8px; }

.input_table .validate_notice:first-child { margin-top: 0; }

.input_table .validate_notice:last-child { margin-bottom: 0; }

.input_table .table_notice { margin-top: 8px; color: #7b8caf; font-size: 1rem; /* padding-left: 15px;*/ line-height: 150%; }

.input_table .verify-time { color: #ea614e; }

.input_table .link_page { margin-left: 10px; vertical-align: top; }

.input_table .bars { font-size: 1rem; display: inline-block; margin-right: 1.38%; vertical-align: middle; }

.data_table { border: 1px solid #e5e5e5; }

.data_table[data-font="small"] td { font-size: 0.92rem; padding-right: 2px; padding-left: 2px; }

.data_table[data-font="small"] th { padding-right: 2px; padding-left: 2px; font-size: 0.92rem; }

.data_table + .data_table { margin-top: 10px; }

.data_table[data-align="left"] tbody th { text-align: left; }

.data_table[data-align="left"] tbody td { text-align: left; }

.data_table thead th { padding: 8px 0; background: #f3f4f8; border-width: 0 1px 1px 0; border-style: solid; border-color: #e5e5e5; font-size: 1.07rem; font-weight: 400; color: #7b8caf; }

.data_table thead th:last-child { border-right: 0; }

.data_table tbody th, .data_table tbody td { padding: 7px 6px; text-align: center; background: #fff; border-width: 0 1px 1px 0; border-style: solid; border-color: #e5e5e5; font-size: 0.92rem; }

.data_table tbody th[data-align="left"], .data_table tbody td[data-align="left"] { /* padding-left:27px; padding-right:27px;*/ text-align: left; }

.data_table tbody th { background: #f3f4f8; }

.data_table tbody th.mid_th { background: #fbfbfb; }

.data_table tbody th.last_cell { border-bottom: 0; }

.data_table tbody td { word-wrap: break-word; }

.data_table tbody td.cell_inner_btns { /*padding-top:10px; padding-bottom:10px;*/ }

.data_table tbody td.last_cell { border-bottom: 0; }

.data_table tbody tr td:last-child { border-right: 0; }

.data_table tbody tr:last-child th { border-bottom: 0; }

.data_table tbody tr:last-child td { border-bottom: 0; }

.data_table tbody tr.divide td { background-color: #fbfbfb; }

.data_table .link_page { /* margin-left:10px;*/ vertical-align: top; }

/*board*/
.board_table thead th { position: relative; border-bottom: 1px solid #e5e5e5; padding: 14px 0; font-size: 1.07rem; font-weight: 700; background: #f3f4f8; }

.board_table thead th:first-child:after { display: none; }

.board_table thead th:after { display: block; content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 16px; margin-top: -6px; background-color: #9e9e9e; }

.board_table tbody td { padding: 15px 0; border-bottom: 1px solid #e5e5e5; text-align: center; word-break: break-all; }

.board_table tbody td[data-align="left"] { text-align: left; }

.board_table tbody td.no { font-weight: 700; }

.board_table tbody td a.link { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.board_table tbody td .edit_contents { text-align: left; padding: 20px 15px; min-height: 150px; }

.mini_board_list { margin-top: -2px; background-color: #fff; border-width: 1px 0; border-style: solid; border-color: #e5e5e5; }

.mini_board_list li { padding: 13px 0; overflow: hidden; word-break: break-all; }

.mini_board_list li.prev { border-bottom: 1px solid #e5e5e5; }

.mini_board_list li.next .dir:after { transform: rotate(180deg); }

.mini_board_list li .dir { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; float: left; width: 15%; padding-left: 10px; /* &:after { display: block; content: ""; width: 15px; height: 8px; position: absolute; top: 50%; left: -5px; margin-top: -4px; background: url("../img/content/ico_board_page.gif") no-repeat 0 0; }*/ }

.mini_board_list li .tit { float: left; width: 85%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.mini_board_list li span.tit { color: #7b8caf; }

/*tab*/
.tab { border-bottom: 1px solid #6998f4; height: 43px; padding: 0 14px; display: -webkit-box; -webkit-box-orient: horizontal; display: flex; }

.tab li { -webkit-box-flex: 1; flex: 1; padding: 0 2px; }

.tab li a { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; height: 43px; line-height: 41px; text-align: center; background: #fafafa; border-width: 1px 1px 0; border-style: solid; border-color: #e5e5e5; font-size: 1.07rem; color: #969696; }

.tab li.on { position: relative; }

.tab li.on a { position: relative; z-index: 1; width: 100%; border-color: #6998f4; height: 44px; background: #ffff; }

/*
.tab{
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  display:flex;
  li{
    flex:1;
    -webkit-box-flex: 1;
    a{
      display: block;
      text-align: center;
      height:46px;
      line-height:46px;
      border:1px solid $border-base;
      font:{
        size:$font16px;
        weight:$normal;
      }
      &:hover{
        text-decoration: none;
      }
    }
    margin-left:-1px;
    &:first-child{
      margin-left:0;
    }
    &.on{
      position: relative;
      z-index:1;
      a{
        border-color:$strong-color;
        color:#fff;
        font-weight:$bold;
        background: $strong-color;
      }
    }
  }
}*/
/*accordian*/
.accodian_list article { border-bottom: 1px solid #e5e5e5; }

.accodian_list article .list_title { position: relative; padding: 15px 28px 15px 0; background: #fff; cursor: pointer; }

.accodian_list article .list_title .tit { display: inline-block; font-size: 1rem; font-weight: 700; }

.accodian_list article .list_title .category { left: 0; }

.accodian_list article .list_title:after { content: ""; position: absolute; right: 8px; top: 50%; width: 13px; height: 7px; margin-top: -3px; background: url("../img/common/ico_toggle.png") no-repeat 0 0; background-size: 13px auto; }

.accodian_list article .list_title.on:after { background-position: 0 -10px; }

.accodian_list article .list_contents { position: relative; display: none; background: #fafafa; border-top: 1px solid #e5e5e5; padding: 15px 15px 15px 0; }

.accodian_list article .list_contents .category { left: 14px; }

.accodian_list article .list_contents .comment { display: inline-block; line-height: 150%; font-size: 1rem; }

/*qna flag*/
.category { display: inline-block; border: 1px solid #e5e5e5; border-radius: 2px; width: 21px; height: 18px; line-height: 18px; font-family: Arial,sans-serif; font-weight: 700; font-size: 12px; text-align: center; vertical-align: middle; }

.category[data-type="question"] { color: #6998f4; }

.category[data-type="answer"] { color: #ea614e; }

/*file_upload*/
.file_upload { position: relative; padding-right: 94px; overflow: hidden; }

.file_upload input[type="file"] { position: absolute; left: -9999px; width: 0; height: 0; }

.file_upload .btn_file_find { position: absolute; right: 0; top: 0; cursor: pointer; }

.file_upload .file_name { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; width: 100%; height: 44px; padding-right: 40px; background: #fff; border: 1px solid #e5e5e5; }

.file_upload .file_name .name { display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 10px; line-height: 42px; font-size: 1rem; color: #7b8caf; }

.file_upload .file_name .name.on + .btn_file_del { display: block; }

.file_upload .file_name .btn_file_del { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; display: none; position: absolute; right: 0; top: 50%; margin-top: -22px; width: 40px; height: 44px; background: url("../img/common/btn_file_del.png") no-repeat 50% 50%; background-size: 11px auto; }

/*lottoball*/
span[class^="ball_n"] { display: inline-block; width: 22px; height: 22px; line-height: 22px; font-size: 0.89rem; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; vertical-align: middle; text-align: center; color: #fff; font-family: Arial,sans-serif; font-weight: 700; }

span[class^="ball_n"] + .plus { vertical-align: middle; font-size: 14px; color: #000; }

span.ball_n1th { background: #f7b629; }

span.ball_n10th { background: #5fb4dc; }

span.ball_n20th { background: #ee7969; }

span.ball_n30th { background: #9b95e2; }

span.ball_n40th { background: #58ca7b; }

/*!*로또팡 슬로건*!
.lotto_pang_slogan{
  border:1px solid $border-base;
  @include clearFix();
  @include boxSizing();
  width:100%;
  padding:10px 0 10px 30px;
  margin:80px 0 0 0;
  background: $bg-default;
  .logo{
    @include blind(indent);
    float:left;
    width:108px;
    height:66px;
    margin:0 20px 0 0;
    background:url("../img/common/img_slogan_logo.gif") no-repeat 0 0;
  }
  .desc{
    float:left;
    line-height:185%;
    color:#969696;
    padding:12px 0;
    font : {
      size : 12px;
      family: $util-font;
    }
  }
  .btn_go{
    padding:12px 20px 0 0;
    float:right;
  }
}*/
/*text*/
[data-color="red"] { color: #ea614e; }

[data-color="blue"] { color: #6998f4; }

[data-color="gray"] { color: #7b8caf; }

[data-color="green"] { color: #20b820; }

/*anchor*/
.link_page { vertical-align: middle; color: #6998f4; text-decoration: underline; }

/*layerPop*/
.common_layer { display: none; position: fixed; z-index: 500; left: 50%; top: 50%; width: 91.8%; }

.common_layer .layer_wrap { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; z-index: 500; background: #fff; padding: 0 15px 49px; }

.common_layer:after { content: ""; position: fixed; z-index: 499; left: 0; top: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.2); }

.common_layer .inner_layer_content { position: relative; padding-top: 49px; }

.common_layer .inner_layer_content .layer_tit { position: absolute; left: 0; top: 0; width: 100%; height: 49px; line-height: 49px; font-size: 1.28rem; text-align: center; color: #000; }

.common_layer .inner_layer_content .msg { padding-top: 15px; min-height: 95px; font-size: 1.15rem; text-align: center; line-height: 183%; }

.common_layer .inner_layer_content .data_table[data-align="left"] { margin: 0; }

.common_layer .inner_layer_content .data_table[data-align="left"] th { padding-left: 10px; padding-right: 10px; }

.common_layer .inner_layer_content .data_table[data-align="left"] td { padding-left: 10px; padding-right: 10px; }

.common_layer .layer_btn { position: absolute; bottom: 0; left: 0; font-size: 0; width: 100%; }

.common_layer .layer_btn.alert .btn_ok { width: 100%; }

.common_layer .layer_btn .btn_ok, .common_layer .layer_btn .btn_cancel { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; height: 49px; line-height: 49px; width: 50%; font-size: 1.15rem; }

.common_layer .btn_layer_close { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; position: absolute; top: -40px; right: 0; width: 31px; height: 31px; background: url("../img/common/btn_layer_close.png") no-repeat 0 0; background-size: 31px auto; }

/*main*/
.main #container { padding-bottom: 223px; }

.main #footer { background: #e7e8ec; height: 223px; margin-top: -223px; border-top: 0; }

.main #footer .inner_footer { position: relative; padding: 22px 170px 0 0; color: #666; }

.main #footer .inner_footer .util_link { display: block; margin-bottom: 25px; font-family: "Gulim", "굴림", sans-serif; font-size: 0; }

.main #footer .inner_footer .util_link a { color: #666; position: relative; font-size: 12px; padding: 0 30px; }

.main #footer .inner_footer .util_link a:first-child { padding-left: 0; }

.main #footer .inner_footer .util_link a:first-child:before { display: none; }

.main #footer .inner_footer .util_link a:before { content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 12px; margin-top: -6px; background: #b4b4b4; }

.main #footer .inner_footer .company_info { margin-bottom: 25px; }

.main #footer .inner_footer .company_info > span { color: #666; }

.main #footer .inner_footer .company_info > span:before { background: #666; }

.main #footer .inner_footer .company_info .name { display: block; color: #555; }

.main #footer .inner_footer .company_info .name + span { padding-left: 0; }

.main #footer .inner_footer .company_info .copyright { display: block; padding-left: 0; }

.main #footer .inner_footer .partner { display: block; font-size: 0; }

.main #footer .inner_footer .partner a { margin-right: 45px; }

.main #footer .inner_footer .footer_logo { display: block; position: absolute; right: 0; top: 60px; }

/*조합기 전체보기*/
.input_table.banner_type { overflow: hidden; }

.input_table.banner_type table { float: left; width: 68%; }

.input_table.banner_type .banner { float: right; width: 276px; height: 148px; }

.input_table.banner_type .banner img { width: 100%; height: 100%; }

.mix_t_radio { display: inline-block; }

.mix_t_radio .input_custom { margin-right: 30px; }

select + .mix_t_radio { margin-left: 15px; }

.lotto_mix_list { margin: 45px 60px 0; }

.lotto_mix_list li { display: table; width: 100%; border: 1px solid #e5e5e5; margin-bottom: 8px; }

.lotto_mix_list li:last-child { margin-bottom: 0; }

.lotto_mix_list li .info { display: table-cell; vertical-align: middle; width: 475px; padding: 10px; }

.lotto_mix_list li .info .number_ribbons { display: inline-block; vertical-align: middle; width: 46px; height: 68px; background: url("../img/common/bg_num_ribbons.png") no-repeat 0 0; text-align: center; color: #2c3b74; line-height: 100%; margin-right: 20px; }

.lotto_mix_list li .info .number_ribbons strong { display: block; margin-bottom: 5px; padding-top: 11px; font-weight: 800; font-size: 18px; }

.lotto_mix_list li .info .desc { display: inline-block; vertical-align: middle; }

.lotto_mix_list li .info .desc span { display: block; margin-bottom: 6px; color: #6998f4; }

.lotto_mix_list li .how_many { display: table-cell; vertical-align: middle; width: 105px; text-align: center; font-size: 15px; border-width: 0 1px; border-style: solid; border-color: #e5e5e5; }

.lotto_mix_list li .how_many strong { display: block; margin-bottom: 3px; font-size: 18px; }

.lotto_mix_list li .mix_go { display: table-cell; padding: 0 18px; vertical-align: middle; }

.lotto_mix_list li .mix_go .btn_primary { width: 122px; }

.btn_top_wrap { overflow: hidden; margin: 30px 60px 10px; }

.btn_top_wrap .notice { float: left; padding-top: 25px; padding-left: 10px; }

.btn_top_wrap .btn_strong { float: right; }

/*대세 추천번호*/
.hurry_box p { line-height: 160%; margin-bottom: 15px; }

.hurry_box span { display: block; margin-top: 15px; }

.data_table .we td { background: #ffecd5; color: #ea614e; font-weight: 700; }

.data_table .we .point { position: relative; }

.data_table .we .point span { text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; position: absolute; left: -30px; top: -37px; width: 42px; height: 42px; background: url("../img/content/ico_point.png") no-repeat 0 0; }

.contents_hurry_up { margin: 55px 60px 0; padding: 40px; background: url("../img/content/cont_hurry_up.png") no-repeat 50% 0; }

.contents_hurry_up strong { display: block; margin-bottom: 17px; font-weight: 700; font-size: 28px; color: #6998f4; }

.contents_hurry_up p { line-height: 170%; margin-bottom: 27px; }

.contents_hurry_up p:last-of-type { margin-bottom: 0; }

.contents_hurry_up em { margin-top: 70px; display: block; font-weight: 700; font-size: 16px; }

.lotto_pang_slogan .point { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; color: #fff; width: 61px; height: 61px; padding: 10px 0 0 0; margin-right: 8px; background: url("../img/content/ico_slogan_point.png") no-repeat 0 0; text-align: center; line-height: 140%; font-family: "Gulim", "굴림", sans-serif; font-size: 12px; }

.lotto_pang_slogan .point b { font-family: "Noto Sans KR", sans-serif; font-weight: 700; font-size: 21px; letter-spacing: -1px; line-height: 100%; }

/*연금복권*/
.ticket_top th { font-size: 18px; font-weight: 400; line-height: 170%; }

.ticket_top td { font-weight: 800; font-size: 20px; color: #7b8caf; }

.data_table .dot { display: inline-block; text-indent: -9999px; line-height: 0; font-size: 0; overflow: hidden; width: 10px; height: 10px; border-radius: 50%; background: #9eabc5; }

/*member*/
.box_contents .input_custom { vertical-align: middle; }

.box_contents .input_custom:last-child { display: block; margin-top: 10px; }

.box_contents .link_privacy_more { display: inline-block; vertical-align: middle; color: #6998f4; text-decoration: underline; }

.btn_wrap_sns { padding: 105px 0; }

.btn_wrap_sns .btn_login_sns { display: block; width: 400px; height: 60px; line-height: 60px; margin: 0 auto 10px; text-align: center; font-size: 18px; font-weight: 700; }

.btn_wrap_sns .btn_login_sns[data-type="facebook"] { background: url("../img/common/bg_sns_facebook.png") no-repeat 0 0; background-color: #0a4aab; color: #fff; }

.btn_wrap_sns .btn_login_sns[data-type="google"] { background: url("../img/common/bg_sns_google.png") no-repeat 0 0; background-color: #ea5d4a; color: #fff; }

.btn_wrap_sns .btn_login_sns[data-type="naver"] { background: url("../img/common/bg_sns_naver.png") no-repeat 0 0; background-color: #00be39; color: #fff; }

.btn_wrap_sns .btn_login_sns[data-type="kakao"] { background: url("../img/common/bg_sns_kakao.png") no-repeat 0 0; background-color: #ffe906; color: #3e2d2e; }

/*member*/
.id_search { margin-bottom: 27px; }

.id_search:last-child { margin-bottom: 0; }

.id_search li { padding: 10px 0 0 0; }

.id_search .validate_notice { margin-top: 6px; color: #ea614e; font-size: 1.07rem; margin-bottom: 10px; }

.id_search .validate_notice:first-child { margin-top: 0; }

.id_search .validate_notice:last-child { margin-bottom: 0; }

.id_search .table_notice { margin-top: 8px; color: #7b8caf; font-size: 1rem; /* padding-left: 15px;*/ line-height: 150%; }

.id_search .verify-time { color: #ea614e; }

.i_sec { position: relative; padding-right: 95px; }

.i_sec .btn_primary, .i_sec .btn_strong { position: absolute; right: 0; top: 0; width: 91px; }

.id_info span { display: block; }

.select_list { margin-bottom: 15px; }

.select_list [data-width="67p"] { width: 67%; }

.select_list li { margin-bottom: 5px; }

.select_list li:last-child { margin-bottom: 0; }

/*고객센터*/
.qna_write.input_table { border-bottom: 0; }

.qna_write textarea { height: 265px; overflow-x: hidden; overflow-y: auto; }

.qna article .list_title { padding-left: 35px; padding-right: 93px; }

.qna article .numbering { position: absolute; left: 0; top: 15px; width: 28px; text-align: center; font-size: 1rem; font-weight: 700; color: #6998f4; }

.qna article .status { position: absolute; right: 31px; top: 50%; margin-top: -9px; padding: 0 5px; font-weight: 700; font-size: 0.92rem; border: 1px solid #e5e5e5; border-radius: 2px; height: 18px; line-height: 18px; }

.qna article .status[data-type="submit_ok"] { color: #969696; }

.qna article .status[data-type="answer_ok"] { color: #ea614e; }

.qna article .list_contents { padding-left: 15px; padding-right: 15px; }

.faq_notice { margin: 12px 0 40px; }

.faq_notice > p { display: inline; vertical-align: middle; margin-left: 10px; }

.faq article .list_title { padding-left: 31px; }

.faq article .list_contents { padding-left: 44px; }

.faq article .category { position: absolute; top: 16px; }

/*각페이지별 레이어*/
.charge_layer { padding-bottom: 30px; }

/*로또용어정리*/
.lotto_word { border-top: 1px solid #e5e5e5; }

.lotto_word article .list_contents { padding-left: 15px; padding-right: 15px; }

.lotto_word article .list_title { padding-left: 15px; padding-right: 15px; }

input[data-align="center"] { text-align: center; }

input[data-align="right"] { text-align: right; }

.list_mem_benefit { display: flex; padding: 33px 60px 0; }

.list_mem_benefit li { flex: 1; padding: 32px 0 26px; margin: 0 9px; border: 1px solid #d6d6d6; text-align: center; }

.list_mem_benefit li > span:after { display: block; content: ""; width: 60px; height: 60px; margin: 17px auto 8px; background: url("../img/content/ico_coupon_benefit.png") no-repeat 0 0; }

.list_mem_benefit li[data-icon=type2] > span:after { background-position: -60px 0; }

.list_mem_benefit li[data-icon=type3] > span:after { background-position: -120px 0; }

.list_mem_benefit li[data-icon=type4] > span:after { background-position: -180px 0; }

.list_mem_benefit li p { line-height: 150%; }

.list_free_ticket { display: table; width: 100%; }

.list_free_ticket > div { display: table-cell; vertical-align: middle; }

.list_free_ticket > div:first-child { width: 25%; }

.list_free_ticket > div:nth-child(2) { width: 61%; }

.list_free_ticket > div span[data-color="red"] { font-weight: 800; }

.list_free_ticket > div .percent { display: inline-block; width: 58px; height: 47px; padding-top: 11px; border-radius: 50px; background-color: #ea614e; line-height: 120%; text-align: center; color: #fff; }

.tip_notice { padding: 9px 13px 11px; margin-top: 18px; background-color: #e6e6e6; }

.tip_notice dt, .tip_notice dd { display: inline-block; }

.tip_notice dt { padding: 1px 10px 3px; margin-right: 8px; background-color: #fff; border: 1px solid #cacaca; border-radius: 2px; color: #999; }

/* 휴대전화 + 인증번호 */
.verify_phone_input { width: 222px; }

.verify_phone_time { display: inline-block; width: 72px; margin-right: 6px; font-size: 14px; border-bottom: 1px solid #ccc; text-align: center; line-height: 42px; vertical-align: middle; color: #6998f4; }

.box_contents.actions { overflow: hidden; padding-left: 60px; padding-right: 60px; }

.box_contents.actions .article, .box_contents.actions .actions { display: table-cell; vertical-align: middle; }

.box_contents.actions .article { width: 100%; }

.box_contents.actions .actions { white-space: nowrap; }

.box_contents.actions + .lotto_pang_slogan { margin-top: -1px; }

.pagenation + .box_contents.actions { margin-top: 35px; border-top: 1px solid #ccc; }

.ball_desc { font-weight: 800; }

.page_title_banner { position: relative; overflow: hidden; margin-bottom: 35px; margin-top: -1px; border-width: 1px 0; border-style: solid; border-color: #ebebeb transparent #c6c6c6; letter-spacing: -2px; background: #fbfbfb url("../img/content/banner_stats.png") no-repeat 160px 15px; }

.page_title_banner > a { display: block; height: 103px; padding-left: 390px; padding-top: 34px; margin-top: -1px; font-size: 22px; }

.page_title_banner > a p { margin-top: 8px; font-size: 19px; }

.page_title_banner > a p span { font-size: 16px; margin-left: 12px; text-decoration: underline; color: #5b5b5b; }

.page_title_banner strong { font-size: 1.1em; }

.page_title_banner strong span { position: relative; top: -2px; font-size: 18px; margin: 5px; padding: 1px 11px 6px; border-radius: 50px; letter-spacing: 0; background-color: #18699b; color: #fff; }

.page_title_banner .sub_tit { display: inline-block; font-size: 1.2em; padding: 3px 17px 5px; margin-bottom: 17px; border-radius: 50px; background-color: #18699b; color: #fff; }

.page_title_banner .sub_desc { position: relative; float: left; margin-right: 40px; min-width: 190px; padding: 15px 28px 20px; border-radius: 100px; font-size: 1.2em; line-height: 1.5em; box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.08); background-color: #305a97; text-align: center; color: #fff; }

.page_title_banner .sub_desc:after { content: ""; position: absolute; right: -20px; top: 50%; margin-top: -27px; border-style: solid; border-width: 25px 0 25px 50px; border-color: transparent transparent transparent #305a97; }

.page_title_banner .tit_area { float: left; }

.page_title_banner .desc { padding-left: 7px; font-size: 1.1em; line-height: 1.3em; }

.page_title_banner .desc p { font: inherit; }

.page_title_banner .desc .result { margin-top: 15px; }

.page_title_banner .forms { padding: 0 5px 0; margin-top: 10px; }

.page_title_banner[data-type] { padding: 25px 0; padding-left: 240px; background-image: none; background-position: 100px center; letter-spacing: -1px; }

.page_title_banner[data-type~="desctype"] { padding-left: 80px; }

.page_title_banner[data-type="stats_suggest"] { padding-right: 55px; background-image: url("../img/content/banner_stats_suggest.png"); min-height: 165px; }

.page_title_banner[data-type="lotto_mix"] { background-position: 59px center; background-image: url("../img/content/banner_lotto_mix.png"); }

.page_title_banner[data-type="fortune"] { background-position: 65px 60%; background-image: url("../img/content/banner_fortune.png"); }

.page_title_banner[data-type="odd_analysis"] { background-position: 65px 60%; background-image: url("../img/content/banner_odd_analysis.png"); }

.page_title_banner[data-type="mix_six"] { padding-left: 305px; background-position: 115px 60%; }

.page_title_banner[data-type="halogen_venus"] { padding-left: 370px; padding-bottom: 45px; background-position: 95px 54%; background-image: url("../img/content/banner_halogen_venus.png"); }

.page_title_banner span[class^="ball_n"] { letter-spacing: normal; }

.page_title_banner + .page_title_banner { box-shadow: 0 4px 0px #fcfcfc; margin-top: -36px; background-color: #fff; }

.page_title_banner + .page_title_banner .sub_tit { margin-bottom: 5px; padding-top: 0; padding-bottom: 0; padding-left: 27px; background: transparent url("../img/content/ico_desc_chk.png") 0 bottom no-repeat; color: #333; }

.graph_odd_even { display: flex; position: relative; overflow: hidden; width: 358px; margin: 0 auto; border-radius: 20px; border: 1px solid #bbb; background-color: #f9f9f9; }

.graph_odd_even:after { display: block; content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: url("../img/content/bg_odd_even_graph.png") 0 center no-repeat; }

.graph_odd_even [data-graph] { flex: 1; position: relative; height: 26px; font-size: 0; }

.graph_odd_even [data-graph]:after { display: inline-block; content: ""; position: absolute; top: 0; bottom: 0; }

.graph_odd_even [data-count='1']:after { width: 30px; }

.graph_odd_even [data-count='2']:after { width: 60px; }

.graph_odd_even [data-count='3']:after { width: 90px; }

.graph_odd_even [data-count='4']:after { width: 120px; }

.graph_odd_even [data-count='5']:after { width: 150%; }

.graph_odd_even [data-graph="odd"]:after { right: 0; background-image: linear-gradient(#ffdb74 30%, #fbba58 100%); }

.graph_odd_even [data-graph="even"]:after { left: 0; background-image: linear-gradient(#517eb1 30%, #3c5d82 100%); }

.data_table tbody tr td[data-bg="diff"] { background-color: #ffff99; font-weight: 700; color: #e10200; }

.data_table tbody tr td [data-sign] { display: inline-block; width: 2em; height: 2em; font-weight: 700; border-radius: 50px; line-height: 1.8em; color: #fff; }

.data_table tbody tr td [data-sign="big"] { background-color: #6196d4; text-indent: 2px; }

.data_table tbody tr td [data-sign="small"] { background-color: #ffc500; text-indent: -2px; }

.data_table tbody tr td [data-sign="equal"] { background-color: #949494; }

[data-show="termsDetailWrap"] { margin-top: 20px; border-top: 1px solid #e5e5e5; }

[data-toggle] { position: relative; }

[data-toggle] button { width: 100%; text-align: left; }

[data-toggle].block_title { padding: 0; margin-top: 0; margin-bottom: 0; }

[data-toggle].block_title button { padding: 12px 5px; }

[data-toggle]:after { display: block; content: ""; position: absolute; right: 10px; top: 9px; width: 33px; height: 17px; background: url("../img/content/ico_toggle.gif") 0 -31px no-repeat; transition: background-position ease .2s; }

[data-toggle]:hover:after { background-position: 0 0; }

[data-toggle].open:after { transform: rotate(180deg); }

[data-toggle].open + [data-toggle-cont] { display: block; padding: 10px 0; }

[data-toggle-cont] { display: none; height: 300px; overflow-x: hidden; overflow-y: auto; }

.mix_t_radio .input_custom { margin-right: 15px; }

.mix_t_radio .input_custom:last-child { margin-right: 0; }

.btn_top_wrap { margin-right: 0; margin-left: 0; margin-top: 0; }

.btn_wrap + .data_table { margin-top: 15px; }

.input_table td { height: 35px; }

select { min-width: 0; border-radius: 0; }

.lotto_mix_list { margin: 0; }

.lotto_mix_list li { height: 5.6em; border: 0; border-left: 1px solid #e5e5e5; }

.lotto_mix_list li .info, .lotto_mix_list li .how_many { height: 100%; border-width: 1px 0; border-style: solid; border-color: #e5e5e5; }

.lotto_mix_list li .info { width: 66%; box-sizing: border-box; padding: 0; background-color: #fbfbfb; vertical-align: top; }

.lotto_mix_list li .info .number_ribbons { display: block; box-sizing: border-box; width: 100%; height: auto; padding: 10px 15px; font-weight: 700; border-bottom: 1px solid #e5e5e5; background-color: #f3f6fb; text-align: left; }

.lotto_mix_list li .info .number_ribbons strong { display: inline; margin-bottom: 0; padding-top: 0; font: inherit; }

.lotto_mix_list li .info .number_ribbons span { font-weight: 400; font-size: .9em; color: #7b8caf; }

.lotto_mix_list li .info .desc { padding: 10px 0 10px 15px; font-size: .95em; letter-spacing: -1px; }

.lotto_mix_list li .how_many { width: 13.5%; background-color: #fbfbfb; border-width: 1px; }

.lotto_mix_list li .mix_go { height: 100%; padding: 0 0 0 10px; }

.lotto_mix_list li .mix_go .btn_primary { width: 100%; min-width: 0; height: 100%; line-height: 1.7em; }

/*# sourceMappingURL=sourcemaps/common-ui.css.map */
