//임시. data-align 관련 속성들 어케합치징
input{
  &[data-align="center"]{
	text-align:center;
  }
  &[data-align="right"]{
	text-align:right;
  }
}


//member_free_ticket 커스텀
// list_mem_benefit
.list_mem_benefit {
	display:flex;
	padding:33px 60px 0;
	li {
		flex:1;
		padding:32px 0 26px;
		margin:0 9px;
		border:1px solid #d6d6d6;
		text-align:center;

		> span:after {
			display:block;content:"";
			width:60px;height:60px;
			margin:17px auto 8px;
			background:url("#{$content-img}ico_coupon_benefit.png") no-repeat 0 0;
		}
		&[data-icon=type2] >span:after{background-position:-60px 0;}
		&[data-icon=type3] >span:after{background-position:-120px 0;}
		&[data-icon=type4] >span:after{background-position:-180px 0;}

		p {line-height:150%}
	}
}


// list_all_keyitem
.list_all_keyitem {
	display:flex;
	margin-bottom:40px;
	border : {
		style:solid;
		width:1px;
		color:#e6e6e6;
		radius:4px;
	}
	
	li {
		flex:1;
		padding:27px 0 19px;
		border-left:1px solid #f2f2f2;
		text-align:center;
		color:#555;

		&:first-child {
			border-left:0;
		}
		&:before {
			display:block;content:"";
			width:80px;height:43px;
			margin:0 auto 10px;
			background:url("#{$content-img}ico_all_keyitem.png") no-repeat 0 0;
		}
		&[data-icon=type1]:before{background-position:12px 0;}
		&[data-icon=type2]:before{background-position:-84px 0;}
		&[data-icon=type3]:before{background-position:-188px 0;}
		&[data-icon=type4]:before{width:105px;background-position:-303px 0;}
		&[data-icon=type5]:before{background-position:-432px 0;}

		p {line-height:150%}
	}
}
// list_free_coupon (in data_table)
.list_free_ticket {
	display:table;
	width:100%;	
	> div {
		display:table-cell;
		vertical-align:middle;
		&:first-child {width:25%}
		&:nth-child(2) {width:61%}


		span[data-color="red"] {
			font-weight:$extra-bold;
		}

		.percent {
			display:inline-block;
			width:58px;height:47px;
			padding-top:11px;
			border-radius:50px;
			background-color:$notice-color;
			line-height:120%;
			text-align:center;
			color:#fff;
		}
	}
}


.tip_notice {
	padding:9px 13px 11px;
	margin-top:18px;
	background-color:#e6e6e6;	
	
	dt,dd {display:inline-block;}

	dt {
		padding:1px 10px 3px;
		margin-right:8px;
		background-color:#fff;
		border:1px solid #cacaca;
		border-radius:2px;
		color:#999;
	}

	dd {
	}
}


/* 휴대전화 + 인증번호 */
.verify_phone_input {
	width:222px;
}
.verify_phone_time {
    display: inline-block;
    width:72px;
    margin-right: 6px;
	font-size:$base-size;
	border-bottom:1px solid #ccc;
	text-align:center;
    line-height: 42px;
    vertical-align: middle;
    color:$strong-color;
}


// 좌측 Article + 우측 action contents 
.box_contents.actions {
	overflow:hidden;
	padding-left:60px;
	padding-right:60px;

	.article,.actions {
		display:table-cell;
		vertical-align:middle;
	}
	.article {
		width:100%;
	}
	.actions {
		white-space:nowrap;
	}

	&  + .lotto_pang_slogan {
      margin-top:-1px;
    }
}



// [COMMENT] btn_wrap + box_contents 상단 border, margin-top 처리
.btn_wrap + .box_contents {
	margin-top:40px;
	border-top:1px solid #d6d6d6;
}

#content {
	.btn_top_wrap {
		.table_title {
			display:inline-block;
			margin:0;
			margin-top:5px;

		}
	}

	.page_title_banner + .block_title {padding-top:0;}
}

// [COMMENT] 갑 : 보더를 없앤것이 필요하여 ㅠㅠ..
#content .block_title[data-type="noborder"] {
	border-bottom:0;
}

// box_contents - 컨텐츠 순서별 디자인 Custom
.pagenation + .box_contents.actions {
	margin-top:35px;
	border-top:1px solid #ccc;
}

//stats_reemergence.html
.ball_desc {
	margin-right:25px;
	margin-left:5px;
	font-weight:$extra-bold;
	&:last-child {margin-right:0;}
}



//page_title_banner
.page_title_banner {
	margin-bottom: 35px;
	margin-top:-1px;
    border : {
    	width: 1px 0;
    	style: solid;
    	color:#ebebeb transparent #c6c6c6;
    }

	& > a {
		display:block;
	    height: 103px;
	    padding-left: 390px;padding-top: 34px;
	    margin-top:-1px;
	    font-size: 22px;
		p {
			margin-top: 8px;
		    font-size: 19px;
		    span {
	    	    font-size: 16px;
			    margin-left: 12px;
			    text-decoration: underline;
			    color: #5b5b5b;
		    }
		}
	}

    letter-spacing: -2px;
	background:#fbfbfb url("#{$content-img}banner_stats.png") no-repeat 160px 15px;


	strong {
		font-size:1.1em;

		span {
			position: relative;top: -2px;
		    font-size: 18px;
		    margin: 5px;
			padding: 1px 11px 6px;
		    border-radius: 50px;
		    letter-spacing: 0;
		    background-color: #18699b;
		    color: #fff;
		}
	}

	.sub_tit {
		display:inline-block;
		font-size:1.2em;
    	padding: 3px 17px 5px;
    	margin-bottom:17px;
	    border-radius: 50px;
		background-color: #18699b;
		color: #fff;
	}
	.desc {
		padding-left:7px;
		font-size:1.1em;
		line-height:1.3em;

		p {
			font:inherit;	
		}
		.result {
			margin-top:15px
		}


	}

	// 로또통계 비법자료 [COMMENT] 갑 : data-type 으로 각 서브 큰 줄기 나눠서 bg 이미지 바꾸고.. 등등 할 생각이옵니다.
	&[data-type] {
		padding:25px 0;
		padding-left:240px;
		background : {
			image:none;
			position:100px center;
		}
		letter-spacing:-1px;
	}
	&[data-type="stats_suggest"] {
		background-image:url("#{$content-img}banner_stats_suggest.png");
		min-height:165px;
		
	}
	&[data-type="lotto_mix"] {
		background : {
			position:59px center;
			image:url("#{$content-img}banner_lotto_mix.png");
		}
	}
	&[data-type="fortune"] {
		background : {
			position:65px 60%;
			image:url("#{$content-img}banner_fortune.png");
		}
	}
	span[class^="ball_n"] {
		letter-spacing:normal;
	}
}


// list_all_item - 로또 통계/비법자료 전체보기
.list_all_item {
	padding:40px;

	li {
		display:table;
		width:100%;	
		position:relative;
		padding-bottom:20px;
		margin-bottom:20px;
		border-bottom:1px solid #ccc;
		cursor:pointer;
		
		&:after {
			display:block;content:"";
			position:absolute;right:10px;top:50%;
			width:19px;height:35px;
			margin-top:-27.5px;
			background:url("#{$content-img}ico_all_more.gif") -31px 0 no-repeat;
			transition:background-position ease .2s;
		}

		&:hover:after {
			background-position:0 0;
		}
		&:hover a {
			text-decoration:underline;

		}
			

		.img,.desc {
			display:table-cell;
		}
		.img {
			overflow:hidden;
			width:130px;height:120px;
			border:1px solid #ccc;
			a {
				display:block;
				height:100%;
			}
			img {
				max-width:100%;
			}
		}
		.desc {
			padding: {
				right:60px;
				left:25px;
			}
			strong {
				display:block;
				margin-bottom:8px;
			}
			a {
				display:block;
			}
			.tip {
				padding : {
					left:28px;
					top:8px;
				}
			    margin-top: 10px;
			    border-top: 1px dashed #dfdede;
				background:url("#{$content-img}ico_all_tip.png") 0 8px no-repeat;
			    color: #006d56;
			}
		}
	}



}



.data_table {
	tbody tr td {
		//[COMMENT] 갑 : 배경셀 diff 추가 
		&[data-bg="diff"] {
		    background-color: #ffff99;
		    font-weight: $bold;
		    color: #e10200;

		}

		//[COMMENT] 갑 : stats_more_than_last 부등호 추가
		[data-sign] {
			display:inline-block;
			width:2em;height:2em;
			font-weight:$bold;
			border-radius:50px;
			line-height:1.8em;
			color:#fff;
		} 

		[data-sign="big"] {
			background-color:#6196d4;
			text-indent:2px;
		}

		[data-sign="small"] {
			background-color:#ffc500;
			text-indent:-2px;
		}

		[data-sign="equal"] {
			background-color:#949494;
		}
	}


	.b_arr {
		display:inline-block;
		font-size:0;
		width:18px;height:18px;
		margin:0 10px;
		letter-spacing:-100px;
		background:url("#{$content-img}ico_next_ball.png") 0 0 no-repeat;	
		vertical-align:middle;
	}
}

      
//  toggle title , cotents 
#content [data-toggle] {
	button {
		width:100%;
		text-align:left;
	}

	&.block_title {
		padding:0;
		margin-top:40px;
		button {
			padding:0 5px 12px
		}
	}
	position:relative;
	&:after {
		display:block;content:"";
		position:absolute;right:10px;top:9px;
		width:33px;height:17px;
		background:url("#{$content-img}ico_toggle.gif") 0 -30px no-repeat;	
		transition:background-position ease .2s;
	}
	&:hover:after {
		background-position:0 0
	}
	
	&.open:after {
		transform: rotate(180deg)
	}
}
[data-toggle].open + [data-toggle-cont] {
	display:block;
} 

[data-toggle-cont] {
	display:none;
}


// 장문 텍스트 박스 디자인 (약관 등)
.text_box {
	padding:30px 40px;
	border:1px solid #ccc;
	h1 {
		padding:20px 0;
		margin-top:30px;
		font-weight:$bold;
		font-size:16px;
		border-top:1px dashed #ccc;
		
		&:first-child {
			margin-top:0;
			padding-top:0;
			border-top:0;
		}
	}
	p {
		margin-bottom:10px;
	}
	ul, ol {
		padding:25px 35px;
		background-color:#fafafa;
	}
	li {
		margin-bottom:8px;
	}
}

//[COMMENT] 탭 관련 CSS 추가했어요 ..'ㅁ' - cs_terms.html
[data-tab-cont] {
	display:none;
}
.page_title + .tab {
	margin-top:40px;
}


//[COMMENT] 이용약관 , 제휴문의 등 full_page 관련 추가 했어용
.content_section.full_page {
	padding-left:0;
	#content {
		width:100%
	}
}