//임시. data-align 관련 속성들 어케합치징
input{
  &[data-align="center"]{
	text-align:center;
  }
  &[data-align="right"]{
	text-align:right;
  }
}


//member_free_ticket 커스텀
// list_mem_benefit
.list_mem_benefit {
	display:flex;
	padding:33px 0 0;
	li {
		flex:1;
		padding:32px 0 26px;
		margin-right:40px;
		border:1px solid #d6d6d6;
		text-align:center;
		&:last-child{
			margin-right:0;
		}
		> span:after {
			display:block;content:"";
			width:60px;height:60px;
			margin:17px auto 8px;
			background:url("#{$content-img}ico_coupon_benefit.png") no-repeat 0 0;
		}
		&[data-icon=type2] >span:after{background-position:-60px 0;}
		&[data-icon=type3] >span:after{background-position:-120px 0;}
		&[data-icon=type4] >span:after{background-position:-180px 0;}

		p {line-height:150%}
	}
}


// list_all_keyitem
.list_all_keyitem {
	display:flex;
	margin-bottom:40px;
	border : {
		style:solid;
		width:1px;
		color:#e6e6e6;
		radius:4px;
	}
	
	li {
		flex:1;
		padding:27px 0 19px;
		border-left:1px solid #f2f2f2;
		text-align:center;
		color:#555;

		&:first-child {
			border-left:0;
		}
		&:before {
			display:block;content:"";
			width:80px;height:43px;
			margin:0 auto 10px;
			background:url("#{$content-img}ico_all_keyitem.png") no-repeat 0 0;
		}
		&[data-icon=type1]:before{background-position:12px 0;}
		&[data-icon=type2]:before{background-position:-84px 0;}
		&[data-icon=type3]:before{background-position:-188px 0;}
		&[data-icon=type4]:before{width:105px;background-position:-303px 0;}
		&[data-icon=type5]:before{background-position:-432px 0;}

		p {line-height:150%}
	}
}
// list_free_coupon (in data_table)
.list_free_ticket {
	display:table;
	width:100%;	
	> div {
		display:table-cell;
		vertical-align:middle;
		&:first-child {width:25%}
		&:nth-child(2) {width:61%}


		span[data-color="red"] {
			font-weight:$extra-bold;
		}

		.percent {
			display:inline-block;
			width:58px;height:47px;
			padding-top:11px;
			border-radius:50px;
			background-color:$notice-color;
			line-height:120%;
			text-align:center;
			color:#fff;
		}
	}
}


.tip_notice {
	padding:9px 13px 11px;
	margin-top:18px;
	background-color:#e6e6e6;	
	
	dt,dd {display:inline-block;}

	dt {
		padding:1px 10px 3px;
		margin-right:8px;
		background-color:#fff;
		border:1px solid #cacaca;
		border-radius:2px;
		color:#999;
	}

	dd {
	}
}


/* 휴대전화 + 인증번호 */
.verify_phone_input {
	width:222px;
}
.verify_phone_time {
    display: inline-block;
    width:72px;
    margin-right: 6px;
	font-size:$base-size;
	border-bottom:1px solid #ccc;
	text-align:center;
    line-height: 42px;
    vertical-align: middle;
    color:$strong-color;
}


// 좌측 Article + 우측 action contents 
.box_contents.actions {
	overflow:hidden;
	padding-left:60px;
	padding-right:60px;

	.article,.actions {
		display:table-cell;
		vertical-align:middle;
	}
	.article {
		width:100%;
	}
	.actions {
		white-space:nowrap;
	}

	&  + .lotto_pang_slogan {
      margin-top:-1px;
    }
}



// [COMMENT] btn_wrap + box_contents 상단 border, margin-top 처리
.btn_wrap + .box_contents {
	margin-top:40px;
	border-top:1px solid #d6d6d6;
}

#content {
	.btn_top_wrap {
		.table_title {
			display:inline-block;
			margin:0;
			margin-top:5px;

		}
	}

	.page_title_banner + .block_title {padding-top:0;}
}

// [COMMENT] 갑 : 보더를 없앤것이 필요하여 ㅠㅠ..
#content .block_title[data-type="noborder"] {
	border-bottom:0;
}

// box_contents - 컨텐츠 순서별 디자인 Custom
.pagenation + .box_contents.actions {
	margin-top:35px;
	border-top:1px solid #ccc;
}

//stats_reemergence.html
.ball_desc {
	margin-right:25px;
	margin-left:5px;
	font-weight:$extra-bold;
	&:last-child {margin-right:0;}
}



//page_title_banner
.page_title_banner {
	position:relative;
	overflow:hidden;
	margin-bottom: 35px;
	margin-top:-1px;
    border : {
    	width: 1px 0;
    	style: solid;
    	color:#ebebeb transparent #c6c6c6;
    }

	& > a {
		display:block;
	    height: 103px;
	    padding-left: 390px;padding-top: 34px;
	    margin-top:-1px;
	    font-size: 22px;
		p {
			margin-top: 8px;
		    font-size: 19px;
		    span {
	    	    font-size: 16px;
			    margin-left: 12px;
			    text-decoration: underline;
			    color: #5b5b5b;
		    }
		}
	}

    letter-spacing: -2px;
	background:#fbfbfb url("#{$content-img}banner_stats.png") no-repeat 160px 15px;


	strong {
		font-size:1.1em;

		span {
			position: relative;top: -2px;
		    font-size: 18px;
		    margin: 5px;
			padding: 1px 11px 6px;
		    border-radius: 50px;
		    letter-spacing: 0;
		    background-color: #18699b;
		    color: #fff;
		}
	}

	.sub_tit {
		display:inline-block;
		font-size:1.2em;
    	padding: 3px 17px 5px;
    	margin-bottom:17px;
	    border-radius: 50px;
		background-color: #18699b;
		color: #fff;
	}
	
	.sub_desc {
		position:relative;
		float:left;
		margin-right:40px;
		min-width:190px;
		padding: 15px 28px 20px;
		border-radius:100px;

		font-size: 1.2em;
		line-height: 1.5em;
		box-shadow: 0 5px 0 rgba(0,0,0,.08);
		background-color: #305a97;
	    text-align: center;
		color: #fff;

		&:after {
			content:"";
			position:absolute;right:-20px;top:50%;
			margin-top:-27px;
			border : {
				style:solid;
				width:25px 0 25px 50px;
				color:transparent transparent transparent #305a97;
			}
		}
	}
	.tit_area {
		float:left;
	}

	.desc {
		padding-left:7px;
		font-size:1.1em;
		line-height:1.3em;

		p {
			font:inherit;	
		}
		.result {
			margin-top:15px
		}
	}

	.forms {
		padding:0 5px 0;
		margin-top:10px;
	}

	// 로또통계 비법자료 [COMMENT] 갑 : data-type 으로 각 서브 큰 줄기 나눠서 bg 이미지 바꾸고.. 등등 할 생각이옵니다.
	&[data-type] {
		padding:25px 0;
		padding-left:240px;
		background : {
			image:none;
			position:100px center;
		}
		letter-spacing:-1px;
	}
	&[data-type~="desctype"] {
		// page_title_banner 공통배너 하단에 description 타입으로 붙는 banner
		padding-left:80px;
	}
	&[data-type="stats_suggest"] {
		padding-right:55px;
		background-image:url("#{$content-img}banner_stats_suggest.png");
		min-height:165px;
		
	}
	&[data-type="lotto_mix"] {
		background : {
			position:59px center;
			image:url("#{$content-img}banner_lotto_mix.png");
		}
	}
	&[data-type="fortune"] {
		background : {
			position:65px 60%;
			image:url("#{$content-img}banner_fortune.png");
		}
	}

	&[data-type="odd_analysis"] {
		background : {
			position:65px 60%;
			image:url("#{$content-img}banner_odd_analysis.png");
		}
	}
	&[data-type="mix_six"] {
		padding-left:305px;
		background : {
			position:115px 60%;
			// image:url("#{$content-img}banner_mix_six.png");
		}
	}
	&[data-type="halogen_venus"] {
		padding: {
			left:454px;
			top:45px;
			bottom:55px;
		}
		background : {
			position:40px 54%;
			image:url("#{$content-img}banner_halogen_venus.png");
		}
	}
	span[class^="ball_n"] {
		letter-spacing:normal;
	}




	& + .page_title_banner {
		box-shadow:0 4px 0px #fcfcfc;
		.sub_tit {
			margin-bottom:5px;
			padding : {
				top:0;bottom:0;
				left:27px;
			}
			background:transparent url("#{$content-img}ico_desc_chk.png") 0 bottom no-repeat;
			color:#333
		}
		margin-top:-36px;
		background-color:#fff;
	}
}



// list_all_item - 로또 통계/비법자료 전체보기
.list_all_item {
	padding:40px;

	li {
		display:table;
		width:100%;	
		position:relative;
		padding-bottom:20px;
		margin-bottom:20px;
		border-bottom:1px solid #ccc;
		cursor:pointer;
		
		&:after {
			display:block;content:"";
			position:absolute;right:10px;top:50%;
			width:19px;height:35px;
			margin-top:-27.5px;
			background:url("#{$content-img}ico_all_more.gif") -31px 0 no-repeat;
			transition:background-position ease .2s;
		}

		&:hover:after {
			background-position:0 0;
		}
		&:hover a {
			text-decoration:underline;

		}
			

		.img,.desc {
			display:table-cell;
		}
		.img {
			overflow:hidden;
			width:130px;height:120px;
			border:1px solid #ccc;
			a {
				display:block;
				height:100%;
			}
			img {
				max-width:100%;
			}
		}
		.desc {
			padding: {
				right:60px;
				left:25px;
			}
			strong {
				display:block;
				margin-bottom:8px;
			}
			a {
				display:block;
			}
			.tip {
				padding : {
					left:28px;
					top:8px;
				}
			    margin-top: 10px;
			    border-top: 1px dashed #dfdede;
				background:url("#{$content-img}ico_all_tip.png") 0 8px no-repeat;
			    color: #006d56;
			}
		}
	}



}



.data_table {
	tbody tr td {
		//[COMMENT] 갑 : 배경셀 diff 추가 
		&[data-bg="diff"] {
		    background-color: #ffff99;
		    font-weight: $bold;
		    color: #e10200;

		}

		//[COMMENT] 갑 : stats_more_than_last 부등호 추가
		[data-sign] {
			display:inline-block;
			width:2em;height:2em;
			font-weight:$bold;
			border-radius:50px;
			line-height:1.8em;
			color:#fff;
		} 

		[data-sign="big"] {
			background-color:#6196d4;
			text-indent:2px;
		}

		[data-sign="small"] {
			background-color:#ffc500;
			text-indent:-2px;
		}

		[data-sign="equal"] {
			background-color:#949494;
		}
	}


	.b_arr {
		display:inline-block;
		font-size:0;
		width:18px;height:18px;
		margin:0 10px;
		letter-spacing:-100px;
		background:url("#{$content-img}ico_next_ball.png") 0 0 no-repeat;	
		vertical-align:middle;
	}

	[data-forms] {
		select {
			margin-bottom:10px;
			&:last-child {margin-bottom:0;}
		}
	}

	&+.data_table {margin-top:40px}
}

      
//  toggle title , cotents 
#content [data-toggle] {
	position:relative;
	
	button {
		width:100%;
		text-align:left;
	}

	&.block_title {
		padding:0;
		margin-top:40px;
		button {
			padding:0 5px 12px;
		}
	}
	
	&:after {
		display:block;content:"";
		position:absolute;right:10px;top:9px;
		width:33px;height:17px;
		background:url("#{$content-img}ico_toggle.gif") 0 -31px no-repeat;	
		transition:background-position ease .2s;
	}
	&:hover:after {
		background-position:0 0
	}
	
	&.open:after {
		transform: rotate(180deg)
	}
}
[data-toggle].open + [data-toggle-cont] {
	display:block;
} 

[data-toggle-cont] {
	display:none;
}


// 장문 텍스트 박스 디자인 (약관 등)
.text_box {
	padding:30px 40px;
	border:1px solid #ccc;
	h1 {
		padding:20px 0;
		margin-top:30px;
		font-weight:$bold;
		font-size:16px;
		border-top:1px dashed #ccc;
		
		&:first-child {
			margin-top:0;
			padding-top:0;
			border-top:0;
		}
	}
	p {
		margin-bottom:10px;
	}
	ul, ol {
		padding:25px 35px;
		background-color:#fafafa;
	}
	li {
		margin-bottom:8px;
	}
}

//[COMMENT] 탭 관련 CSS 추가했어요 ..'ㅁ' - cs_terms.html
[data-tab-cont] {
	display:none;
}
.page_title + .tab {
	margin-top:40px;
}


//[COMMENT] 이용약관 , 제휴문의 등 full_page 관련 추가 했어용
.content_section.full_page {
	padding-left:0;
	#content {
		width:100%
	}
}


// [COMMENT] 단독 paragraph 디자인 추가 (desc_priamry) - stats_mix_six.html
#content {
	& > .desc_primary {
		padding : {
			left:60px;
			right:60px;
		}
	}
	.desc_primary {
		margin: {
			top:15px;
			bottom:15px;
		}
		&[data-type="label"] {
			display:inline-block;
			margin : {
				top:12px;
				bottom:12px;
				right:15px
			}
		}
	}
}



// graph_odd_even 홀짝 출현현황 그래프 - stats_odd_even.html
.graph_odd_even {
	display:flex;
	position:relative;
	overflow:hidden;
	width:358px;
	margin:0 auto;
	border-radius:20px;
	border:1px solid #bbb;
	background-color:#f9f9f9;

	&:after {
		display:block;content:"";
		position:absolute;
		left:0;right:0;top:0;bottom:0;
		background:url("#{$content-img}bg_odd_even_graph.png") 0 center no-repeat;	
		
	}
	[data-graph] {		
		flex:1;
		position:relative;
		height:26px;
		font-size:0;
		&:after {
			display:inline-block;content:"";
			position:absolute;top:0;bottom:0;	
		}
	}

	@for $grapStack from 1 through 5 {
	  [data-count='#{$grapStack}']:after { width: 16.6% * $grapStack; }
	}
	
	[data-graph="odd"] {
		&:after {
			right:0;
			background-image:linear-gradient(#ffdb74 30%, #fbba58 100%)
		}
	}
	[data-graph="even"] {
		&:after {
			left:0;
			background-image:linear-gradient(#517eb1 30%, #3c5d82 100%)
		}
	}
}

//[COMMENT] board_table 하단 btn_wrap
.board_table {
	& + .btn_wrap {
		margin : {
			left:0;right:0;
			top:30px;
		}
		& + .pagenation {

		}
	}
}
//[COMMENT] block_title desc 아닌 다른 컨텐츠 삽입용
.block_title {
	.actions {
		padding-left:10px;
		.link_page {
			font-size:16px;
			vertical-align:bottom;
		}
	}
}

//[COMMENT] 좌 / 우 1row 믹스 컨텐츠
.mix_contents {
	padding:15px 0;
	margin-top:20px;

	border-bottom:1px solid #ccc;
	
	& > :first-child { 
		float:left;
	}
	
	& > :last-child {
		float:right;
	}
	
	&:after {
		display:block;content:"";
		clear:both;
	}

	.pagenation {
		margin-top:7px;
	}
	&[data-type="article_btns"] {
		
		a {
			font-size:$base-size;
		}
	}

}



// TR-게시판형- No data
.board_table {
	.nodata {
		td {
			height:160px;
			padding-top:50px;
			font-size:18px;
			background:url("#{$content-img}ico_table_nodata.png") center 45px no-repeat;
			
		}
	}
}



// [COMMENT] list_primary - 기본 목록형 디자인
.data_table + .list_primary {
	margin-top:30px
}
.mix_contents + .list_primary {
	margin-top:-1px;

}
.list_primary {
	padding:18px 30px;
	margin-top:50px;
	border : {
		style:dashed;
		width:1px 0;
		color:#ddd;
	}
	background-color:#fcfcfc;

	li {
		padding:5px 0 6px;

		&:before {
			display: inline-block;
		    content: "\2022";
		    margin : {
		    	top:-8px;
		    	right:10px;
		    }
		    font-size: 20px;
		    line-height:1.1em;
		    vertical-align:middle;
		    color: #9ea8b9;
		}


		.link_page {
			vertical-align:top
		}

	}
}

// 다운로드 목록
.list_download {
	overflow:auto;
	max-height:300px;
	margin-top:30px;
	border:1px solid #e9e9e9;
	
	li {
		a {
			display:block;
			padding:2px 0 4px 32px;
			background:url("#{$content-img}ico_download.png") 0 0 no-repeat;
			color:$strong-color;
		}
	}
}

// 대세추천번호 - 서비스안내 recommend_about.html
//내가 뜯어갑니다


// 로또팡 서비스 안내 mypage_about_service.html
// 로또팡 주요서비스 내쪽으로 옮겨가요



//[COMMENT] .btn_wrap_sns - 휴대폰 회원가입 추가
.btn_wrap_sns {
	[data-type="phone"] {
		border:1px solid #ccc;
		background:url('#{$common-img}bg_login_phone.png') no-repeat 0 0;
	}
}


// 로또팡 조합기 실행 
.mix_run_article {
	overflow:hidden;
	padding: {
		top:30px;
		bottom:50px;
	};

	.data_table {
		margin:0 ;
	}

	border-bottom:1px solid #ddd;

	.mix_data , .mix_result {
		float:left;

		
	}


	.mix_run_stat {
		display:table;
		box-sizing:border-box;

		width:100%;
		height:60px;
		margin-bottom:20px;
		background-color:#fff;

		border: {
			style:solid;
			width:1px 1px 3px;
			color:#eee #ddd $strong-color;
		}

		.mix_run_desc, .mix_grp_chk {
			display:table-cell;
			padding:20px 40px 30px;
		}

		.mix_run_desc {
			width:64%;
			padding:{
				left:120px;
				right:0;
				bottom:20px;
			};

			background:url("#{$content-img}ico_mix_desc.png") no-repeat 40px 55%;
			border-right:1px dashed #ddd;
			vertical-align:middle;

			&:first-child:last-child {
				width:100%;
				padding:{
					top:25px;
					left:0;
					bottom:0;
				}
				background-position:40px 50px;
				.desc_mix_run {
					padding-left:130px;
					.progress {
						margin-bottom:10px;
					}
				}
			}
	
			.desc_mix_run {
				line-height:1.9em;

				.progress {
					display:inline-block;
					padding:2px 15px 4px;
					margin: {
						left:-10px;
						bottom:5px;
					}
					background-color:$strong-color;
					border-radius:50px;
					color:#fff;

				}
			}

			.list_primary {
				margin-top:30px;
				padding: {
					left:70px;
					right:70px;
					bottom:22px;
				}
				border-bottom:0;
			}

			.txt_under {
				padding:{
					bottom:5px;
					left:5px;right:5px;
				}
				border-bottom:1px solid #ccc;
				letter-spacing:-.5px;
			}
		}

		.mix_grp_chk {
			padding:{
				left:25px;right:20px;
			};
			line-height:2em;
			strong {
				display:block;
				padding:10px 20px 5px;
				margin-bottom:10px;
				border-bottom:1px solid #ccc;
				letter-spacing:-1px; 
			}
			.num {
				font-size:1.2em;
				font-weight:$bold;
				color:#000;

			}
			text-align:center;
			vertical-align:middle;

			.grp_count {
				margin-top:10px;
				font-size:1.1em;
			}
		}
		
	}


	.mix_data {
		box-sizing:border-box;
		width:64%;
		padding-right:30px;
	}


	.mix_result {
		width:36%;
		.btn_wrap {
			margin: { 
				top:20px;
				left:0;right:0;
			}

			.btn_primary,.btn_strong {
				width:calc(50% - 5px)
			}
		}
	}



	// 지난회차 당첨그룹 Label - color red 처리
	.input_custom input[type='checkbox'] + label span[data-color="red"] {
		font-weight:$bold;
		color:$notice-color;
	}
}
.desc_mix_run {

}

// 그룹출현현황 분석 - 단,2,3,4합수 mix_group_appear.html
.data_table {
	tbody {
		tr, .tr.divide {
			td[data-appear="grp_1"] {
				box-shadow:inset 0 -3px 0 #ddd;
				border-bottom-color:#8a8a8a;
				color:#000;
			}
			td[data-appear="grp_2"] {
				box-shadow:inset 0 -3px 0 #6ebef7;
				background-color:#eff7ff;
				border-bottom-color:#00487b;
				color:#083651;
			}
			td[data-appear="grp_3"] {
				box-shadow:inset 0 -3px 0 #ff7b7b;
				background-color:#fffaf4;
				border-bottom-color:#ce2e2e;
				color:#8f0000;
			}
			td[data-appear="grp_4"] {
				box-shadow:inset 0 -3px 0 #5dd65b;
				background-color:#d9ffdf;
				border-bottom-color:#006d12;
				color:#2e7a00;
			}
		}
	}
}



//대세 추천번호받기 - progress
.progress_mask { 
	&:before {
		display:block;content:"";
		position:fixed;top:0;right:0;bottom:0;left:0;
	}


	.text {
		position:absolute;top:50%;left:50%;
		min-width:160px;min-height:30px;
		margin: {
			left:-103px;
			top:-69px;
		}
		padding:147px 22px 23px;		

		font-size:17px;
		font-weight:$bold;

		border-radius:30px;
		border:1px solid #aaa;
		border: {
			width:6px 1px 1px;
			color:#39a0dc #b3b3b3 #9ea3a9;
		}
		
		box-shadow:0 0 45px rgba(83, 102, 105, 0.13);
		
		background-image:linear-gradient(rgba(255,255,255,.9) 75%, #f2f2f2 100%);
		text-align:center;
		letter-spacing:-1px;
		color:#002946;

		&:after {
			display:block;content:"";
			position:absolute;top:30px;right:0;left:0;
			height:108px;
			background: url("#{$content-img}progress.gif") no-repeat center 0;
			background-size:90px auto;
		}
	}
}



//대세추천번호 - result
.desc_chk {
	padding:25px 0;
	font-size:22px;
	text-align:center;
	letter-spacing:-1px;
	text-indent:-27px;

	&:before {
		display:inline-block;content:"";
		position:relative;top:2px;
		width:27px;height:25px;
		margin-right:12px;
		background:url("#{$content-img}ico_trend_desc.png") 0 0 no-repeat;
	}
}
.list_sub {
	padding:25px 40px;
	font-size:15px;	
	border-radius:5px;
	background-color:#f7faff;
	li {
		margin-bottom:8px;
		&:last-child {margin-bottom:0;}
		&:before {
			display:inline-block;content:"";
			position:relative;top:-2px;
			width:6px;height:6px;
			margin-right:10px;
			border-radius:50px;
			background-color:#396aa7;
			vertical-align:middle;
		}
	}
	.link_page {
		font-weight:$bold;
		vertical-align:top;
	}
}
.rec_num_result {
	padding:50px 0;
	margin-top:40px;	
	font-size:18px;
	box-shadow:4px 4px #f6f6f6;
	background:linear-gradient(#fff 70%, #f8f8f8 100%);
	

	.tit {
		font-size:18px;
	}


	border:{
		style:solid;
		width:4px 1px 1px;
		color:#9abbff #ccc #ccc;
	}

	.copy {
		margin:10px 0 25px;
		font-size:17px;
		font-weight:$bold;
		letter-spacing:-1px;
	}

	.num_result {
		display:block;
		margin-top:20px;

		[class^="ball_n"] {
			width:50px;height:50px;
			margin:0 5px;
			font-size:23px;
			box-shadow:inset -3px -2px 0 rgba(0,0,0,.20);
			line-height:50px;
			text-shadow:1px 1px rgba(0,0,0,.2)
		}
	}

	text-align:center;
}


// 로또팡 조합기 서비스 안내
.mix_about_service {


	background-color:#fff;


	//mix_about_desc
	.mix_about_desc {
		padding:0 80px;
		background:url("#{$content-img}bg_mix_about.png") 540px 190px no-repeat;

		
		.tit_mix_about {
			position:relative;top:-39px;
			height:146px;
			padding-bottom:25px;
			margin-bottom:20px;
			border-bottom:1px solid #7991a8;

			background:url("#{$content-img}tit_mix_about_service.png") 210px 0 no-repeat;
			font-size:0;
			line-height:0;
			letter-spacing:-2000px;

		}

		.calc {
			width:701px;height:61px;
			padding-left:82px;
			background:url("#{$content-img}bg_mix_about_calc.png") 0 8px no-repeat;
			font-size:22px;
			letter-spacing:-.8px;
			color:#333;
			>b {
				position:relative;top:3px;	
				margin-right:20px;
				font-weight:$normal;
			}
			.plus {
				display:inline-block;
				width:36px;height:36px;
				margin:0 13px 0 11px;
				font-size:0;
				border-radius:100px;
				border:1px solid #c2c0c0;
				background:#fff url("#{$content-img}ico_plus_mix_about.png") center center no-repeat;
				box-shadow:2px 2px 3px rgba(0,0,0,.15);
				vertical-align:middle;
			}

			[class^="calc"] {
				display:inline-block;
				box-sizing:border-box;
				width:61px;height:61px;
				padding-top:18px;
				font-size:21px;	
				border-radius:100px;
				text-align:center;
				letter-spacing:-.8px;
				line-height:20px;
				color:#fff;

				&.calc1 {
					background-color:#f35d48;
					box-shadow:2px 2px 0 #d9402b;
				}
				&.calc2 {
					background-color:#ff9555;
					box-shadow:2px 2px 0 #ef6a19;
					text-shadow:0 0 3px #d05500;
					
				}
			}
			.plus {

			}

		}

		.desc {
			padding:50px 39px 80px;
			font-size:19px;
			line-height:31px;
			letter-spacing:-.4px;
			color:#333;
		}

		.btn_mix_run {
			display:block;
			box-sizing:content-box;
			width:674px;height:58px;
			margin:auto;
			padding-bottom:8px;
			font-size:23px;
			background:url("#{$content-img}btn_mix_about.png") 0 0 no-repeat;

			
			text-align:center;
			letter-spacing:-.4px;
			color:#fff;
			&:hover {
				text-decoration:underline;
			}
			b {
				margin-left:15px;
				font-weight:$bold;
				text-decoration:underline;

			}
		}

	}


	//mix_service_benefit
	.mix_service_benefit {
		padding-bottom:50px;
		margin:65px 25px 0;
		border-top:1px solid #7991a8;

		.tit_mix_service {

			padding:35px 0 25px;
			font-size:23px;
			text-align:center;
		}

		.mix_service {
			text-align:center;
		}
		
		//list_benefit
		.list_benefit {


			
			display:flex;
			margin:15px -1px 0;
			border:1px solid #0e3f6f;
			border-radius:3px;


			li {
				position:relative;
				flex:1;
				font-size:17px;
				border-right:1px solid #d3d3d3;
				line-height:60px;
				letter-spacing:-1px;
				color:#2a2a2a;
				text-align:center;


				&:last-child {
					border-right:0;
				}

				.order {
					position:absolute;left:50%;top:-15px;
					margin:{
						left:-14px;
					}
					width:27px;height:27px;
					font-size:16px;
					font-weight:$extra-bold;
					border-radius:100px;
					background-color:#1b32a5;
					text-align:center;
					line-height:23px;
					letter-spacing:-.75px;
					color:#fff;

				}
			}
		}


		//list_step
		.list_step {
			padding:50px 30px 90px;
			border:1px solid #d2d2d2;
			border-top:0;
			background-color:#fafafa;
			&:after {
				display:block;content:"";clear:both;
			}

			li {
				float:left;
				width:263px;height:264px;
				font-size:0;
				line-height:0;
				text-align:center;

				&:nth-child(1){
					margin-right:-12px;
					background:url("#{$content-img}mix_about_step1.png") 0 0 no-repeat;
				}
				&:nth-child(2){
					margin-right:-12px;
					background:url("#{$content-img}mix_about_step2.png") 0 0 no-repeat;
				}
				&:nth-child(3){
					background:url("#{$content-img}mix_about_step3.png") 0 0 no-repeat;
				}

				.step {
					display:inline-block;
					position:relative;top:-18px;
					padding:15px 28px 20px;
					font-size:18px;
					font-weight:$extra-bold;
					border-radius:100px;
					background-color:#3371e8;
					color:#fff;
				}
			}
		}

		.desc_benefit {
			margin:-55px 37px 0;
			padding:15px 0;
			border-radius:100px;
			border:1px solid #d3d1d1;
			background-color:#fff;
			box-shadow:0 0 10px rgba(0,0,0,.08);
			font-size:16px;
			line-height:23px;
			text-align:center;
			b {
				color:#3371e8;
			}
			b.strong {
				color:#083da3;
			}
		}

	}
}




//1등에 당첨된다면
.lotto_if_win {
	

	//desc_if_win
	.desc_if_win {

		padding: 50px 0;
		margin-bottom:40px;
		padding-left:475px;
	    margin-bottom:40px;
	    font-size: 16px;
	
	    background:#fcfcfc url("#{$content-img}bg_if_win.png") 90px 57px no-repeat;
		border-bottom:1px solid #ccc;
	    


		.tit_if_win {

		}
		
		.win_desc {
			.cong {
				display:inline-block;
				font-size:18px;
				font-weight:$bold;
				letter-spacing:-.5px;
				color:#333;
			}


			.money {
				display:inline-block;
				padding:8px 40px 13px;
				margin-top:25px;
				font-size:20px;
				border-radius:100px;
				border:1px solid #ccc;
				background:linear-gradient(#fff 70%, #f8f8f8 100%);
				b {
					font-size:23px;
					letter-spacing:-1px;
					color:#4471ca;
				}
			}
			
			.other {
				text-indent:15px;
				color:#333;

			}
			.desc_sub {
				display:block;
				padding-top:10px;
				text-decoration:underline;
			}
		}	
	}

	
	.list_if_win {

		> li {
			margin-bottom:50px;
			border-bottom:15px solid #fbfbfb;
			.tit_list_win {
				display:block;
				margin-bottom:10px;
			}
		}

		.block_title {
			padding-top:20px;
		}	

		.list_item {
			overflow:hidden;

			li {
				box-sizing:border-box;
				float:left;
				width:33.3%;
				padding:34px 40px 23px;
				border-bottom:1px dashed #ddd;
				border-right:1px solid #f5f5f5;

				text-align:center;

				&:nth-child(3n) {
					border-right:0;
				}

				.img_list_win {
					display:block;
					overflow:hidden;
					width:290px;height:180px;
					margin-bottom:15px;
					border:1px solid #ccc;
					img {
						max-width:290px;
					}
				}
			}
		}

	}

	.btn_strong.btn_if_win{
		font-size: 20px;
	    width: auto;height: 57px;
	    padding-bottom:2px;
	    padding-left: 40px;
	    padding-right: 40px;
	    letter-spacing:-1px;
	}

}



















