/*main*/
.main{
  $footer-height : 223px;
  #container{
    padding-bottom:$footer-height;
  }
  #footer{
    background: $bg-section;
    height:$footer-height;
    margin-top:-$footer-height;
    border-top:0;

    .inner_footer{
      position: relative;
      padding:22px 170px 0 0;
      color:#666;
      .util_link{
        display: block;
        margin-bottom: 25px;
        font : {
          family : $util-font;
          size: 0;
        };
        a{
          color:#666;
          position: relative;
          font-size:12px;
          padding:0 30px;
          &:first-child{
            padding-left:0;
            &:before{
              display: none;
            }
          }
          &:before{
            content:"";
            position: absolute;
            left:0;
            top:50%;
            width:1px;
            height:12px;
            margin-top:-6px;
            background: #b4b4b4;
          }
        }
      }
      .company_info{
        margin-bottom: 25px;
        & > span{
          color:#666;
          &:before{
            background: #666;
          }
        }
        .name{
          display: block;
          color :$base-color;
          & + span{
            padding-left:0;
          }
        }
        .copyright{
          display: block;
          padding-left:0
        }
      }
      .partner{
        display: block;
        font-size:0;
        a{
          margin-right:45px;
        }
      }
      .footer_logo{
        display: block;
        position: absolute;
        right:0;
        top:60px;
      }
    }
  }
}


/*member*/
//회원가입
.box_contents{
  padding:25px 0;
  border-bottom:1px solid $border-base;
  .input_custom{
    padding:0 0 0 60px;
  }
  .link_more{
    vertical-align: middle;
    color:$strong-color;
    text-decoration: underline;
  }
}
.btn_wrap_sns{
  padding:105px 0;
  @mixin snsBtn($type){
    &[data-type="#{$type}"]{
      background:url('#{$common-img}bg_sns_#{$type}.png') no-repeat 0 0;
      @if $type == facebook{
        background-color:#0a4aab;
        color:#fff
      }@else if $type == google{
        background-color:#ea5d4a;
        color:#fff
      }@else if $type == naver{
        background-color:#00be39;
        color:#fff
      }@else if $type == kakao{
        background-color:#ffe906;
        color:#3e2d2e
      }
    }
  }
  .btn_login_sns{
    @include snsBtn(facebook);
    @include snsBtn(google);
    @include snsBtn(naver);
    @include snsBtn(kakao);
    display: block;
    width:400px;
    height:60px;
    line-height:60px;
    margin: 0 auto 10px;
    text-align: center;
    font:{
      size : 18px;
      weight:$bold;
    }
  }
}