//all elements



//font-family - 기본 나눔고딕, 서브 본고딕, 굴림, 돋움
$base-font : "Nanum Gothic", sans-serif;
$sub-font : "Noto Sans KR", sans-serif;
$sub-notice : "Gulim", "굴림", sans-serif;
$sub-util : "Dotum", "돋움" , sans-serif;

//font-size - 기본 14px, 타이틀 관련 사이즈,
$base-size : 14px;

//color - 기본 #010101 (실화냐), 서브컬러 #505050, 연한놈 #72767e 강조 #528dff
$base-color : #010101;
$sub-color : #505050;
$light-color : #72767e;
$strong-color : #528dff;

//font-weight
// 나눔 normal :400, bold : 700, extra-bold : 800 (3가지)
// noto-sans thin :100, light : 300, normal : 400, medium : 500, bold : 700, extra-bold :800 (6가지)
$thin : 100;
$light : 300;
$normal : 400;
$medium : 500;
$bold : 700;
$extra-bold : 800;

//border-color - 기본 #d6d6d6, 강조 #85abf7
$border-base : #d6d6d6;
$border-strong : #85abf7;
$border-darken : #505050;

//resource 경로
$common-img : "../img/common/";
$content-img : "../img/content/";
$temp-img : "../img/temp/";

//container size - 기본 1190px
$container-size : 1190px;
