<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 | 로또팡</title>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<!-- header include -->
<div id="container">
    <div class="sub_intro"><!-- sub_intro -->
        <div class="win_info">
            <p class="win_label">
                <span class="round">742</span>회 로또 당첨 번호
            </p>
            <p class="win_number">
                <span class="ball_n1th">1</span><!-- 1부터 9까지 class="ball_n1th" -->
                <span class="ball_n10th">12</span><!-- 10부터 19까지 class="ball_n10th" -->
                <span class="ball_n20th">23</span><!-- 20부터 29까지 class="ball_n20th" -->
                <span class="ball_n30th">34</span><!-- 30부터 39까지 class="ball_n30th" -->
                <span class="ball_n40th">48</span><!-- 40부터 49까지 class="ball_n40th" -->
                <span class="plus">+</span>
                <span class="ball_n1th">6</span>
            </p>
        </div>
        <p class="path">
            <span class="home">home</span>
            &gt;
            <span class="depth">회원가입</span>
            &gt;
            <strong class="now">무료회원 가입</strong>
        </p>
    </div><!-- //sub_intro -->
    <div class="content_section">
        <section id="local_info"><!-- local_info -->
            <h2 class="blind">지역네비게이션</h2>
            <p class="lnb_desc">
                <span>오로지 로또팡에만 있는!</span>
                <strong>특별한 회원 서비스</strong>
            </p>
            <nav id="lnb"><!-- lnb -->
                <ul class="menu">
                    <li class="on"><a href="#">무료 회원 가입</a></li>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">가입 소셜 계정 찾기</a></li>
                    <li><a href="#">혜택! 플러스회원권 구매하기</a></li>
                    <li><a href="#">쿠폰 결제하기</a></li>
                    <li><a href="#">로또팡 서비스 안내</a></li>
                    <li><a href="#">테크앤조이 소개</a></li>
                </ul>
            </nav><!-- //lnb -->
            <aside class="etc_info">
                <div class="ad">
                    <a href="#">
                        <img src="../../resources/img/temp/tmp_lnb_ad1.jpg" alt="로또팡 내 모든 서비스 무제한 이용가능!! 플러스회원권 구매하기">
                    </a><!-- N; img 관리자등록시 alt 갱신 -->
                </div>
                <dl class="etc">
                    <dt>고객센터</dt>
                    <dd class="cc_tel">070-8221-5031</dd>
                    <dd>운영시간 : 월 ~ 금 09:00 ~ 18:00</dd>
                </dl>
                <dl class="etc">
                    <dt>무통장 입금 계좌번호</dt>
                    <dd><strong>국민</strong> 443101-01-118753</dd>
                    <dd><strong>우리</strong> 1005-402-148847</dd>
                    <dd><strong>신한</strong> 110-214-719112</dd>
                    <dd>(예금주 : 서주형)</dd>
                </dl>
                <dl class="etc">
                    <dt>유의사항</dt>
                    <dd>- 1:1 회원 게시판에 입금 확인을 요청.</dd>
                    <dd>- 주문자와 입금자 이름이 일치해야 함.</dd>
                </dl>
            </aside>
        </section><!-- //local_info -->
        <section id="content"><!-- content -->
            <h2 class="page_title">
                <span class="desc">특별한 회원 서비스</span>
                <span class="tit">무료 회원 가입</span>
            </h2>


            
            <h3 class="block_title">
                <span class="tit">필수사항 입력</span>
            </h3>

            <div class="input_table"><!-- input_table : 필수사항 입력 -->
                <table>
                    <caption>필수사항 입력</caption>
                    <colgroup>
                        <col style="width:30.7%">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">계정 ID/이메일</th>
                            <td>
                                <p class="has_data">
                                    <b>N602221122</b>님
                                    <span data-color="blue">melissah@naver.com</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="joinNickNm">닉네임<span data-color="red">(필수)</span></label></th>
                            <td>
                                <input type="text" data-width="300" required id="joinNickNm" title="닉네임 입력">
                                <button class="btn_primary">중복확인</button>
                                <p class="validate_notice">이미 사용중입니다. 다른 닉네임을 입력해주세요.</p>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="joinPhoneNum">본인명의 휴대전화<span data-color="red">(필수)</span></label></th>
                            <td>
                                <span data-hide="phoneNum">
                                    <input type="text" data-width="300" required id="joinPhoneNum" title="본인명의 휴대전화 입력">
                                    <button class="btn_strong">인증하기</button>
                                </span>

                                <!-- [Design - 번호 인증 완료될 경우 ] 
                                    1.  아래 <span id="phoneNum"> 요소가 SHOW 됩니다.
                                    2. $('[data-hide="phoneNum"]').remove() 됩니다. (Hide 처리하면 디자인 어그러짐.)
                                 -->
                                <span class="has_data" data-color="blue"  id="phoneNum" style="display:none">000-0000-0000</span>

                                <div class="input_custom">
                                    <input type="checkbox" id="chkSmsAgree" title="SMS수신동의">
                                    <label for="chkSmsAgree"><span>SMS수신</span></label>
                                </div>
                            </td>
                        </tr>
                        <tr  data-hide="phoneNum">
                            <th scope="row"><label for="joinVerifyNum">인증번호</label></th>
                            <td>
                                <input type="text"  data-width="300" id="joinVerifyNum" placeholder="문자로 발송된 인증번호 입력" title="휴대전화 인증번호 입력">
                                <button class="btn_primary">확인</button>
                                <p class="table_notice">매주 추천번호 2개 조합이 무료로 <span data-color="red">발송</span>됩니다.<br>현재 사용중이신 번호로 정확하게 기재 바랍니다.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- //input_table : 필수사항 입력 -->

            



            <h3 class="block_title">
                <span class="tit">선택사항 입력</span>
            </h3>
            <div class="input_table"><!-- input_table : 선택사항 입력 -->
                <table>
                    <caption>선택사항 입력</caption>
                    <colgroup>
                        <col style="width:30.7%">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row" rowspan="2"><label for="birthDate">생년월일시</label></th>
                            <td>
                                <input type="text" id="birthDate" data-width="200" title="생년월일시 입력" placeholder="예)19831227">
                                <select name="" title="생년월일시 양력 음력 선택">
                                    <option value="">양력</option>
                                    <option value="">음력</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select name="" title="생년월일시 십이지지 선택" data-width="200">
                                    <option value="">子(자) 23:30 ~ 01:29</option>
                                </select>
                                <select name="" title="성별 선택">
                                    <option value="">남자</option>
                                    <option value="">여자</option>
                                </select>
                                <select name="" title="평달 윤달 선택">
                                    <option value="">평달</option>
                                    <option value="">윤달</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- //input_table : 선택사항 입력 -->

            
            <h3 class="block_title">
                <span class="tit">약관 동의</span>
            </h3>


            <div class="box_contents">
                <div class="input_custom">
                    <input type="checkbox" id="chkTermsAgree" title="이용약관 동의">
                    <label for="chkTermsAgree"><span>이용약관에 동의합니다.</span></label>
                </div>
                <a href="#" class="link_more" id="BtnTermsDetail">자세히 보기</a>
                <div class="input_custom">
                    <input type="checkbox" id="chkPrivacyAgree" title="개인정보 취급방침 동의">
                    <label for="chkPrivacyAgree"><span>개인정보 취급방침에 동의합니다.</span></label>
                </div>
            </div>
            


            <div data-show="termsDetailWrap"><!-- termsDetailWrap -->

                <h3 class="block_title open"  data-toggle="termsDetail_terms"><!-- 개인정보 이용약관 -->
                    <button class="tit">개인정보 이용약관</button>
                </h3>
                <article class="text_box" data-toggle-cont="termsDetail_terms">
                    <h1>제1조 (목적)</h1>
                    <p>이 약관은 <b>㈜테크앤조이(이하 ‘회사’)</b>가 회원에게 온라인 서비스를 제공하기 위하여 운영하는 www.lottopang.com (이하 ‘로또팡’)의 이용과 관련하여 회사와 회원의 권리 및 의무 기타 필요한 사항을 규정함을 목적으로 합니다.</p>

                    <h1>제 2 조 (정의)</h1>
                    <p>이 약관에서 사용하는 용어의 정의는 다음 각호와 같습니다. </p>

                    <ol>
                        <li>1. 서비스 : 사유 여하를 불문하고, 회사가 운영하는 로또팡을 통하여 회원에게 제공하는 일체의 용역(회사와 제휴한 온라인서비스 제공자가 제공하는 용역을 회원이 이용하는 경우에는 제휴 온라인서비스 제공자가 제공하는 용역을 포함합니다)</li>
                        <li>2. 유료서비스 : 회사가 유료로 제공하는 각종 온라인디지털콘텐츠(각종 정보콘텐츠, 아이템 기타 유료콘텐츠를 포함) 기타 일체의 서비스</li>
                        <li>3. 회원 : 회사의 서비스에 접속하여 이 약관에 따라 회사와 이용계약을 체결한 뒤 회사가 제공하는 서비스를 이용하는 고객</li>
                        <li>4. 아이디(ID) : 회원의 식별 및 서비스 이용을 위하여 회원이 선정하고 회사가 승인하는 문자 또는 숫자의 조합</li>
                        <li>5. 비밀번호 : 서비스를 이용함에 있어, 회원의 아이디(ID)와 일치되는 회원임을 확인하고, 회원의 비밀 보호를 위해 회원 자신이 설정한 문자 또는 숫자의 조합</li>
                        <li>6. 포인트 : 마일리지 등과 같이 서비스의 효율적 이용을 위해 회사가 임의로 책정 또는 지급, 조정할 수 있는 재산적 가치 없는 서비스상의 가상 데이터</li>
                        <li>7. 게시물 : 회원이 서비스를 이용함에 있어, 서비스상에 게시한 부호ㆍ문자ㆍ음성ㆍ음향ㆍ화상ㆍ동영상 기타 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크</li>
                        <li>8. 해지 : 서비스 개통 후 회사 또는 회원이 이용계약의 효력을 상실시키는 행위</li>
                    </ol>

                    <h1>제3조 (약관의 게시 및 개정)</h1>
                    <ol>
                        <li>1. 회사는 이 약관의 내용을 회원이 쉽게 확인할 수 있도록 회사의 인터넷 홈페이지(www.happycampus.com)서비스 초기 화면에 이를 게시합니다.</li>
                        <li>2. 회사는 회원에게 제공하는 서비스의 품질 향상 기타 필요한 경우, ‘정보통신망이용촉진및정보보호등에관한법률(이하 ‘정보보호법’)’, ‘약관의규제에관한법률(이하 ‘약관규제법’)’ 기타 관련법령을 위배하지 아니하는 범위 내에서 이 약관을 개정할 수 있습니다.</li>
                        <li>3. 회사가 이 약관을 개정하고자 할 경우, 회사는 개정 약관의 효력발생일을 명시하여 현행 약관과 함께 개정 약관의 효력발생일 30일 전부터 1항의 방법으로 개정약관을 공지합니다. 단, 회원의 권리ㆍ의무에 중대한 영향을 미치는 개정이 아닌 때에는 효력발생일 7일 전부터 이를 공지할 수 있습니다.</li>
                        <li>4. 개정 약관의 효력발생일 이후 회원이 서비스를 이용하는 경우, 회사는 회원이 개정 약관에 동의한 것으로 봅니다. 단, 회원이 개정 약관에 동의하지 아니할 때에는 회원은 회사에 대하여 회원의 탈퇴 기타 이용계약을 해지할 수 있습니다.</li>
                        <li>5. 유료서비스를 이용하는 회원이 이 약관의 개정에 동의하지 아니하여 이용계약을 해지한 때에는 이 약관이 정한 환불정책에 따릅니다.</li>
                        <li>6. 회사는 서비스의 품질 향상, 회원 의사의 충족 기타 필요한 경우, 이 약관과 달리 개별약관을 둘 수 있고, 이 경우 1항 내지 5항을 준용합니다.</li>
                    </ol>

                    <h1>제4조 (약관의 적용)</h1>
                    <p>전기통신사업법, 정보보호법, 약관규제법 기타 관련법령의 규정 중 강행규정과 이 약관의 내용이 서로 다른 경우에는 강행규정을 적용하고, 전기통신사업법, 정보보호법, 약관규제법 기타 관련법령의 규정 중 임의규정 또는 전기통신사업법, 정보보호법, 약관규제법 기타 관련법령에 규정되지 아니한 사항에 대하여는 이 약관을 적용합니다.</p>
                </article><!-- //개인정보 이용약관 -->
                

                <h3 class="block_title open"  data-toggle="termsDetail_privacy"><!-- 개인정보 취급방침 -->
                    <button class="tit">개인정보 취급방침</button>
                </h3>
                <article class="text_box" data-toggle-cont="termsDetail_privacy">
                    내용준비중
                </article><!-- 개인정보 취급방침 -->



                <h3 class="block_title open"  data-toggle="termsDetail_law"><!-- 책임한계 및 법적고지 -->
                    <button class="tit">책임한계 및 법적고지</button>
                </h3>
                <article class="text_box" data-toggle-cont="termsDetail_law">
                    내용준비중
                </article><!-- 책임한계 및 법적고지 -->
            
            </div><!-- //termsDetailWrap -->


            <div class="btn_wrap" data-align="center">
                <button class="btn_strong" type="button">가입하기</button>
            </div>


            <aside class="lotto_pang_slogan"><!-- 하단 슬로건 -->
                <p class="logo">로또예상번호는 로또팡</p>
                <p class="desc">로또팡의 통계, 분석자료는 국내유일의 기법을 사용하여 새로운 자료들이 자주 추가됩니다! <br>로또예상번호는 로또팡!</p>
            </aside><!-- //하단 슬로건 -->
        </section><!-- //content -->
    </div>
</div>
<!-- footer include -->
<script src="../../resources/lib/jquery-1.12.4.min.js"></script>
<script>
    // 약관 자세히보기 전체 Wrap Show/Hide
    var $termsDetailWrap = $('[data-show="termsDetailWrap"]');
    // 약관 전체 : 초기상태 Hide
    $termsDetailWrap.hide();

    $('#BtnTermsDetail').on('click',function(e){
        e.preventDefault();
        $termsDetailWrap.toggle();
    });


    // Toggle Action
    var $toggleTitle = $('[data-toggle]');
    $toggleTitle.on('click',function(){
        $(this).toggleClass('open');
    });


</script>
</body>
</html>