<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>로그인 |로또팡</title>
    <script src="../../resources/lib/swiper.min.css"></script>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<header id="header">
    <h1 class="logo">
        <a href="#">
            <img src="../../resources/img/common/img_header_logo.png" alt="로또팡">
        </a>
    </h1>
    <nav id="gnb" class="swiper-container">
        <h2 class="blind">글로벌 네비게이션</h2>
        <ul class="gnb swiper-wrapper">
            <li class="swiper-slide"><!-- class="on" 활성화 -->
                <a href="#subMenu1">로또팡 조합기</a>
            </li>
            <li class="swiper-slide">
                <a href="#subMenu2">비법 자료</a>
            </li>
            <li class="swiper-slide">
                <a href="#subMenu3">조합 서비스</a>
            </li>
            <li class="swiper-slide">
                <a href="#subMenu4">대세 추천번호</a>
            </li>
            <li class="swiper-slide">
                <a href="#subMenu5">연금복권</a>
            </li>
        </ul>
        <ul class="sub_gnb">
            <li class="depth" id="subMenu1">
                <ul>
                    <li><a href="#">로또팡 조합기 안내</a></li>
                    <li><a href="#">로또팡 조합기 실행</a></li>
                    <li><a href="#">[통계]역대 그룹핑 결과</a></li>
                    <li><a href="#">[통계]그룹출현현황 분석</a></li>
                    <li><a href="#">[통계]회차별 그룹핑 현황</a></li>
                </ul>
            </li>
            <li class="depth" id="subMenu2">
                <ul>
                    <li><a href="#">로또 통계자료 전체보기</a></li>
                    <li><a href="#">로또 비법자료 전체보기</a></li>
                </ul>
            </li>
            <li class="depth" id="subMenu3">
                <ul>
                    <li><a href="#">로또팡 조합법 전체보기</a></li>
                    <li><a href="#">사주로 확인하는 조합법</a></li>
                    <li><a href="#">추천! 조합법</a></li>
                    <li><a href="#">2등~5등 최소보장조합법</a></li>
                    <li><a href="#">로또팡 추천조합법</a></li>
                    <li><a href="#">독점공개! 올인조합법</a></li>
                    <li><a href="#">my 조합법</a></li>
                </ul>
            </li>
            <li class="depth" id="subMenu4">
                <ul>
                    <li><a href="#">대세 추천번호 안내</a></li>
                    <li><a href="#">추천번호 빨리 받기</a></li>
                    <li><a href="#">사용자조건 추천번호 받기</a></li>
                    <li><a href="#">3등, 4등 보장조합</a></li>
                </ul>
            </li>
            <li class="depth" id="subMenu5">
                <ul>
                    <li><a href="#">연금복권 당첨결과 종합</a></li>
                    <li><a href="#">연금복권 빠른 당첨 조회</a></li>
                    <li><a href="#">연금복권 지난 당첨 결과</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <button type="button" class="btn_side_navi">사이드메뉴보기</button>
    <div class="side_wrap" id="sideMenu">
        <section class="side_menu_section">
            <h2 class="blind">사이드메뉴영역</h2>
            <div class="login_before_sec"><!-- 로그인 전 -->
                <div class="head_info">
                    <a href="#" class="login_status">로그인 해주세요</a>
                </div>
                <div class="mini_info">
                    <p class="desc">로또 예상번호는 <b>로또팡!!</b></p>
                    <a href="#" class="link_btn">회원가입</a>
                </div>
                <div class="box_wrap">
                    <p class="desc">복잡한 회원가입 없이 빠르게 로그인!</p>
                    <ul class="sns_login">
                        <li class="login_naver"><a href="#">네이버 로그인</a></li>
                        <li class="login_google"><a href="#">Google 로그인</a></li>
                        <li class="login_facebook"><a href="#">Facebook 로그인</a></li>
                        <li class="login_kakao"><a href="#">kakao 로그인</a></li>
                    </ul>
                </div>
                <div class="box_wrap">
                    <p class="desc">가입했는지 기억이 안 난다면?</p>
                    <div class="btn_wrap" data-align="center">
                        <a href="" class="btn_link link_account_find">가입 계정 찾기</a>
                    </div>
                </div>
            </div><!-- //로그인 전 -->

            <button type="button" class="btn_nav_close">닫기</button>
        </section>
    </div>
    <a href="#" class="btn_member_join">회원가입</a>
</header>
<div id="container">
    <section id="content">
        <h2 class="page_title">로또 통계자료 전체보기</h2>
        <div class="sub_title">
            <h3>당첨번호 재출현 주기분석</h3>
            <a href="#" class="prev_menu">이전메뉴</a><!-- 통계자료, 비법자료에서만 있는 링크 -->
            <a href="#" class="next_menu">다음메뉴</a><!-- 통계자료, 비법자료에서만 있는 링크 -->
        </div>
        <div class="box_wrap">
            <div class="box_title">제목제목</div>
        </div>
    </section>
</div>
<div class="bottom_section">
    <footer id="footer">
        <ul class="foot_util">
            <li><a href="#">로그인</a></li>
            <li><a href="#">PC버전</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">제휴문의</a></li>
        </ul>
        <address>
            <span class="company">(주)테크앤조이</span>
            대표자 : 서주형 ㅣ  사업자 등록번호 :  000-00-000000 <br>
            통신판매업 신고번호 : 제2017-서울용산-00000호  ㅣ  TEL : 02-000 - 0000 <br>
            FAX : 02-0000-0000  ㅣ  E-mail : <a href="mailto:help@lottopang.co.kr">help@lottopang.co.kr</a><br>
            주소 : 도로명주소:서울특별시 용산구 한강대로7길 38(한강로3가) 
        </address>
        <p class="copyright">
            copyright&copy;lottopang all right reserved.
        </p>
    </footer>
    <aside class="bottom_util">
        <button type="button" class="btn_home_add">로또팡 홈화면에 바로가기 추가</button>
        <div class="link_spot">
            <a href="#" class="home">홈으로</a>
            <a href="#header" class="up">위로</a>
        </div>
        <dl class="week_lotto_info">
            <dt>
                <b>782</b>회차 <br>
                <strong>로또 당첨 번호</strong>
            </dt>
            <dd>
                <span class="ball_n1th">6</span>
                <span class="ball_n10th">18</span>
                <span class="ball_n10th">19</span>
                <span class="ball_n20th">24</span>
                <span class="ball_n30th">34</span>
                <span class="ball_n40th">41</span>
                <span class="plus">+</span>
                <span class="ball_n20th" title="보너스번호">20</span>
            </dd>
        </dl>
    </aside>
</div>
<script src="../../resources/lib/jquery-1.12.4.min.js"></script>
<script src="../../resources/lib/swiper.min.js"></script>
<script src="../../resources/js/common-ui.min.js"></script>

</body>
</html>