<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로또팡 조합기 실행 | 로또팡</title>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<!-- header include -->
<div id="container">
    <div class="sub_intro"><!-- sub_intro -->
        <div class="win_info">
            <p class="win_label">
                <span class="round">742</span>회 로또 당첨 번호
            </p>
            <p class="win_number">
                <span class="ball_n1th">1</span><!-- 1부터 9까지 class="ball_n1th" -->
                <span class="ball_n10th">12</span><!-- 10부터 19까지 class="ball_n10th" -->
                <span class="ball_n20th">23</span><!-- 20부터 29까지 class="ball_n20th" -->
                <span class="ball_n30th">34</span><!-- 30부터 39까지 class="ball_n30th" -->
                <span class="ball_n40th">48</span><!-- 40부터 49까지 class="ball_n40th" -->
                <span class="plus">+</span>
                <span class="ball_n1th">6</span>
            </p>
        </div>
        <p class="path">
            <span class="home">home</span>
            &gt;
            <span class="depth">로또팡 조합기</span>
            &gt;
            <strong class="now">[통계] 역대 그룹핑 결과</strong>
        </p>
    </div><!-- //sub_intro -->
    <div class="content_section">
        <section id="local_info"><!-- local_info -->
            <h2 class="blind">지역네비게이션</h2>
            <p class="lnb_desc">
                <span>로또팡 개발자들의 야심작!</span>
                <strong>로또팡 조합기</strong>
            </p>
            <nav id="lnb"><!-- lnb -->
                <ul class="menu">
                    <li><a href="#">로또팡 조합기 서비스 안내</a></li>
                    <li class="on"><a href="#">로또팡 조합기 실행</a></li>
                    <li><a href="#">[통계] 역대 그룹핑 결과</a></li>
                    <li><a href="#">[통계] 그룹 출현 현황 분석</a></li>
                    <li><a href="#">[통계] 회차별 그룹핑 현황</a></li>
                </ul>
            </nav><!-- //lnb -->
            <aside class="etc_info">
                <div class="ad">
                    <a href="#">
                        <img src="../../resources/img/temp/tmp_lnb_ad1.jpg" alt="로또팡 내 모든 서비스 무제한 이용가능!! 플러스회원권 구매하기">
                    </a><!-- N; img 관리자등록시 alt 갱신 -->
                </div>
                <dl class="etc">
                    <dt>고객센터</dt>
                    <dd class="cc_tel">070-8221-5031</dd>
                    <dd>운영시간 : 월 ~ 금 09:00 ~ 18:00</dd>
                </dl>
                <dl class="etc">
                    <dt>무통장 입금 계좌번호</dt>
                    <dd><strong>국민</strong> 443101-01-118753</dd>
                    <dd><strong>우리</strong> 1005-402-148847</dd>
                    <dd><strong>신한</strong> 110-214-719112</dd>
                    <dd>(예금주 : 서주형)</dd>
                </dl>
                <dl class="etc">
                    <dt>유의사항</dt>
                    <dd>- 1:1 회원 게시판에 입금 확인을 요청.</dd>
                    <dd>- 주문자와 입금자 이름이 일치해야 함.</dd>
                </dl>
            </aside>
        </section><!-- //local_info -->
        <section id="content"><!-- content -->
            <h2 class="page_title">
                <span class="desc">로또팡 조합기</span>
                <span class="tit">로또팡 조합기 실행</span>
            </h2>

            
            

            <ul class="tab">
                <li><a href="#" data-tab="run">실행</a></li>
                <li><a href="#" data-tab="exp">체험</a></li>
                <li><a href="#" data-tab="stat">통계</a></li>
            </ul>
            
            
            <div class="tab_article_wrap"><!-- tab_article_wrap -->

                <div class="tab_article" data-tab-cont="terms"><!-- 실행 -->



                </div><!-- //실행 -->



            </div><!-- //tab_article_wrap -->


            <div class="mix_run_article"><!-- mix_run_article -->

                <div class="mix_data"><!-- mix_data : 좌측 조합결과 Table -->

                    <div class="data_table"><!-- data_table  -->
                        <table>
                            <caption>로또팡 조합 실행</caption>
                            <colgroup>
                                <col style="width:25%">
                                <col style="width:auto">
                                <col style="width:20%">
                                <col style="width:20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="input_custom">
                                            <input type="checkbox" id="grp-all">
                                            <label for="grp-all"><span>그룹 선택</span></label>
                                        </div>
                                    </th>
                                    <th scope="col">이번회차<br>그룹현황</th>
                                    <th scope="col">회원<br>인기도</th>
                                    <th scope="col">지난<br>당첨그룹</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="divide">
                                    <td>
                                        <div class="input_custom">
                                            <input type="checkbox" id="grp1">
                                            <label for="grp1"><span>그룹 1</span></label>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ball_n1th">4</span>
                                        <span class="ball_n10th">13</span>
                                        <span class="ball_n30th">34</span>
                                    </td>
                                    <td></td>
                                    <td>지난회<br>당첨그룹</td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="input_custom">
                                            <input type="checkbox" id="grp2">
                                            <label for="grp2"><span>그룹 2</span></label>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ball_n1th">9</span>
                                        <span class="ball_n10th">12</span>
                                        <span class="ball_n30th">31</span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>


                                <tr class="divide">
                                    <td>
                                        <div class="input_custom">
                                            <input type="checkbox" id="grp3">
                                            <label for="grp3"><span>그룹 3</span></label>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ball_n10th">11</span>
                                        <span class="ball_n20th">21</span>
                                        <span class="ball_n40th">44</span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div><!-- //data_table -->

                </div><!-- mix_data : 좌측 조합결과 Table -->


                <div class="mix_result"><!-- mix_result : 우측 조합요약 -->

                    <div class="mix_grp_chk">
                        <span>1,39,40,11,13,14,16,17,24</span>
                        <p class="grp_count">
                            <b data-color="red">총 0개 예상번호</b> / 45개중 
                        </p>
                    </div>


                    <div class="data_table"><!-- data_table  -->
                        <table>
                            <caption>로또팡 조합 실행 요약</caption>
                            <colgroup>
                                <col style="width:17%">
                                <col style="width:auto">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">최종 생성<br>조합 비교</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="divide">
                                    <th scope="row">완전<br>조합시</th>
                                    <td data-align="left">84개 vs 6개</td>
                                </tr>
                                <tr>
                                    <th scope="row">조합기<br>사용 시 </th>
                                    <td data-align="left">6개</td>
                                </tr>
                                <tr>
                                    <th scope="row">기대효과</th>
                                    <td data-align="left">
                                        <strong data-color="red">78개조합(78,000 원) 세이브</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">해설</th>
                                    <td data-align="left">
                                        <p>
                                            ‘완전조합’은 예상번호 내 당첨번호 6개가 들어있으면 당첨이 보장됩니다.

                                            <br><br>‘조합기’를 사용하면 당첨보장은 되지 않지만 1등 당첨도 충분히 가능!
                                            <br>또한 구매조합수를 줄일 수 있으며 그 금액만큼 다른 예상번호를 구성해 볼 수있어 기회비용이 생깁니다.

                                            <br><br>예상번호 속에 1등당첨번호 6개 있다고 확신되면 아래 [완전조합]을 누르고, 구매비용도 줄이면서 1등당첨도 가능한 조합을 받고 싶으시면[압축조합]을 눌러주세요 
                                        </p>

                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div><!-- //data_table -->

                    <div class="btn_wrap" data-align="center">
                        <a href="#" class="btn_strong">완전조합</a>
                        <a href="#" class="btn_primary">압축조합</a>
                    </div>

                </div><!-- //mix_result : 우측 조합요약 -->

            </div><!-- //mix_run_article -->
            


            <div class="box_contents actions">
                <div class="article">
                    <p >본 자료는 로또팡에서만 확인할 수 있는 자료입니다. 자료가 유용하셨나요?</p>
                </div>
                <div class="actions">
                    <button class="btn_strong">즐겨찾기 사이트 추가</button>
                </div>
            </div>

            <aside class="lotto_pang_slogan"><!-- 하단 슬로건 -->
                <p class="logo">로또예상번호는 로또팡</p>
                <p class="desc">로또팡의 통계, 분석자료는 국내유일의 기법을 사용하여 새로운 자료들이 자주 추가됩니다! <br>로또 예상번호는 로또팡!</p>
            </aside><!-- //하단 슬로건 -->
        </section><!-- //content -->
    </div>
</div>
<!-- footer include -->
<script src="../../resources/lib/jquery-1.12.4.min.js"></script>


<script>

    // [COMMENT] 확인부탁드려요 'ㅁ '

    var $tabItem = $('.tab li a');

    $tabItem.on('click',function(e){
        e.preventDefault();
        
        var $this = $(this),
            $tabItem = $this.parent('li'),
            $sibTabItem = $this.closest('ul').children('li').not($tabItem),
            $tabCont = $('[data-tab-cont="'+ $this.attr('data-tab') +'"]');


        if ( !$tabItem.hasClass('on') ) {
            $tabItem.addClass('on');
            $sibTabItem.removeClass('on');
            $tabCont.show().siblings('[data-tab-cont]').hide();
        }
    });

    //최초 로딩시 초기 on 셋팅
    $tabItem.eq(0).click();



</script>
</body>
</html>