<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로또팡 조합기 서비스 안내 | 로또팡</title>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<!-- header include -->
<div id="container">
    <div class="sub_intro"><!-- sub_intro -->
        <div class="win_info">
            <p class="win_label">
                <span class="round">742</span>회 로또 당첨 번호
            </p>
            <p class="win_number">
                <span class="ball_n1th">1</span><!-- 1부터 9까지 class="ball_n1th" -->
                <span class="ball_n10th">12</span><!-- 10부터 19까지 class="ball_n10th" -->
                <span class="ball_n20th">23</span><!-- 20부터 29까지 class="ball_n20th" -->
                <span class="ball_n30th">34</span><!-- 30부터 39까지 class="ball_n30th" -->
                <span class="ball_n40th">48</span><!-- 40부터 49까지 class="ball_n40th" -->
                <span class="plus">+</span>
                <span class="ball_n1th">6</span>
            </p>
        </div>
        <p class="path">
            <span class="home">home</span>
            &gt;
            <span class="depth">로또팡 조합기</span>
            &gt;
            <strong class="now">[통계] 역대 그룹핑 결과</strong>
        </p>
    </div><!-- //sub_intro -->
    <div class="content_section">
        <section id="local_info"><!-- local_info -->
            <h2 class="blind">지역네비게이션</h2>
            <p class="lnb_desc">
                <span>로또팡 개발자들의 야심작!</span>
                <strong>로또팡 조합기</strong>
            </p>
            <nav id="lnb"><!-- lnb -->
                <ul class="menu">
                    <li class="on"><a href="#">로또팡 조합기 서비스 안내</a></li>
                    <li><a href="#">로또팡 조합기 실행</a></li>
                    <li><a href="#">[통계] 역대 그룹핑 결과</a></li>
                    <li><a href="#">[통계] 그룹 출현 현황 분석</a></li>
                    <li><a href="#">[통계] 회차별 그룹핑 현황</a></li>
                </ul>
            </nav><!-- //lnb -->
            <aside class="etc_info">
                <div class="ad">
                    <a href="#">
                        <img src="../../resources/img/temp/tmp_lnb_ad1.jpg" alt="로또팡 내 모든 서비스 무제한 이용가능!! 플러스회원권 구매하기">
                    </a><!-- N; img 관리자등록시 alt 갱신 -->
                </div>
                <dl class="etc">
                    <dt>고객센터</dt>
                    <dd class="cc_tel">070-8221-5031</dd>
                    <dd>운영시간 : 월 ~ 금 09:00 ~ 18:00</dd>
                </dl>
                <dl class="etc">
                    <dt>무통장 입금 계좌번호</dt>
                    <dd><strong>국민</strong> 443101-01-118753</dd>
                    <dd><strong>우리</strong> 1005-402-148847</dd>
                    <dd><strong>신한</strong> 110-214-719112</dd>
                    <dd>(예금주 : 서주형)</dd>
                </dl>
                <dl class="etc">
                    <dt>유의사항</dt>
                    <dd>- 1:1 회원 게시판에 입금 확인을 요청.</dd>
                    <dd>- 주문자와 입금자 이름이 일치해야 함.</dd>
                </dl>
            </aside>
        </section><!-- //local_info -->
        <section id="content"><!-- content -->
            <h2 class="page_title">
                <span class="desc">로또팡 조합기</span>
                <span class="tit">로또팡 조합기 서비스 안내</span>
            </h2>


            
            <article class="trend_about_service">
                

                <div class="mix_about_service"><!-- mix_about_service -->

                    <div class="mix_about_desc">
                        <h3 class="tit_mix_about">로또팡 개발진의 새로운 야심작 로또팡 조합기:돈 벌어주는 조합기</h3>
                        

                        <p class="calc">
                            <b>조합결과를</b>
                            <span class="calc1">압축</span>
                            <span class="plus">+</span>
                            <span class="calc1">압축</span>
                            <span class="plus">+</span>
                            <span class="calc2">응축</span>
                        </p>

                        <p class="desc">최종적으로 가장 최소의 <strong>끝판조합</strong>을 생성합니다. 
                            <br>실제 구매가능한 조합수만큼으로 줄였습니다. 

                            <br><br>불필요한 조합을 구매하지 않아도 되므로 
                            <br><strong>기회비용도 늘어나고, 조합구매비용도 세이브!</strong>
                        </p>

                        <button type="button" class="btn_mix_run">돈 벌어주는 로또팡 조합기<b>실행하기</b></button>
                    </div>


                    <div class="mix_service_benefit">
                        <h4 class="tit_mix_service">로또팡 조합기만의 장점</h4>
                        <ol class="list_benefit">
                            <li><span class="order">1</span>간단한 사용법</li>
                            <li><span class="order">2</span>그룹핑 적중률!</li>
                            <li><span class="order">3</span>국내에서 가장 최소조합 결과 제공!</li>
                        </ol>

                        <ol class="list_step">
                            <li><span class="step">STEP1</span>예상되는 번호그룹을 6개 선택!</li>
                            <li><span class="step">STEP2</span>선택한 예상번호 목록 확인</li>
                            <li><span class="step">STEP3</span>완전조합/압축조합 클릭</li>
                        </ol>

                        <p class="desc_benefit">예상되는 번호 그룹 <b>6개를 선택</b>하고, 
                            <b class="strong">압축 조합을 누르기만 하면 끝!</b>
                            <br> 가장 편리하게, 초보자도 쉽게 이용할 수 있습니다. 
                        </p>
                    </div>

                </div><!-- //mix_about_service -->




                
            </article>



        </section><!-- //content -->
    </div>
</div>
<!-- footer include -->
<script src="../../resources/lib/jquery-1.12.4.min.js"></script>

</body>
</html>