<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>로또 통계자료 전체보기 | 로또팡</title>
    <script src="../../resources/lib/swiper.min.css"></script>
    <link rel="stylesheet" href="../../resources/css/common-ui.css">
</head>
<body>
<div id="skipnavi">
    <a href="#container">본문바로가기</a>
</div>
<header id="header">
    <h1 class="logo">
        <a href="#">
            <img src="../../resources/img/common/img_header_logo.png" alt="로또팡">
        </a>
    </h1>
    <nav id="gnb" class="swiper-container">
        <h2 class="blind">글로벌 네비게이션</h2>
        <ul class="gnb swiper-wrapper">
            <li class="swiper-slide"><!-- class="on" 활성화 -->
                <a href="#subMenu1">로또팡 조합기</a>
            </li>
            <li class="swiper-slide">
                <a href="#subMenu2">비법 자료</a>
            </li>
            <li class="swiper-slide">
                <a href="#subMenu3">조합 서비스</a>
            </li>
            <li class="swiper-slide">
                <a href="#subMenu4">대세 추천번호</a>
            </li>
            <li class="swiper-slide">
                <a href="#subMenu5">연금복권</a>
            </li>
        </ul>
        <ul class="sub_gnb">
            <li class="depth" id="subMenu1">
                <ul>
                    <li><a href="#">로또팡 조합기 안내</a></li>
                    <li><a href="#">로또팡 조합기 실행</a></li>
                    <li><a href="#">[통계]역대 그룹핑 결과</a></li>
                    <li><a href="#">[통계]그룹출현현황 분석</a></li>
                    <li><a href="#">[통계]회차별 그룹핑 현황</a></li>
                </ul>
            </li>
            <li class="depth" id="subMenu2">
                <ul>
                    <li><a href="#">로또 통계자료 전체보기</a></li>
                    <li><a href="#">로또 비법자료 전체보기</a></li>
                </ul>
            </li>
            <li class="depth" id="subMenu3">
                <ul>
                    <li><a href="#">로또팡 조합법 전체보기</a></li>
                    <li><a href="#">사주로 확인하는 조합법</a></li>
                    <li><a href="#">추천! 조합법</a></li>
                    <li><a href="#">2등~5등 최소보장조합법</a></li>
                    <li><a href="#">로또팡 추천조합법</a></li>
                    <li><a href="#">독점공개! 올인조합법</a></li>
                    <li><a href="#">my 조합법</a></li>
                </ul>
            </li>
            <li class="depth" id="subMenu4">
                <ul>
                    <li><a href="#">대세 추천번호 안내</a></li>
                    <li><a href="#">추천번호 빨리 받기</a></li>
                    <li><a href="#">사용자조건 추천번호 받기</a></li>
                    <li><a href="#">3등, 4등 보장조합</a></li>
                </ul>
            </li>
            <li class="depth" id="subMenu5">
                <ul>
                    <li><a href="#">연금복권 당첨결과 종합</a></li>
                    <li><a href="#">연금복권 빠른 당첨 조회</a></li>
                    <li><a href="#">연금복권 지난 당첨 결과</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <button type="button" class="btn_side_navi">사이드메뉴보기</button>
    <div class="side_wrap" id="sideMenu">
        <section class="side_menu_section">
            <h2 class="blind">사이드메뉴영역</h2>
            <div class="login_after_sec"><!--  로그인 후 -->
                <div class="head_info">
                    <a href="#" class="login_status">로또팡 아이디 <span>님</span></a>
                </div>
                <div class="mini_info">
                    <p class="my_coin">
                        <span class="name">MY 코인</span>
                        <span class="money">500원</span>
                    </p>
                    <button type="button" class="link_btn">로그아웃</button>
                </div>
                <div class="box_wrap"><!-- 이용권 구매전 -->
                    <strong class="my_fee">무료회원</strong>
                    <p class="terms">자유이용권을 구매해주세요.</p>
                    <div class="btn_wrap" data-align="center">
                        <a href="#" class="btn_link">자유이용권 구매</a>
                    </div>
                </div><!-- //이용권 구매전 -->
                <div class="box_wrap"><!-- 이용권 구매후 -->
                    <strong class="my_fee">3개월 자유이용권</strong>
                    <p class="terms">2017.10.19 ~ 2018.01.18 (30일 남음)</p>
                    <div class="btn_wrap" data-align="center">
                        <a href="#" class="btn_link">로또팡 로또 조합기</a>
                    </div>
                </div><!-- //이용권 구매후 -->
                <div class="box_wrap">
                    <h3 class="box_title">마이페이지</h3>
                    <ul class="link_list">
                        <li><a href="#">내 정보</a></li>
                        <li><a href="#">마이조합 관리</a></li>
                        <li><a href="#">자유이용권 구매</a></li>
                        <li><a href="#">쿠폰 결제하기</a></li>
                        <li><a href="#">내 정보</a></li>
                        <li><a href="#">내 정보</a></li>
                    </ul>
                </div>
                <div class="box_wrap">
                    <h3 class="box_title">고객센터</h3>
                    <ul class="link_list">
                        <li><a href="#">1:1 고객센터</a></li>
                        <li><a href="#">자주하는 질문 및 답변</a></li>
                        <li><a href="#">공지사항</a></li>
                    </ul>
                </div>
            </div><!-- //로그인 후 -->
            <button type="button" class="btn_nav_close">닫기</button>
        </section>
    </div>
    <a href="#" class="btn_member_join">회원가입</a>
</header>
<div id="container">
    <section id="content">
        <h2 class="page_title">로또 비법자료 전체보기</h2>
        <div class="sub_title">
            <h3>비법자료 전체보기</h3>
        </div>
        <div class="box_wrap">
            

            <div class="page_title_banner" data-type="banner"><!-- 예상번호 상단 Sub Heading -->
                <strong class="sub_tit">비법 &amp; 희귀통계 <span class="keyword">OPEN</span></strong>
                <div class="desc">
                    <a href="">
                        100% 적중 예상수, 제외수 뽑기!
                        <span class="link_fake">바로가기</span>
                    </a>
                </div>
            </div>
            
            <ul class="list_all_keyitem">
                <li data-icon="type1">로또당첨번호<br>텍스트 버전</li>
                <li data-icon="type2">당첨번호<br>홀짝 출현현황</li>
                <li data-icon="type3">최근 10주동안<br>당첨번호<br>중복횟수 현황</li>
                <li data-icon="type4">로또 3커플수<br>1등당첨 출현현황</li>
                <li data-icon="type5">1등에 당첨된다면<br>돈을 어디에 쓸까요?</li>
            </ul>
        

             <div class="swiper-container tab_wrapper" id="allItemTab">

                <ul class="tab swiper-wrapper" >
                    <li class="swiper-slide on"><a href="#">서랍장</a></li>
                    <li class="swiper-slide"><a href="#">당첨 관련자료</a></li>
                    <li class="swiper-slide"><a href="#">조회 관련자료</a></li>
                    <li class="swiper-slide"><a href="#">스페셜 분석</a></li>
                    <li class="swiper-slide"><a href="#">추천자료</a></li>
                    <li class="swiper-slide"><a href="#">MY 모음</a></li>
                </ul>
            </div>


            
            <ol class="list_all_item"><!-- list_all_item -->
                <li>
                    <!-- 
                        [COMMENT] 앵커안에 앵커가 있는 기획구조(ex:플러스 이용권 구매)여서,
                        부득이하게 이미지에 한번 a를 감싸고, list 설명문구에도 별도로 a 를 감싸는 구조로 제작했습니다.
                        두개의 앵커 모두 처리 부탁드립니다.

                        img 크기 : (W)130 / (H)120
                     -->
                    <div class="row">
                        <div class="img">
                            <a href="#"><img src="" alt="" class="src"></a>
                        </div>
                    
                        <div class="desc">
                            <a href="#">
                                <strong>1. 로또 용어 정리</strong>
                                <p>로또 당첨 연구에 쓰이는 각종 용어들이 손쉽게 정리되어 있습니다.<br>또한, 읽기 귀찮으신가요? 음성 해설을 들어보세요.</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="img">
                            <a href="#"><img src="" alt="" class="src"></a>
                        </div>
                        <div class="desc">
                            <a href="#">
                                <strong>2. 당첨번호 재출현 주기 분석</strong>
                                <p>기존에 당첨번호만 안내해주는 통계와는 달리 당첨번호와 함께 해당 당첨번호들이 얼마 만에 다시 당첨번호로 나왔는지 확인 가능합니다.</p>
                            </a>
                        </div>
                    </div>
                    <p class="tip">얼마만에 당첨번호로 출현하는지 확인한 후에 2번 각 번호별 최근 당첨번호 출현자료와 함께 사용하면 좋습니다.</p>
                </li>
                <li>
                    <div class="row">
                        <div class="img">
                            <a href="#"><img src="" alt="" class="src"></a>
                        </div>
                        <div class="desc">
                            <a href="#">
                                <strong>3. 당첨번호 출현횟수 분석</strong>
                                <p>45개 각 번호별로 최근에 당첨번호로 출현한 회차와 얼마의 기간이 지났는지 확인하실 수 있습니다</p>
                            </a>
                        </div>
                    </div>
                    <p class="tip">가장 오랫동안 당첨번호로 출현하지 않은 번호가 뭔가요? 그 번호를 한번 예상번호로 넣어서 조합해 보세요.</p>
                </li>
                <li>
                    <div class="row">
                        <div class="img">
                            <a href="#"><img src="" alt="" class="src"></a>
                        </div>
                        <div class="desc">
                            <a href="#">
                                <strong>4. 6개 조합 분석</strong>
                                <p>꿈속에서 조상님이 알려주신 숫자… 6개 번호는 아닌데 혹시 로또일련번호 ?<br>일련번호를 입력하면 해당 조합을 확인할 수 있습니다. 국내유일!</p>
                            </a>
                        </div>
                    </div>
                        
                    <p class="tip">본 자료는 플러스 회원님께만 공개됩니다. <a href="" class="link_page">플러스 회원권 구매</a> </p>
                </li>
            </ol><!-- //list_all_item -->


        </div>
    </section>
</div>
<div class="bottom_section">
    <footer id="footer">
        <ul class="foot_util">
            <li><a href="#">로그인</a></li>
            <li><a href="#">PC버전</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">제휴문의</a></li>
        </ul>
        <address>
            <span class="company">(주)테크앤조이</span>
            대표자 : 서주형 ㅣ  사업자 등록번호 :  000-00-000000 <br>
            통신판매업 신고번호 : 제2017-서울용산-00000호  ㅣ  TEL : 02-000 - 0000 <br>
            FAX : 02-0000-0000  ㅣ  E-mail : <a href="mailto:help@lottopang.co.kr">help@lottopang.co.kr</a><br>
            주소 : 도로명주소:서울특별시 용산구 한강대로7길 38(한강로3가) 
        </address>
        <p class="copyright">
            copyright&copy;lottopang all right reserved.
        </p>
    </footer>
    <aside class="bottom_util">
        <button type="button" class="btn_home_add">로또팡 홈화면에 바로가기 추가</button>
        <div class="link_spot">
            <a href="#" class="home">홈으로</a>
            <a href="#header" class="up">위로</a>
        </div>
        <dl class="week_lotto_info">
            <dt>
                <b>782</b>회차 <br>
                <strong>로또 당첨 번호</strong>
            </dt>
            <dd>
                <span class="ball_n1th">6</span>
                <span class="ball_n10th">18</span>
                <span class="ball_n10th">19</span>
                <span class="ball_n20th">24</span>
                <span class="ball_n30th">34</span>
                <span class="ball_n40th">41</span>
                <span class="plus">+</span>
                <span class="ball_n20th" title="보너스번호">20</span>
            </dd>
        </dl>
    </aside>
</div>
<script src="../../resources/lib/jquery-1.12.4.min.js"></script>
<script src="../../resources/lib/swiper.min.js"></script>
<script src="../../resources/js/common-ui.min.js"></script>
<script>

    var swiperTab = new Swiper('#allItemTab', {
        slidesPerView: 'auto',
        spaceBetween: 0
    });

</script>
</script>
</body>
</html>